<p style="margin:0 0px; " align="left">

    <font class="page-title">
				Kondom</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" color="#D80075">Erkek prezervatifi 
				(kondom) </font><font face="Tahoma" size="2" color="#635B52">
				erkekler için, kalıcı olmayan korunma sağlamada kullanılan bir 
				metottur. Lateks, poliüretan veya hayvan bağırsaklarından 
				yapılan tipleri vardır, ilişkiden hemen önce sertleşmiş erkeklik 
				organı üzerine geçirilerek kullanılır. Meninin kadın vajinasına 
				boşalmasına engel olarak etki eder.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" color="#D80075">Koruma oranı:</font><font face="Tahoma" size="2" color="#635B52"> 
				erkek prezervatifinin koruyuculuğu %85 civarındadır. Bunun 
				anlamı: bu metodu tercih eden 100 çiften 15 inin bir yıl süre 
				sonunda gebe kalmış olacağıdır. Vajinal spermisidlerle beraber 
				kullanıldığında korunma oranı artar. Başarısızlık nedenleri 
				genelde: kondomun uygun şekilde takılmaması, yırtılması, 
				delinmesi veya ilişki sırasında çıkmasına bağlıdır.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" color="#D80075">Yan etkileri:</font><font face="Tahoma" size="2" color="#635B52"> 
				bazı kişilerde lateks alerjisi görülebilmektedir. Böyle 
				durumlarda poliüretan veya bağırsaktan imal edilmiş ürünler 
				tercih edilebilir. Prezervatifler, kadında ve erkekte seksten 
				alınan hazzı azaltabilmektedir.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" color="#635B52">Kondom, cinsel yolla 
				bulaşan hastalıklardan korunma HIV enfeksiyonu riskini azaltmada 
				en etkili metottur. Hayvan bağırsaklarından yapılmış olan 
				kondomlar virüslerin ( HIV, hepatit B, herpes) geçmesine izin 
				verebilecek delikler içerirler dolayısı ile diğer kondom tipleri 
				kadar hastalıklardan koruyucu olamazlar. Sperm öldürücü 
				nonoxynol-9 içeren kondomlar bazen ciltte tahriş nedeni 
				olabilirler. Tahriş olmuş bir cilt HIV virüsü alma riskini 
				artırabilir. Benzer tahriş kondomun Vajinal spermisidlerle 
				beraber kullanılması durumunda da oluşabilir.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; line-height:110%; " align="center">

    <img border="0" src="img/condommen.jpg">
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" color="#D80075">Erkek prezervatifi 
				nasıl kullanılmalı:</font><font face="Tahoma" size="2" color="#635B52"> 
				prezervatif kullanmaya karar verdi iseniz: prezervatif, penis 
				vajina ile temas etmeden önce takılmalıdır. Prezervatiflerin 
				dikkatli,doğru ve sürekli olarak kullanılması önemlidir.ilave 
				olarak aşağıdaki hususlara da dikkat edilmelidir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" color="#635B52">Son kullanma tarihine 
				dikkat edin, son kullanma tarihi geçmiş ise kullanmayınız.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" color="#635B52">Ambalajı dikkatli 
				açın. Ambalajı açarken diş veya tırnaklarınızı kullanmayın.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" color="#635B52">Kayganlaştırıcı 
				kullanmanız gerekiyor ise su bazlı kayganlaştırıcılar kullanın, 
				yağ bazlı kayganlaştırıcılar kondomun delinmesine veya 
				yırtılmasına neden olabilirler.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" color="#635B52">Kondomu 
				yerleştirirken oluşabilecek hava kabarcıklarını düzeltin, bu tür 
				kabarcıklar ilişki sırasında kondomun yırtılmasına veya 
				çıkmasına neden olabilir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" color="#635B52">Kondomları serin ve 
				kuru bir yerde saklayın: sıcak, ışık ve hava akımlarına maruz 
				kalan kondomların yırtılma şansı daha fazladır. Kondomları 
				cüzdan, pantolon cebi, torpido gözü gibi yerlerde uzun süre 
				saklamayın.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" color="#635B52">Cinsel ilişkiden 
				sonra, kondomu hemen çıkarın. Her ilişki için ayrı bir kondom 
				kullanın.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">Kadın kondomu</font><font face="Tahoma" color="#635B52" size="2"> 
				yumuşak poliüretandan yapılmış ve iki ucunda birer tane halka 
				içeren yapıya sahiptir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Kapalı olan uçtaki 
				halka vajinanın içine yerleştirilir ve bu halka kondomun ilişki 
				sırasında vajina içinde kalmasını sağlar. Açık olan uçtaki halka 
				vajinanın dışında kalır.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">Koruma oranı: </font>
    <font face="Tahoma" color="#635B52" size="2">Kadın kondomunun 
				koruyuculuğu %79 olarak bildirilmektedir. Bir başka deyişle bu 
				metodu kullanan 100 kadından 21 i bir yıl içinde gebe 
				kalacaktır.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">Yan etkiler ve sağlık 
				riskleri: </font><font face="Tahoma" color="#635B52" size="2">
				Bazı kadınlarda vajina veya vulvada tahriş görülebilmektedir. 
				Bazı çiftler ilişki sırasında daha az hissettiklerini söylerken 
				bazıları da ilişki sırasında ses çıkarttığından şikâyet 
				etmektedir. Kadın kondomları poliüretandan yapılmış oldukları 
				için lateks alerjisi olanlar da kullanabilmektedir. Kadın 
				kondomları HIV dahil olmak üzere cinsel yolla bulaşan 
				hastalıklardan korumaktadır. </font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; line-height:110%; " align="center">

    <img border="0" src="img/condom.jpg" >
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">Kadın kondomunu nasıl 
				kullanmalı? </font><font face="Tahoma" color="#635B52" size="2">
				Eğer kadın kondomu kullanmaya karar veririnseniz, penis vajina 
				ile temas etmeden önce yerleştirmeniz gerekecektir. Bunun için 
				önce kondomun kapalı ucuna kayganlaştırıcı uygulamanız ve daha 
				sonra da bu uçtaki halkayı iki parmağınız arasında iyice 
				sıkıştırıp tampon yerleştiriyormuş gibi vajinanın iyice içine 
				doğru ittirmeniz gerekecektir. Dış halka vajinadan 2-2.5 cm 
				kadar sarkacak şekilde yerleşecektir. Kadın kondomu ilişkiden 8 
				saat öncesine kadar yerleştirilebilir. İlişki sırasında 
				gerekirse ilave kayganlaştırıcı kullanabilirsiniz. Kadın 
				kondomu, yağ bazlı ve su bazlı kayganlaştırıcılarla 
				kullanılabilir. kadın ve erkek kondomu birlikte 
				kullanılmamalıdır zira kondomların yırtılma ihtimali 
				artmaktadır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">İlişki sonrası 
				kondomu çıkartmak için önce dıştaki halkayı tutarak kondomu uzun 
				ekseni etrafında kıvırıp dışarı çekin, daha sonrada çöpe atın. 
				Her ilişkide ayrı bir kondom kullanmanız gereklidir.</font>
</p>