<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Diyafram</font><font face="Tahoma" size="2"></font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				İstenmeyen gebelikten korunmak ve aile planması yapmak isteyen 
				çiftler, pek çok doğum kontrol yöntemi uygulayabilirler. bu 
				uygulamalardan bir tanesi de, diyafram uygulaması. Diyafram, 
				İnce plastikten yapılmış, rahmin vajene açılan kısmına, yani 
				rahim ağzına yerleştirilen bir kapaktır. Spermlerin rahme 
				geçişini engelleyerek gebelikten korur. Kadın, her cinsel ilişki 
				öncesinde diyaframı kendi yerleştirir, cinsel ilişki sonrasında 
				ise çıkarır.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%" align="center">

    <img border="0" src="img/diaphragm.jpg" >
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Diyafram uygulaması;</font><font face="Tahoma" color="#635B52" size="2"> 
				rahim ağzını örten, kenarları sert, kauçuk bir araç olan 
				diyaframın vaginaya yerleştirilmesiyle yapılır. Diyafram, bir 
				daire şeklini alarak, rahim ağzını kapatacak şekilde görev 
				yapar. Servikal açıklığa uygulanan, sperm öldürücü jel ya da 
				krem ile birlikte kullanılır. Rahim ağzı ve diyafram, şekil 
				olarak birbirine benzer yapıdadır. Fakat, diyafram biraz daha 
				sivridir. Serviksin (rahim ağzı) girişi 'kapatıldığı' için, 
				spermler geçemez. Her zaman birlikte kullanılması gereken 
				spermisid jel, spermi öldürür, ya da hareketsiz kılar. 
				Serviksiniz için uygun ebatta olup olmadığını anlamak için, ilk 
				kullanımda doktor veya hemşire tarafından yerleştirilmesinde 
				fayda vardır. En erken olarak, cinsel ilişkiden 6 saat önce 
				yerleştirilmeli ve cinsel ilişkiden 6-8 saat sonra (en geç 24 
				saat sonra) çıkartılmalıdır. Koruyuculuk oranı % 85'dir. Cinsel 
				ilişkide bulunduğunuz her seferinde kullanılmalıdır, cinsel 
				ilişki sırasında, yerinden çıkabilir, yerine yerleştirmesi 
				karmaşık gelebilir, her cinsel ilişkiden önce, spermisidin 
				yenilenmesi gerekmektedir, cinsel yolla bulaşan hastalıklara 
				karşı koruyucu değildir, bazı kadınlar spermiside ve latekse 
				karşı alerjiktirler. Bu sebeplerden dolayı, pek tercih edilen 
				bir yöntem değildir. Diyafram, hekimin muayenesi ve rahim 
				ağzının ölçüsünün alınmasından sonra, sipariş verilir ve her 
				kadın için, rahim ağzına uygun boyutta özel yapılır. Bu yöntemi 
				kullanmaya başlamadan önce, danışmanlık alınarak daha etkili 
				yöntemler hakkında bilgi sahibi olunması, kullanmak isteyen 
				kişiye uygun bir yöntem olup olmadığına karar verilmesi için bir 
				sağlık kuruluşuna (sağlık ocağı, ana çocuk sağlığı ve aile 
				planlaması merkezleri ve hastanelerde) başvurulması daha uygun 
				olur.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; line-height:110%" align="center">

    <img border="0" src="img/vaginalring2.jpg">
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Diyaframın olumlu yönleri nelerdir?</font>
</p>
<ul style="text-align: left; margin-left: 16; margin-right: 0; margin-top: 0; margin-bottom: 0" type="square">
    <li>
        <p style="margin:0 0px; line-height:110%" align="left">
            <font face="Tahoma" color="#635B52" size="2">Kadın kendi 
						kendine uygulayabilir</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%" align="left">
            <font face="Tahoma" color="#635B52" size="2">Sperm 
						öldürücü, Tablet ve fitiller ile birlikte 
						kullanıldığında, hem gebeliği önleme hem de cinsel yolla 
						bulaşan enfeksiyonların bulaşmasını engelleme de etkisi 
						artar.</font>
        </p>
    </li>
</ul>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Diyaframın olumsuz yönleri nelerdir?</font>
</p>
<ul style="text-align: left; margin-left: 16; margin-right: 0; margin-top: 0; margin-bottom: 0" type="square">
    <li>
        <p style="margin:0 0px; line-height:110%" align="left">
            <font face="Tahoma" color="#635B52" size="2">Diğer 
						gebeliği önleyici modern yöntemler kadar etkili 
						değildir.</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%" align="left">
            <font face="Tahoma" color="#635B52" size="2">Cinsel 
						ilişkiyi kesintiye uğratır.</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%" align="left">
            <font face="Tahoma" color="#635B52" size="2">Cinsel 
						ilişki sonrasında etkili olması için 6 saat daha rahim 
						ağzında kalması gerekmektedir.</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%" align="left">
            <font face="Tahoma" color="#635B52" size="2">Kadının 
						doğum yapması, üreme organlarından ameliyat olması veya 
						fazla kilo alması/vermesi gibi durumlar söz konusu ise 
						tekrar rahim ağzının ölçüsü alınarak yeni bir diyafram 
						yaptırılması gerekir.</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%" align="left">
            <font face="Tahoma" color="#635B52" size="2">Kolay 
						bulunmayabilir, pahalıdır.</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%" align="left">
            <font face="Tahoma" color="#635B52" size="2">Diyafram 
						çıkarıldıktan sonra yıkanır, kurulanır ve özel saklama 
						kabına yerleştirilir.</font>
        </p>
    </li>
</ul>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Kimler kullanamaz?</font>
</p>
<ul style="text-align: left; margin-left: 16; margin-right: 0; margin-top: 0; margin-bottom: 0" type="square">
    <li>
        <p style="margin:0 0px; line-height:110%" align="left">
            <font face="Tahoma" color="#635B52" size="2">Rahmi 
						geriye dönük olan kadınlara,</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%" align="left">
            <font face="Tahoma" color="#635B52" size="2">Mesanesi ve 
						rahmi aşağı sarkmış kadınlara,</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%" align="left">
            <font face="Tahoma" color="#635B52" size="2">Sık sık 
						idrar yolu enfeksiyonu geçiren kadınlara uygun değildir.</font>
        </p>
    </li>
</ul>
<p style="margin:0 0px; line-height:110%" align="left">&nbsp;</p>
<p style="margin:0 0px; line-height:110%" align="left">
    <font face="Tahoma" size="2">*</font><font face="Tahoma" size="2" color="#635B52"> 
					Erkekte ve kadında nadiren yanma, kızarıklık, kaşınma gibi 
					belirtiler gösteren alerji görülebilir.</font>
</p>