<p style="margin-top: 0; margin-bottom: 0; margin-left:0px" align="left">
    <font class="page-title">
				İmplanon</font><font face="Tahoma" size="2"></font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%" align="center">

    <img border="0" src="img/implanon.jpg" >
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				İmplanon</font><font face="Tahoma" color="#635B52" size="1"><span style="vertical-align: super">®</span></font><font face="Tahoma" color="#635B52" size="2">
				kibrit çöpü büyüklüğünde ve üç yıl süre ile progesteron 
				salgılayan ürünlerdir. Bu ürün özel bir enjektör vasıtası ile 
				cilt altına yerleştirilir ve çıkarılmak istendiğinde de ufak bir 
				kesi yapılarak dışarı alınır.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Koruyuculuk: </font>
    <font face="Tahoma" color="#635B52" size="2">
				Koruyuculuk %99 civarındadır. Yani kullanıcı her 100 kadından 
				sadece bir tanesi bir yıl içinde gebe kalmaktadır.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Yan etkiler ve sağlık riskleri: </font>
    <font face="Tahoma" color="#635B52" size="2">
				Düzensiz kanama ve lekelenmelere neden olabilir. Bazı kadınlarda 
				ise adet tamamen kesilebilmektedir. Diğer yan etkiler sivilce 
				oluşumu, baş ağrıları ve kilo değişiklikleridir.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Nasıl uygulanır?</font><font face="Tahoma" color="#635B52" size="2">
				Bu metodu tercih ettiğinizde doktorunuz üst kolunuzun iç 
				tarafına özel bir enjektör vasıtası ile implanonu 
				yerleştirecektir.</font>
</p>