<p style="margin:0 0px; " align="left">

    <font class="page-title">
				Servikal Başlık</font><font face="Tahoma" size="2"></font>
</p>
<p style="margin-top: 13px; margin-bottom: 0; line-height:110%; " align="center">

    <img border="0" src="img/cervcalcap.jpg" >
</p>
<p style="margin-top: 14px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Kauçuktan yapılmış, yüksük şeklinde veya denizci şapkası 
				şeklinde bir alettir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Rahim ağzını kapatarak spermlerin rahim içine girmesini 
				engelleyerek etkili olur. Çok fazla yaygınlık kazanmamıştır.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Koruma oranı: </font>
    <font face="Tahoma" color="#635B52" size="2">
				Çocuk doğurmamış kadınlarda koruyuculuğu %86 olarak rapor 
				edilmektedir. Yani bu metodu kullanan 100 kadından 14ü bir yıl 
				içinde gebe kalacaktır. Doğum yapmış kadınlarda ise koruyuculuk 
				%71 e gerilemektedir. Bunun nedeni doğum ile beraber rahim 
				ağzımım şeklinin değişmesi ve servikal şapkanın 
				yerleştirilmesinin zorlaşmasıdır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Servikal şapka ile olan başarısızlıkların en önemli nedeni 
				ilişki sırasında şapkanın yerinden çıkmasıdır.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2"  class="title-color">
				Yan etkiler ve sağlık riskleri: </font>
    <font face="Tahoma" color="#635B52" size="2">
				Yan etkiler nadirdir. Bazı kadınlar şapka yerleştirilirken 
				kullanılan sperm öldürücü ilaçtan dolayı tahriş bulguları 
				gösterebilirler. Nadir görülmekle beraber aşağıda listelenen 
				problemler görülebilmektedir:</font>
</p>
<ul style="text-align: left; margin: 0 16" type="square">
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">İdrar yolu 
						enfeksiyonları</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Vajinal 
						enfeksiyonlar</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Takılı 
						olarak uzun süre kalması halinde toksik şok sendromu
						</font>
        </p>
    </li>
</ul>
<p style="margin:0 0px; line-height:110%; " align="left">&nbsp;</p>
<p style="margin:0 0px; line-height:110%; " align="left">
    <font face="Tahoma" color="#635B52" size="2">Servikal şapka, 
					cinsel yolla bulaşan hastalıklara karşı koruyucu değildir.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" size="2" class="title-color">Nasıl kullanılır?</font><font face="Tahoma" color="#635B52" size="2"> 
					Bu metodu kullanmaya karar verdiğinizde doktorunuz size 
					uygun ebatta olan bir servikal şapka önerecek ve nasıl 
					yerleştireceğinizi öğretecektir. Koruyuculuğun artması için 
					takmazdan önce içine krem, köpük veya jel şeklinde sperm 
					öldürücü sıkılarak kullanılmalıdır. İlişkiden 6 saat 
					öncesine kadar takılabilir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" size="2">Cinsel 
					ilişkiden sonra en az 6 saat çıkarılmadan yerinde 
					bırakılmalıdır. İlişkiden sonra iki güne kadar yerinde 
					bırakılabilir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" size="2">Çıkarıldıktan 
					sonra ılık sabunlu su ile yıkanıp kurumaya bırakılır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" size="2">Uygun bakım ile 
					aynı cihaz iki yıla kadar kullanılabilir. Fakat siz düzenli 
					aralıklarla delikler ve yırtıklar açısından servikal şapkayı 
					kontrol etmelisiniz.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" size="2">Bazı kadınlar 
					aşağıdaki nedenlerle bu metodu kullanamazlar</font>
</p>
<ul style="text-align: left; margin: 0 16" type="square">
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Rahim 
						ağzının pozisyon ve şekli uygun olmayabilir</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Vajina çok 
						gevşek ise</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Enfeksiyon 
						veya bu bölgedeki derin bir yara olması halinde</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Bu metot 
						kanama varlığında kullanılamaz.</font>
        </p>
    </li>
</ul>