<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Vazektomi (Erkek Sterilasyonu)</font><font face="Tahoma" size="2"></font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Erkeklere yönelik kalıcı bir doğum kontrol metodudur. 
				Testislerden spermlerin iletildiği Vas Deferens isimli kanalın 
				tıkanması- kesilmesi esasına dayanır. </font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px" align="center">

    <img border="0" src="img/mentup.jpg" >
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Koruyuculuk: </font>
    <font face="Tahoma" color="#635B52" size="2">
				Vasektominin koruyuculuğu %99 dan fazladır. Bu işlemin bir 
				özelliği koruyuculuğun hemen başlamamasıdır. İşlemin üzerinden 
				yaklaşık üç ay geçtikten sonra menideki sperm sayısı 0 a düşer. 
				Bu nedenle bu süre içinde ilave bir metotla korunmanız 
				gerekecektir.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Geri dönüş:</font><font face="Tahoma" color="#635B52" size="2"> 
				Vasektomiden geri dönüş, genel anestezi altında yapılan komplike 
				bir operasyon gerektirir. Bu yüzden vasektomi yaptırmaya karar 
				veren erkek bir daha çocuk sahibi olmak istemediğinden emin 
				olmalıdır.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Yan etkiler ve sağlık riskleri: </font>
    <font face="Tahoma" color="#635B52" size="2">
				Vasektomi sonrası ciddi yan etkiler nadirdir. Ameliyat yerinde 
				morluk ve şişlikler görülebilir. Nadiren ameliyat yerinde 
				enfeksiyon gelişebilir, bu durumda size antibiyotik tedavisi 
				uygulanacaktır. Vasektomi bir erkeğin ereksiyon ve orgazm 
				kapasitesini etkilemez. Bu operasyon sizi cinsel yolla bulaşan 
				hastalıklardan korumaz.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Nasıl yapılır:</font><font face="Tahoma" color="#635B52" size="2"> 
				Lokal anestezi altında erkeğin skrotumuna (torbalar) yapılan iki 
				minik kesikten girilip Vas Deferens lerin bağlanması, koterizle 
				(elektrikle yakılması) veya cerrahi klipslerle sıkıştırılması 
				ile gerçekleştirilir.</font>
</p>