<p style="margin:0 0px; " align="left">

    <font class="page-title">
        <i class="ion-egg"></i>
				HPV Aşısı (Rahim Ağzı Kanser Aşıları)</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; line-height:110%; " align="center">

    <img src="img/jinekolojiimg25.jpg" style="width:100%">
    
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Human Papiloma Virus (HPV) ABD’de en sık görülen cinsel temasla 
				bulaşan hastalıklar arasındadır. Bu ülkede HPV virusu her yıl 
				6.2 milyon insana bulaşmaktadır. HPV’nin kadın nüfusta her ne 
				kadar bazı önemli hastalıklara sebep olduğu bilinmekte ise de 
				erkeklerde de hastalıklara neden olmakta veya kadınlara 
				bulaştırılmaktadır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Gardasil (HPV aşısı) canlı virus taşımayan bir aşı olup 6 aylık 
				süre içerisinde 3 doz şeklinde uygulanmaktadır. Rahim ağzı 
				kanseri ve genital siğillere neden olan 4 tip viruse karşı 
				yüksek derecede etkin bir aşı olarak kabul edilmektedir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Aşı hangi yaş aralığında yapılmalıdır?</font><font face="Tahoma" color="#635B52" size="2"><br>
				HPV aşısı 12-26 yaş arasında genç kızlara ve en erken 9 yaş 
				başlangıç olarak yapılabilmektedir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Neden bu kadar genç yaşta önerilmektedir?</font><font face="Tahoma" color="#635B52" size="2"><br>
				Cinsel yaşam başlamadan önce ve HPV tiplerinden her hangi biri 
				ile karşılaşmamış olmak aşıdan en yüksek korunmayı 
				sağlamaktadır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Cinsel aktivitesi olanlarda aşı faydalı mıdır?</font><font face="Tahoma" color="#635B52" size="2"><br>
				Cinsel yaşamı başlamış olan kadınlarda aşı koruyucu olmasına 
				rağmen, cinsel teması olmamış kişilere göre daha az 
				korunmaktadırlar. Bunun nedeni cinsel yaşamı başlamış olanlarda 
				bazı HPV tipleri bulaşmış olabileceğinden aşının koruma gücünde 
				azalma oluşmaktadır. Buna rağmen herhangi bir HPV tipinde 
				bulaşma olsa dahi diğer 3 tipe karşı korumanın devam ettiği 
				görülmektedir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Neden 9-26 yaş arası gibi bir aralık söz konusudur?</font><font face="Tahoma" color="#635B52" size="2"><br>
				HPV aşısının etkinliği ile ilgili çalışmalar başlangıç olarak bu 
				yaş aralığını kapsamış ve yetkili ilaç kontrol kurumları 
				tarafından sertifiye edilmiştir. Yakın zamanda 26 yaş üzerine 
				çalışmalar başlamış, bazı sonuçlar elde edilmiştir. Halen ilaç 
				izin komisyonları 9-26 yaş aralığını esas almaktadır. (CDC 
				guidelines 2006).</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Erkeklerde aşı yapılabilinir mi?</font><font face="Tahoma" color="#635B52" size="2"><br>
				Kanıta dayalı tıp açısından erkeklerde HPV aşısına ait kesin bir 
				kanıt henüz yeterli değildir. Dolaylı veri ve bulguların ışığı 
				altında penis, anüs kanseri ve genital siğil gibi patalojiler 
				üzerinde yararları olacağı düşünülmektedir. Bilimsel 
				çalışmaların seyrine göre erkeklerin aşılanmasının, kadınları da 
				bazı kanser tiplerinden dolaylı olarak koruyacağı 
				düşünülmektedir. Fakat elimizde kesin kanıtlar olmaması nedeni 
				ile henüz erkekler üzerinde aşılama protokolleri söz konusu 
				değildir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Gebe kadınlar aşı olabilir mi?</font><font face="Tahoma" color="#635B52" size="2"><br>
				HPV aşısı halen gebelerde önerilmemektedir. Gebelerde ve anne 
				karnındaki bebekler üzerinde, aşının yan etkileri üzerine 
				yeterli kanıt ve araştırmalar yoktur. Bugüne kadar yapılan 
				çalışmalar, gebelerde ve yeni doğan üzerinde istenmeyen 
				etkilerini göstermemiş olmasına rağmen ,mevcut çalışmalar kesin 
				kanıt açısından yetersiz kalmaktadır. Mevcut bilgiler, gebeliğin 
				sona ermesinden sonra aşıların başlamasını veya eksiklerin 
				tamamlanmasını önermektedir. Aşının ilk dozu yapıldıktan sonra 
				gebeliğini fark eden gebelerin diğer aşılarını gebeliğin 
				sonlanmasından sonra devam etmesi gerekmektedir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				HPV aşısının etkinliği ne kadar?</font><font face="Tahoma" color="#635B52" size="2"><br>
				HPV aşısı 4 tip viruse karşı yüzde yüz koruma sağlamaktadır. Bu 
				4 tip virüsün oluşturabileceği serviks, vulva ,vagina 
				prekanseröz oluşumlarını ve genital siğillerini engellemektedir. 
				Yukarıda belirtilen bu yüksek oranlı koruma 9-26 yaş arasında 4 
				tip HPV enfeksiyonu ile hiç karşılaşmamış kişileri 
				kapsamaktadır. HPV’ nin 4 adet tipinden her hangi biri ile 
				karşılaşmış bireylerde bu koruma oranları düşmektedir. HPV 
				aşısının mevcut prekanseröz lezyonları veya genital siğilleri 
				tedavi edici özelliği kesinlikle yoktur. Koruyucu etki ile 
				tedavi edici etkileri karıştırmamak son derece önemlidir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				HPV aşısı kaç yıl süre ile koruyuculuğunu devam etmektedir?</font><font face="Tahoma" color="#635B52" size="2"><br>
				Aşının kaç yıl süre koruduğu kesin olarak bilinmemektedir. 
				Bugüne kadar yapılan bilimsel çalışmalar, aşının koruyuculuğunun 
				en az 5 yıl olduğunu kanıtlamıştır. Koruyuculuğun 5 yıl üzerinde 
				olabileceği düşünülmektedir fakat yeterli çalışmalar henüz elde 
				yoktur.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				HPV aşısının yetersiz kaldığı noktalar nelerdir?</font><font face="Tahoma" color="#635B52" size="2"><br>
				Aşının bütün HPV virüslerine karşı koruma sağlamaması nedeni ile 
				genital kanser ve siğillere karşı tam bir koruma sağlamaması 
				mümkün olmamaktadır. Rahim ağzı kanserlerinin %30 oranına karşı 
				koruma sağlanmamaktadır. Bu nedenle aşı sonrası kadınların rahim 
				ağzı kanserine karşı tarama testlerine (Pap Smear testi gibi) 
				devam etmeleri şarttır. Aynı zamanda genital siğillerinin %10 
				oranı kadarı aşıya rağmen korunulmamaktadır. Bu nedenle diğer 
				cinsel temasla bulaşan hastalıklara ve koruma çatısı dışında 
				kalan HPV türlerine karşı kişilerin gerekli duyarlık ve 
				korunmayı göstermesi gerekmektedir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Genç kızlarda yeterli koruma için aşının her üç dozunun 
				yapılması gerekli midir?</font><font face="Tahoma" color="#635B52" size="2"><br>
				HPV aşısının yeterli koruma sağlaması için genç kızlarda bir 
				veya iki doz yapılması yeterliliği hakkında yeterli kanıt 
				yoktur. Bu sebeple eldeki bilgiler ışığı altında her üç dozun 
				tamamlanması, gerekli koruma için şart görülmektedir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				HPV aşısının güvenilirliği nedir?</font><font face="Tahoma" color="#635B52" size="2"><br>
				HPV aşısının FDA (Federal Drug Administration) kurumu tarafından 
				yaşları 9-26 arası olan 11.000 kadın üzerinde emniyet ve 
				güvenirlik çalışmaları yapılmıştır. Bu çalışma, aşıya ait ciddi 
				bir yan etki olmadığını göstermiştir. En sık görülen yan etki, 
				aşı yerinde bazen görülen yanma hissidir. CDC (Central Disease 
				Control) ve FDA halen aşı güvenilirliği ile ilgili çalışmalarını 
				ortaklaşa devam ettirmektedir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Rahim ağzı kanseri ve HPV virusundan korunmanın diğer yolları 
				nelerdir?</font><font face="Tahoma" color="#635B52" size="2"><br>
				Rahim ağzı kanserlerinin %70 oranına neden olan bir başka aşı 
				henüz deneme ve çalışma sürecindedir. Yakın zamanda bu aşı 
				sağlık hizmetine sürülecektir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Yıllık ve düzenli yapılan pap smear testleri rahim ağzı 
				kanserlerinin büyük bir kısmının erken ve tedavi edilebilinir 
				dönemde yakalanmasını sağlamaktadır. Amerika Birleşik 
				Devletlerinde rahim ağzı kanserine yakalanların büyük çoğunluğu 
				ya hiç ya da son 5 yıl içerisinde Pap Smear testi yaptırmamış 
				kadınlardan oluşmaktadır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Prezervatif kullanımının, rahim ağzı kanserinden koruma 
				sağladığı ve genital siğilleri azalttığı belli bir oranda 
				bilinmektedir. Aynı zamanda prezervatif kullanılmasının AIDS ve 
				cinsel temasla bulaşan birçok hastalığı belli bir oranda 
				engellediği bilinmektedirı.</font>
</p>