<p style="margin:0 0px; " align="left">

    <font face="Tahoma" class="page-title">
            <i class="ion-ribbon-b"></i>
				Özgeçmiş</font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				1977 yılında Eskişehir'de doğdu. İlkokul, İngilizce hazırlık ve 
				orta okulu Kültür Koleji'nde, lise öğrenimini Ataköy Lisesi'nde 
				tamamladı.</font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Üniversite eğitimini 1995-2001 yılları arasında İstanbul 
				Üniversitesi İstanbul Tıp Fakültesi'nde, Kadın Hastalıkları ve 
				Doğum İhtisasını 2002-2008 yılları arasında Şişli Etfal Eğitim 
				Ve Araştırma Hastanesi 1. Kadın Hastalıkları Ve Doğum 
				Kliniği'nde tamamladı.</font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Devlet Hizmet Yükümlülüğü nedeni ile 2008-2010 yılları arasında 
				Kastamonu-İnebolu İlçesinde görev yaptı. </font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Halen İstanbul Beşiktaş Ota-Jinemed Hastanesi'nde Kadın 
				Hastalıkları Ve Doğum Uzmanı olarak görev yapmaktadır. </font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Uzmanlık Tezi: 1. Trimestr gebelik kayıplarında insülin 
				rezistansı ve ilişkili klinik bulgular.</font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" color="#635B52">İlgi Alanları: 
				İnfertilite, Genel jinekoloji &amp; obstetri, onkoloji.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" class="page-title">
                    <i class="ion-university"></i>
				Katıldığı kongre ve Kurslar:
            </font>

</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				1) "3. Uluslar arası Üreme Sağlığı Ve Aile Planlaması Kongresi" 
				(2003- Ankara)<br>
				2) "Maternal Fetal Tıp ve Perinatoloji Derneği Obstetrik 
				Ultrasonografi ve<br>
				Fetal Görüntüleme Kursu" (2003-İstanbul)<br>
				3) "PCOS Current Concepts Treatment &amp; Ovulation İnduction<br>
				İnternational Symposium" (2003-Antalya)<br>
				4) "4. Obstetrik ve Jinekolojik Ultrasonografi Kongresi" 
				(2004-İstanbul)<br>
				5) "IV. Ulusal Maternal Fetal Tıp&amp;Perinatoloji Kongresi" 
				(2004-İstanbul)<br>
				6) "TJOD Ürojinekoloji Kursu" (2004- İstanbul)<br>
				7) "3. Ulusal Ürojinekoloji Kongresi" (2005-İstanbul)<br>
				8) "TJOD 5. Ulusal Jinekoloji Ve Obstetrik Kongres"' 
				(2006-Antalya)<br>
				9) "EMAS 7th European Congress Of Menopause" (2006- İstanbul)<br>
				10) "Cerrahpaşa Tüp Bebek Ve Üreme Endokrinolojisi Günleri" 
				(2006-İstanbul)<br>
				11) "2. Ulusal Üreme Endokrinolojisi Ve İnfertilite Kongresi" ( 
				2006- Antalya)<br>
				12) "Anovulasyon için Ovulasyon İndüksiyonu ve ART için 
				Kontrollü<br>
				Ovarian Stimulasyon Kursu" (2006- Antalya )<br>
				13) "Menopozda Güncel Tedavi Yaklaşımları Konulu Kurs"<br>
				(Turkısh Society Of Menopause and Osteoporosis 2006-İstanbul )<br>
				14 ) "TJOD İstanbul Şubesi 1. Düzey Obstetrik Ultrasonografi <br>
				Teorik Kursu" (2007-İstanbul)<br>
				15) Haseki E.A.H Kadın H ve Doğum Kliniği - "Jinekoloji ve 
				Obstetride<br>
				Ultrasonografi Kullanımı Sempozyumu" (2007-İstanbul)<br>
				16) "6th Annual Meeting of Mediterranean Society for 
				Reproductive <br>
				Medicine"' (2007-Antalya)<br>
				17) "Cerrahpaşa Kadın Doğum Ve Tüp Bebek Günler" (2007-İstanbul)<br>
				18) "XXI European Congress Of Perinatal Medicine" 
				(2008-İstanbul)<br>
				19) "TJOD 7. Ulusal Jinekoloji Ve Obstetrik Kongresi" 
				(2009-Girne KKTC).</font>
</p>