<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Doğum Kontrol Hapları</font><font face="Tahoma" size="2"></font>
</p>
<p style="line-height: 110%; margin-top: 12px; margin-bottom: 0" align="center">
    <img border="0" src="img/dkhap.jpg">
</p>
<p style="line-height: 110%; margin-top: 14px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" size="2" class="title-color">
												<span style="letter-spacing: 0px">
												Nasıl korur, kimler 
												kullanabilir?</span></font>
</p>
<ul style="margin:0 16; text-align: left; " dynamicoutline="" initcollapsed="">
    <li>
        <p style="line-height: 110%; margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Yeni nesil doğum kontrol 
													hapları, düşük düzeyde 
													hormon içerirler.</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Yumurtlamayı önleyerek, 
													sperm ile yumurtanın 
													birleşmesini engeller ve 
													gebelik oluşmaz.</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Koruyuculuk % 100 e 
													yakındır.</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">35 yaş üzeri ve sigara 
													içmeyen hanımlar hariç olmak 
													üzere cinsel aktif olan veya 
													olmayan herkes, doktoruna 
													danışarak rahatlıkla 
													kullanabilir.</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Genç yaşta hap kullanılmaya 
													başlanabilir, adetlerin 
													düzenini ve ağrısız olmasını 
													sağlar.</font>
        </p>
    </li>
</ul>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" style="letter-spacing: 0px" size="2" class="title-color">Doğum kontrol haplarının 
													faydaları </font>
</p>
<ul style="margin:0 16; text-align: left; " dynamicoutline="" initcollapsed="">
    <li>
        <p style="line-height: 110%; margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Rahim ve yumurtalık 
													kanserine karşı koruyucudur
													</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Adet ağrılarını azaltır 
													</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Adet günlerini ve süresini 
													düzene sokar </font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Adet kanamasının miktarını 
													azaltarak, kansızlığı 
													engeller </font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Adet döneminin fiziksel ve 
													psikolojik etkilerini 
													azaltır </font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Cildin görüntüsünü düzeltir, yağlanmayı engeller, 
													sivilcelerin oluşumunu 
													engeller </font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
													Kilo aldırmaz </font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
													Depresyon ve sinirlilik gibi 
													şikayetlerde belirgin 
													azalmayı sağlar </font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
													Tüylenmeyi engeller </font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Cinsel isteği azaltmaz , 
													gebelik korkusu olamayacağı 
													için rahat ve her iki cinsin 
													zevk alabileceği bir cinsel 
													yaşam sağlar.</font>
        </p>
    </li>
</ul>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" style="letter-spacing: 0px" size="2" class="title-color">Doğum Kontrol Hapları ve 
													Kısırlık</font>
</p>
<ul style="margin:0 16; text-align: left; " dynamicoutline="" initcollapsed="">
    <li>
        <p style="line-height: 110%; margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Bırakıldıktan hemen sonra 
													gebe kalınabilir.</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Hiçbir şekilde kısırlık 
													sebebi değildir!</font>
        </p>
    </li>
</ul>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" style="letter-spacing: 0px" size="2" class="title-color">Doğum Kontrol Hapları Ne 
													Kadar Süre Kullanılabilir?</font>
</p>
<ul style="margin:0 16; text-align: left; " dynamicoutline="" initcollapsed="">
    <li>
        <p style="line-height: 110%; margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Haplar istenildiği sürece 
													kullanılabilir, ara vermek 
													gerekmez.</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Rahim ve yumurtalık 
													kanserine karşı koruyuculuğu 
													hapların kullanım süresi 
													arttıkça, artar. 
													Bırakıldıktan sonra dahi 
													koruyuculuk uzun yıllar 
													devam eder.</font>
        </p>
    </li>
</ul>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" style="letter-spacing: 0px" size="2" class="title-color">Kullanmaya ne zaman başlanır?</font>
</p>
<ul style="margin:0 16; text-align: left; " dynamicoutline="" initcollapsed="">
    <li>
        <p style="line-height: 110%; margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">İlk kutuya veya kullanılan 
													ilaç değiştirilecek ise 
													adetin ilk günü kullanmaya 
													başlanır. Hergün 1 tane 
													alınır, 21 daraje içeren 
													kontrol hapları kullanılıyor 
													ise kutu bittikten sonra 7 
													gün ara verilip, adet 
													kanaması dikkate 
													alınmaksızın yeni kutuya 
													başlanır. Yeni kuşak 24+4 
													tabletlerde ara verilemeden 
													yeni kutuya geçilir.</font>
        </p>
    </li>
</ul>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" style="letter-spacing: 0px" size="2" class="title-color">
												Koruma ne zaman başlar?</font>
</p>
<ul style="margin:0 16; text-align: left; " dynamicoutline="" initcollapsed="">
    <li>
        <p style="line-height: 110%; margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Adetin ilk günü ilaca 
													başlayarak, o adet 
													döneminizde ilk günden 
													itibaren gebeliğe karşı 
													korunma sağlamış olursunuz.</font>
        </p>
    </li>
</ul>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" style="letter-spacing: 0px" size="2" class="title-color">
												Doğum Kontol Hapını Almayı 
												Unuttum? </font>
</p>
<ul style="margin:0 16; text-align: left; " dynamicoutline="" initcollapsed="">
    <li>
        <p style="line-height: 110%; margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Haplar hergün aynı saatte 
													alınmalıdır.</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height: 110%; " align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">Unutulursa 12 saat içinde 
													alındığı taktirde güvenlik 
													azalmaz. Ertesi günün hapı 
													hergün ki saatinde alınmaya 
													devam edilmelidir.</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height: 110%; " align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">İki hap unutulur ise, 36 
													saatten fazla bir süre 
													geçmiş ise güvenlik artık 
													tam değildir, ek bir 
													korunma yöntemi gerekir.</font>
        </p>
    </li>
</ul>
<p style="line-height: 110%; margin-top:16px; margin-bottom:0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" style="letter-spacing: 0px" size="2" class="title-color">Ne 
												zaman doktora başvurmalıyım?</font>
</p>
<p style="line-height: 110%; margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">İlaca başlamadan önce , 
													kontrol muayenesi ve kişiye 
													özgü korunma seçenekleri 
													için <br>Doğum kontrol hapı 
													kullanırken;<br></font>
    <font face="Tahoma" style="letter-spacing: 0px" size="1">1.</font><font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2"> Şiddetli baş ağrısı, 
													bulantı, migren nöbetleri
												<br></font>
    <font face="Tahoma" style="letter-spacing: 0px" size="1">2.</font><font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2"> Görme bozuklukları, 
													bulanık görme <br></font>
    <font face="Tahoma" style="letter-spacing: 0px" size="1">3.</font><font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2"> Şidetli bacak ağrısı<br></font>
    <font face="Tahoma" style="letter-spacing: 0px" size="1">4.</font><font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2"> Göğüs ağrısı, çarpıntı, 
													solunum bozukluğu <br></font>
    <font face="Tahoma" style="letter-spacing: 0px" size="1">5.</font><font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2"> Ani sarılık<br></font>
    <font face="Tahoma" style="letter-spacing: 0px" size="1">6.</font><font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2"> Geçirilen kazalar sonrası<br></font>
    <font face="Tahoma" style="letter-spacing: 0px" size="1">7.</font><font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2"> Ameliyat öncesi durumlarda
												<br></font>
    <font face="Tahoma" style="letter-spacing: 0px" size="1">8.</font><font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2"> Lekelenme tarzı kanamalar 
													kullanma engel değildir , 
													ancak kanama miktarının 
													arttığı ve günlerinin 
													uzadığı durumlarda doktora 
													başvurulmalıdır.</font>
</p>
