<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Doğum Kontrol Halkası</font><font face="Tahoma" size="2"></font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">2010 yılında NuvaRing</font><font face="Tahoma" color="#635B52" size="1"><span style="vertical-align: super">®</span></font><font face="Tahoma" color="#635B52" size="2"> 
				markası ile ülkemizde de pazarlanmaya başlayan bu metot, 
				yumuşak, şeffaf plastikten yapılmış bu halkadan yavaş ve 
				kontrollü bir şekilde östrojen ve progesteron salarak etkili 
				olur. Halkanın yarıçapı 5 cm. dir ve her bir halka bir ay süre 
				ile koruyucudur.</font>
</p>
<p style="margin-top: 10px; margin-bottom: 0; margin-left:0px; line-height:110%" align="center">

    <img border="0" src="img/vaginalring.jpg" >
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">Koruyuculuk: </font>
    <font face="Tahoma" color="#635B52" size="2">Vajinal halkanın 
				koruyuculuğu diğer Hormonal koruyucular gibidir ve %92 
				civarındadır. Yani bu metodu uygulayan 100 kadından 8 i bir yıl 
				içinde gebe kalacaktır.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">Yan etkiler ve sağlık 
				riskleri: </font><font face="Tahoma" color="#635B52" size="2">
				Olası yan etkiler; Vajinal enfeksiyonlar, Vajinal tahriş, 
				düzensiz kanama,baş ağrısı, göğüslerde hassasiyet,kilo artışı 
				veya kilo kaybı, şişkinlik, cinsel istekte azalma ve 
				depresyondur. Vajinal halka kullanan kadınların kalp krizi, inme 
				ve kan pıhtısı oluşturma riskleri hafifçe artmış olabilir. </font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Eğer aşağıda 
				sıralanan durumlar sizin için geçerli ise Vajinal halka 
				kullanmayınız.</font>
</p>
<ul style="text-align: left; margin-left: 16; margin-top: 0; margin-bottom: 0">
    <li>
        <p style="margin:0 0px; line-height:110%" align="left">
            <font face="Tahoma" color="#635B52" size="2">35 yaş 
						üzerinde ve sigara içiyorsanız</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%" align="left">
            <font face="Tahoma" color="#635B52" size="2">
						Kardiyovasküler hastalık öykünüz var ise</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%" align="left">
            <font face="Tahoma" color="#635B52" size="2">Meme, rahim 
						veya karaciğer kanseri geçirdiniz ise</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%" align="left">
            <font face="Tahoma" color="#635B52" size="2">
						Bacaklarınızda veya akciğerlerinizde pıhtı oluşma 
						hikayeniz var ise</font>
        </p>
    </li>
</ul>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Vajinal halka cinsel 
				yolla bulaşan hastalıklara karşı koruyucu değildir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; line-height:110%" align="center">

    <img border="0" src="img/vaginalring2.jpg" >
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2"  class="title-color">Nasıl kullanılır?</font><font face="Tahoma" color="#635B52" size="2"><br>
				Vajinal halka kullanmaya karar verdi iseniz, satın aldığınız 
				ürünü vajinanızın içine yerleştirir ve üç hafta süre ile orada 
				bırakırsınız.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Halkayı vajinanın 
				mümkün olduğu kadar derinine yerleştiriniz, böylece halkayı 
				hissetme ihtimaliniz azalır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Halkayı 
				yerleştirdikten sonraki ilk hafta, ilave bir metotla korunmanız 
				gerekir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Eğer halka düşecek 
				olursa, üç saat içinde ılık su ile temizlenip yeniden 
				yerleştirilmelidir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Eğer halka düşer ve 
				üç saatten fazla dışarıda kalır ise, o ay korunma riske girer 
				.başka bir metotla korunmaya geçmelisiniz.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Üç hafta vajinada 
				kalan halkayı çıkardıktan sonraki haftada aylık kanamanız 
				olacaktır. Bu hafta vajinada halka bulunmaz.</font>
</p>