<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Aile Planlaması Nedir?</font><font face="Tahoma" size="2"></font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; line-height:110%" align="center">

    <img border="0" src="img/ap2.jpg" >
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Toplumların eğitim 
				düzeyi yükseldikçe, doğurma oranı azalmaktadır. Bu, doğum 
				kontrolu ve kürtaj uygulamalarının bir sonucudur. Günümüzde, 
				kadınlar eskisine göre ilk adetlerini daha erken yaşta görmekte 
				ve cinsel ilişkiye daha erken başlamaktadır. Doğum oranı 
				azaldığı için, (kesin bir korunma yöntemi olmamakla birlikte) 
				emzirme doğum kontroluyla ilgili önemli bir etki de 
				göstermemektedir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Bu nedenle, herhangi 
				bir doğum kontrol yöntemi kullanılmadığı takdirde, çocuk 
				sayısını sınırlandırmak bugün daha da zordur.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Yaygın olarak 
				kullanılan doğum kontrol yöntemlerini şu şekilde 
				sıralayabiliriz:<br>
				</font><font face="Tahoma" size="1">1.</font><font face="Tahoma" color="#635B52" size="2"> 
				Doğum kontrol hapları<br>
				</font><font face="Tahoma" size="1">2.</font><font face="Tahoma" color="#635B52" size="2"> 
				Uzun etkili doğum kontrol yöntemleri (enjeksiyon,implant vs)<br>
				</font><font face="Tahoma" size="1">3.</font><font face="Tahoma" color="#635B52" size="2"> 
				Spiral<br>
				</font><font face="Tahoma" size="1">4.</font><font face="Tahoma" color="#635B52" size="2"> 
				Bariyer yöntemleri (diafram, spermisid, prezervatif vs)<br>
				</font><font face="Tahoma" size="1">5.</font><font face="Tahoma" color="#635B52" size="2"> 
				Doğal yöntemler (takvim ve çekilme yöntemleri)<br>
				</font><font face="Tahoma" size="1">6.</font><font face="Tahoma" color="#635B52" size="2"> 
				Cerrahi sterilizasyon (kısırlaştırma)</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; line-height:110%; " align="center">

    <img border="0" src="img/aile.jpg" >
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Ülkemizde bunlardan 
				hangisinin ne oranda kullanıldığı hakkında yeterince bilgi 
				sahibi değiliz. Ancak gelişmiş ülkelerde, en çok kullanılan 
				yöntem doğum kontrol haplarıdır; özellikle cinsel yolla bulaşan 
				hastalıklar nedeniyle, son yıllarda prezervatif kullanımı da 
				artmıştır. Daha çok kadınlarda olmak üzere, her iki cins için de 
				cerrahi kısırlaştırma yöntemi kullanımında dikkat çekici bir 
				artış gözlenmektedir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; line-height:110%" align="center">

    <img border="0" src="img/ap1.jpg" >
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Aile planlaması 
				yöntemlerini şu şekilde de sınıflandırabiliriz:<br>
				</font><font face="Tahoma" size="2" class="title-color">1. Dönüşümsüz yöntemler:</font>
    <font face="Tahoma" color="#635B52" size="2"> 
				Sonradan hiç çocuk istemeyen çiftler için cerrahi kısırlaştırma 
				yöntemi idealdir. Bunun tekrardan düzeltilmesi mümkündür ama, 
				düşük bir olasılıktır. Yan etkilerinin çok az olması ve nispeten 
				basit bir yöntem olması nedeni ile tercih edilir. Erkek 
				kısırlaştırması, lokal anestezialtında 10-15 dakika süren bir 
				işlemdir. Kadın kısırlaştırma işlemi ise, genelanestezi altında 
				laparoskopik yöntemle 15 dakikada yapılan ve hastanın aynı gün 
				evine gönderildiği, basit bir cerrahi girişimdir. Açık ameliyat 
				(minilaparoto-mi) ile yapılırsa hasta birkaç gün hastanede 
				kalabilir. Başarısızlık oranları, erkek sterilizasyonunda % 
				0.1-0.15, kadın sterilizasyonunda ise % 0.2 civarın-dadır. 
				Yapılan çalışmalar, cerrahi yöntemlerle kısırlaştırılan 
				kadınlarda yu-murtalık kanseri görülme sıklığının azaldığını 
				ortaya koymuştur. Kısırlaştırma işleminin, cinsellik üzerinde 
				olumsuz bir etkiye sahip olmadığı gösterilmiş-tir. Adet 
				kanamaları üzerindeki etki ise, kesin değildir. Çoğu yayında 
				adet kanamalarında değişiklik olmadığı bildirilmektedir ama, 
				bazan kanamada artış görülmektedir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">2. Dönüşümlü yöntemler:</font><font face="Tahoma" color="#635B52" size="2"> 
				Daha sonra çocuk isteyen çiftlerde uygulanır. Hastanıntercihine, 
				kullanıma engel oluşturan bir hastalığının olup olmamasına ve 
				entellektüel durumuna göre farklı yöntemler seçilebilir. 
				Başarısızlık oranları, bazı yöntemler için hastanın uygulamadaki 
				başarısına göre değişir. Takvim yöntemi % 9-25, çekilme yöntemi 
				% 4-19, kombine doğum kontrol hapları % 0.1-3, yalnızca 
				progesteron içeren haplar % 0.5-3, spiral % 0.1-2, cilt altı 
				implantları % 0.05, depo enjeksiyonlar % 0.3, spermisidler % 
				6-26, servikal kep %9-40, diafram+sper-misidler % 6-20 ve 
				prezervatif % 3-14 başarısızlık riski taşır. Doğum kontrolunun 
				yetersiz uygulanması, kürtaj oranlarında artışa yol açar.Bu, hem 
				halk sağlığı hem de ekonomik açıdan çok daha fazla maliyet 
				getirir.Ayrıca, giderek yaygınlaşan cinsel yolla bulaşan 
				hastalıklar da gözönüne alınarak hastaların bilinçlendirilmesi 
				ve özellikle birden fazla partneri olan kişiler için prezervatif 
				kullanımının özendirilmesi gerekir.</font>
</p>