<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Aylık Enjeksiyonlar</font><font face="Tahoma" size="2"></font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Enjeksiyon şeklinde 
				uygulanan iki preparat bulunmaktadır. Bunlardan birincisi üç 
				ayda bir uygulanan ve sadece progesteron türevi aktif madde 
				içeren Depo-Provera diğeri ise hem östrojen hem de progesteron 
				içeren ve ayda bir kez yapılması gereken Mesigyna dır.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">Depo-Provera</font><font face="Tahoma" color="#635B52" size="2"><br>
				Yüksek derecede koruyuculuğu olan bir üründür. Her gün hap almak 
				istemeyen veya hap almayı sıklıkla unutan kadınlar için iyi bir 
				seçenek olabilir.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">Koruyuculuk: </font>
    <font face="Tahoma" color="#635B52" size="2">Koruyuculuğu %97 
				olarak rapor edilmektedir. Yani kullanıcı 100 kadından 3 tanesi 
				bir yıl içinde gebe kalacaktır.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">Yan etkiler ve sağlık 
				riskleri: </font><font face="Tahoma" color="#635B52" size="2">
				Depo-Provera kullanırken adet düzeninizde değişiklikler 
				olacaktır. Adetler düzensiz ve önceden tahmin edilemez hale 
				gelir ve hatta bazen hiç olmayabilir. Adetlerin düzensiz olması 
				veya hiç olmamasının herhangi bir sağlık zararı yoktur. İlacın 
				kesilmesinden bir süre sonra eski düzenine dönecektir. Diğer yan 
				etkiler; kilo artışı, göğüslerde hassasiyet ve depresyondur. 
				Depo-Provera kullanıcılarında Kardiyovasküler hastalık riskinde 
				artış ve pıhtı oluşumu ile ilgili problemler yaşanmaz. Bu metot 
				cinsel yolla bulaşan hastalıklara karşı koruma sağlamaz. Depo 
				proveranın uzun süreli kullanımı kemik dokusunda azalmaya neden 
				olabilir, fakat bu durum ilaç kesildikten sonra geri döner.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Depo-Provera 
				kesildikten sonra normal adet düzeninin başlaması zaman 
				alabilir. Bu süre bazen aylar sürebilir. Dolayısı ile 
				enjeksiyonların kesilmesi ile beraber hemen gebe 
				kalamayabilirsiniz.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">Nasıl kullanılır:</font><font face="Tahoma" color="#635B52" size="2"> 
				Bu ilacı kullanmaya karar verdiğinizde ilk uygulama adetinizin 
				ilk beş günü içinde koldan veya kalçadan kas içine yapılacak 
				enjeksiyonla gerçekleşir. Eğer ilk beş gün içinde uygulama 
				yapılmaz ise o zaman ilk iki hafta başka bir metotla korunmanız 
				önerilir.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">Mesigyna</font><font face="Tahoma" color="#D80075" size="1"><span style="vertical-align: super">®</span></font><font face="Tahoma" color="#635B52" size="2"><br>
				Piyasada bulunan ikinci enjeksiyon şeklinde uygulanan üründür. 
				Kombine doğum kontrol haplarının enjeksiyon formu gibi 
				düşünülebilir.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">Nasıl kullanılır: </font>
    <font face="Tahoma" color="#635B52" size="2">Adetin ilk beş günü 
				içerisinde kas içine yapılan enjeksiyon ile uygulama 
				gerçekleşir. Daha sonra her 30 günde bir uygulama tekrarlanır. 
				Takip eden uygulamalarda adet kanaması genellikle iki 
				enjeksiyonun ortasına gelen bir zamanda gerçekleşmektedir.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">Koruyuculuk:</font><font face="Tahoma" color="#635B52" size="2"> 
				Diğer Hormonal metotlarda olduğu gibidir ve %92 civarındadır.</font>
</p>