<p style="margin:0 0px; " align="left">
    <font class="page-title">
				RIA (Spiral)</font><font face="Tahoma" size="2"></font>
</p>
<p style="line-height: 110%; margin-top: 13px; margin-bottom: 0" align="center">
    <img border="0" src="img/raispirals.jpg" >
</p>
<p style="line-height: 110%; margin-top: 9px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#D80075" style="letter-spacing: 0px" size="2">
												Spiral (RIA- Rahim İçi Araç)</font><font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												<br>
												Halk arasında kullanılan adıyla 
												spiral, RIA; ülkemizde ve 
												dünyada en çok kullanılan doğum 
												kontrol yöntemidir. Düşük 
												maliyetli, uzun süreli ve 
												kullanımı kolay bir yöntem 
												olması nedeni ile tercih 
												edilmektedir. </font>
</p>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#D80075" style="letter-spacing: 0px" size="2">
												RIA (spiral) nedir?</font><font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2"><br>
												Yapısı T harfine benzeyen, ilk 
												üretilen türevleri S şeklinde 
												olduğundan ''spiral'' adı halk 
												arasında yerleşmiş olan RIA, ana 
												maddesi esnek, polietilen olan&nbsp; 
												gövdesinde bakır ile sarılmış 
												bir araçtır. Kollları rahim 
												içine yerleştikten sonra 
												açılarak düşmesini engeller. 
												Bakır ise doğum kontrolü 
												etkisini asıl sağlayan maddedir. </font>
</p>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#D80075" style="letter-spacing: 0px" size="2">
												RIA çeşitleri nelerdir?</font><font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2"><br>
												Son zamanlarda altın veya gümüş 
												ile gövdesi desteklenmiş, üzeri 
												yine bakır ile kaplı olan, 
												böylelikle çıkartılırken 
												parçalanma ihtimali daha az, 
												daha dayannıklı ,ancak daha 
												pahalı RIAlar da üretilip 
												kullanılmaya başlanmıştır. 
												Copper T 380 A sadece bakır 
												içeren, kolları düz, 
												yerleştirilmesi daha kolay olan 
												ve en ucuz RIA seçeneğidir. </font>
</p>
<p style="line-height: 110%; margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												Bunun yanısıra Multiload, Nova T 
												gibi yine bakır içerikli 
												seçenekler ve Levonorgestrel 
												isimli bir progesteron türevi 
												içeren hormonlu RIA seçeneği de 
												bulunmaktadır. </font>
</p>
<p style="line-height: 110%; margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												Hormonlu RIA, daha çok aşırı 
												kanaması olan hastalarda veya 
												bakırlı RIA ile çok kanamalı ve 
												ağrılı adet dönemi geçiren 
												hastalarda tercih edilmektedir. 
												İçerdiği hormon etkisi neredeyse 
												tamamen lokal olup çok düşük 
												miktarlarda kana geçerek nadiren 
												buna bağlı yan etkileri 
												olmaktadır. Ayrıca Koruma 
												yüzdesi daha fazla olması nedeni 
												ile de RIA ile gebe kalmış 
												hastalarda da tercih 
												edilmektedir.</font>
</p>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#D80075" style="letter-spacing: 0px" size="2">
												RIA nasıl koruma sağlar? </font>
</p>
<ul style="text-align: left; margin-left: 16; margin-right: 0; margin-top: 0; margin-bottom: 0" type="square">
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						İçeriğindeki bakır ile spermlerin geçişini engeller.</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						Rahim iç duvarında bakır ve yabancı cisim etkisi 
						ilereaksiyon oluşturarak döllenmiş yumurtanın 
						yerleşmesini engeller.</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						Ayrıca bakır, döllenme için gerekli prostaglandin isimli 
						bir maddenin salgılanmasını da bozar. </font>
        </p>
    </li>
</ul>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#D80075" style="letter-spacing: 0px" size="2">
												Hormon içeren spiral ise; </font>
</p>
<ul style="text-align: left; margin-left: 16; margin-right: 0; margin-top: 0; margin-bottom: 0" type="square">
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						progesteronun etkisi ile rahim ağzında sperm geçişini 
						engelleyen bir tıkaç oluşturur.</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						Rahim iç duvarını incelterek döllenmiş yumurtanın 
						yerleşmesini engeller. </font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						Progesteronun etkisi ile yumurtlamayı engeller. </font>
        </p>
    </li>
</ul>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#D80075" style="letter-spacing: 0px" size="2">
					RIA ne kadar güvenilir?</font><font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
					<br>
					Koruyuculuğu en yüksek yönlemlerdendir. Başarısızlık oranı % 
					2 dir. Yumurtlamayı etkilemediği için çıkartıldığı andan 
					itibaren gebelik oluşabilir. Hormon içeren spiralde bu oran 
					ek mekanizmalar sayesinde %0.1 dir. Yumurtlama fonksiyonu da 
					etkilendiğinden gebelik istendiğinde birkaç ay beklemek 
					gerekebilir.</font>
</p>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#D80075" style="letter-spacing: 0px" size="2">
					Kimler için uygundur?</font>
</p>
<ul style="text-align: left; margin-left: 16; margin-right: 0; margin-top: 0; margin-bottom: 0" type="square">
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						En az 1 kez doğum yapmış, hormonal yöntemleri kullanmak 
						istemeyen</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						Emziren anneler</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						Cinsel yolla bulaşan hastalıklar için yüksek risk 
						grubunda olmayan</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						Genital enfeksiyonu olmayan</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						Sigara kullanımı, damar tıkanıklığı, pıhtılaşma riski 
						gibi nedenlerle doğum kontrol hapı kullanamayan</font>
        </p>
    </li>
</ul>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#D80075" style="letter-spacing: 0px" size="2">
					Kimler kullanamaz?</font>
</p>
<ul style="text-align: left; margin-left: 16; margin-right: 0; margin-top: 0; margin-bottom: 0" type="square">
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						Bilinen veya şüphe edilen gebelik varlığı</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						Cinsel yolla bulaşan hasta varlığı </font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						Son 3 ay içinde rahim enfeksiyonu geçirmiş olmak</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						Enfekte düşük geçirmiş olmak</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-top: 0px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
						Sebebi bilinmeyen anormal vajinal kanama varlığı.</font>
        </p>
    </li>
</ul>
