<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Acil kontrasepsiyon</font><font face="Tahoma" size="2"></font>
</p>
<p style="line-height: 110%; margin-top: 12px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												Herhangi bir yöntemi etkili bir 
												biçimde kullanamayanlar, genç 
												kadınlar, bariyer yöntem 
												kullananlar ve kimi kez de 
												etkili bir yöntem kullanırken 
												hata yapanlar acil 
												kontrasepsiyona gereksinim 
												duyabilir. Acil kontrasepsiyon 
												bir acil durum yöntemidir, 
												kesinlikle bir aile planlaması 
												yöntemi değildir. </font>
</p>
<p style="line-height: 110%; margin-top: 9px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												Acil kontrasepsiyonun korunmasız 
												ilişkiden sonraki 72 saat içinde 
												kullanılması gereklidir; bu süre 
												geçtikten sonra kullanılmaz. 
												Gebelik oluştuktan sonra etki 
												yapması söz konusu değildir. 
												Düşük yaptırmaz. Bu durum zor ve 
												sıkıntılı bir süreçtir.</font>
</p>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#D80075" style="letter-spacing: 0px; font-weight:700" size="2">
												Kullanılabilecek yöntemler </font>
</p>
<p style="line-height: 110%; margin-top: 9px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <img border="0" src="img/hap.jpg" >
</p>
<p style="line-height: 110%; margin-top: 9px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#D80075" style="letter-spacing: 0px" size="2">
												Ertesi gün Hapı :</font><font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												Korunmasız ilişki sonrası ertesi 
												gün hapları ilk 72 saat 
												içierisinde kullanılır ve etki 
												gösterirler. Ancak ilk 24 saat 
												içinde kullanılmaları daha uygun 
												ve önerilen kullanım şeklidir.</font>
</p>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <img border="0" src="img/rai.jpg">
</p>
<p style="line-height: 110%; margin-top: 9px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#D80075" style="letter-spacing: 0px" size="2">
												Rahim içi araçlar (RIA) :</font><font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												Diğer bir yöntem ise cinsel 
												ilişkiyi izleyen ilk 5-7 gün 
												içerisinde bakırlı RIA 
												uygulamasıdır. En etkili acil 
												kontraseptif yöntemlerdendir. 
												Başarısızlık oranı %0.01 olarak 
												bildirilmektedir.</font>
</p>
<p style="line-height: 110%; margin-top: 9px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												Tecavüz durumlarında durum daha 
												da karmaşıktır. Kadının 
												duyguları zedelenmiş, hastalık 
												kapmaktan ve gebelikten 
												korkmaktadır. Tecavüze uğramış 
												kadın daha özel bir ilgiye 
												gereksinimi vardır. </font>
</p>
<p style="line-height: 110%; margin-top: 9px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												Acil kontrasepsiyonun gebeliği 
												önleyebileceği ancak cinsel 
												yolla bulaşan enfeksiyonlara 
												(CYBE) karşı koruyucu olmadığı 
												bilinmelidir. Cinsel yolla 
												bulaşan hastalıklarla ilgili 
												danışmanlık hizmeti alınmalıdır. 
												Kullanılmakta olan bir yöntemin 
												başarısızlığı (örn: kondom 
												yırtılması) nedeniyle acil 
												kontrasepsiyon gerekmişse, 
												başarısızlığın nedenleri 
												tartışılmalı ve alınabilecek 
												önlemler konusunda uzmanlara 
												başvurulmalıdır. </font>
</p>
<p style="line-height: 110%; margin-top: 9px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												Kadına acil kontrasepsiyon 
												kullanımından sonraki adetinin 
												her zamankinden farklı olması 
												durumunda; Özellikle:<br>
												1- Çok az kanaması varsa 
												(gebelik olabilir), <br>
												2- Dört hafta içinde adet 
												olmamışsa (gebelik olabilir),
												<br>
												3- Alışılmışın dışında ağrılı 
												olursa (ektopik gebelik 
												olabilir, ancak acil 
												kontrasepsiyon ektopik gebeliğe 
												yol açmaz) jinekoloğunuza 
												başvurumanızı öneririm.</font>
</p>
