<style>
    div#centerDiv {
        text-align: center;
    }
    ul.centerUL {
        margin: 2px auto;
        line-height: 1.4;
    }
    .centerUL li {
        display: inline;
        text-align: center;
    }
    font {
        font-size: 7;
        margin-top: 15px;
    }
</style>

<div id="centerDiv">

    <font face="Tahoma" class="page-title">
                    <i class="ion-medkit"></i>
				Klinik uygulamalar
            </font>

    <ul class="centerUl">
        <li>
            <p style="margin-top: 2px; margin-bottom: 0">
                <font> <i class="ion-female"></i>
									Ultrsonografi</font>
            </p>
        </li>
        <li>
            <p style="margin-top: 2px; margin-bottom: 0">
                <font> <i class="ion-female"></i>
									Gebelik öncesi danışmanlık</font>
            </p>
        </li>
        <li>
            <p style="margin-top: 2px; margin-bottom: 0">
                <font> <i class="ion-female"></i>
									Gebelik takibi</font>
            </p>
        </li>
        <li>
            <p style="margin-top: 2px; margin-bottom: 0">
                <font> <i class="ion-female"></i>
									Normal doğum</font>
            </p>
        </li>
        <li>
            <p style="margin-top: 2px; margin-bottom: 0">
                <font> <i class="ion-female"></i>
									Sezeryan </font>
            </p>
        </li>
        <li>
            <p style="margin-top: 2px; margin-bottom: 0">
                <font> <i class="ion-female"></i>
									Leep / Koterizasyon </font>
            </p>
        </li>
        <li>
            <p style="margin-top: 2px; margin-bottom: 0">
                <font> <i class="ion-female"></i>
									Laparoskopi </font>
            </p>
        </li>
        <li>
            <p style="margin-top: 2px; margin-bottom: 0">
                <font> <i class="ion-female"></i>
									Histeroskopi </font>
            </p>
        </li>
        <li>
            <p style="margin-top: 2px; margin-bottom: 0">
                <font> <i class="ion-female"></i>
									Kısırlık tedavisi (aşılama)</font>
            </p>
        </li>
        <li>
            <p style="margin-top: 2px; margin-bottom: 0">
                <font> <i class="ion-female"></i>
									RIA (spiral) uygulaması</font>
            </p>
        </li>
        <li>
            <p style="margin-top: 2px; margin-bottom: 0">
                <font> <i class="ion-female"></i>
									Tüp ligasyonu</font>
            </p>
        </li>
        <li>
            <p style="margin-top: 2px; margin-bottom: 0">
                <font> <i class="ion-female"></i>
									Histerektomi (rahim alınması)</font>
            </p>
        </li>
        <li>
            <p style="margin-top: 2px; margin-bottom: 0">
                <font> <i class="ion-female"></i>
									Myomektomi (myom çıkartılması)</font>
            </p>
        </li>
    </ul>
</div>