<p align="center">

    <!-- 
    <div class="center">
        <a href="partials/cosmopolitan.html">
            <img border="0" style="width:100%" src="img/cosmopolitan.jpg">Basın
        </a>
    </div>
    <br>
    -->

    <div class="center">
        <img border="0" style="width:100%" src="img/cosmopolitan.jpg">
    </div>
    <hr>

    <br>

    <div class="center" ng-click="setPage('partials/gynecology/hpvinjection.html', 'HPV Aşısı')">
        <img border="0" style="width:100%" src="img/jinekolojiimg25.jpg">Rahim Ağzı Kanser Aşısı
    </div>
    <br>

    <div class="center" ng-click="setPage('partials/birth/getweight.html', 'Beslenme & Kilo Alımı')">
        <img border="0" style="width:100%" src="img/defaultpage_images_05.jpg">Gebelikte Beslenme
    </div>
    <br>

    <div class="center" ng-click="setPage('partials/birth/beforepregnancy.html', 'Gebelik Öncesi Danışma')">
        <img border="0" style="width:100%" src="img/defaultpage_images_17.jpg">Gebelik Öncesi Danışma
    </div>
    <br>

    <div class="center" ng-click="setPage('partials/tubebaby/infertility.html', 'Kısırlık Nedir?')">
        <img border="0" style="width:100%" src="img/defaultpage_images_02.jpg">Kısırlık Aşılama ve tüp bebek
    </div>
    <br>

    <div class="center" ng-click="setPage('partials/pregnancy/normalcaesarean.html', 'Normal/Sezeryan Doğum?')">
        <img border="0" style="width:100%" src="img/defaultpage_images_01.jpg">Doğum normal mi, sezeryan mi?
    </div>
    <br>

    <div class="center" ng-click="setPage('partials/familyplan/birthcontrolpills.html', 'Doğum Kontrol Hapları')">
        <img border="0" style="width:100%" src="img/defaultpage_images_04.jpg">Doğum Kontrol Hapları
    </div>


</p>