<div>
    <p style="margin:0 0px; " align="left">
        <font face="Tahoma" class="page-title" size="2">
        <i class="ion-help-circled"></i>
				Gebelikte Sık Görülen Şikayetler</font>
    </p>
    <div>
        <p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#635B52" size="2">Genelde sorun 
				yaratmayan ve tehlike işareti olmayan pek çok şikayetiniz 
				olabilir. </font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">Bulantı Kusma</font><font face="Tahoma" color="#635B52" size="2">: Gebelik bulantıları hamilelerin çoğunda ilk üç 
				ayda en önemli sorun olarak karşımıza çıkar.Kesin nedeni 
				bilinmemekle beraber gebelik hormonunun (HCG) etkisi kabul 
				edilir.Her gebede farklı şiddette görülebilir.Bazılarında ise 
				bulantı şikayeti hiç olmaz.Aynı kadının birbirini izleyen 
				gebelikleri de bulantı şikayeti açısından çok farklı 
				seyredebilir.Aşırı gebelik kusmaları (Hiperemesis) tedavi 
				gerektiren farklı bir durum olarak ele alınmalıdır.</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">
				Kokulara Karşı Duyarlılık</font><font face="Tahoma" color="#635B52" size="2">: 
				Farklı şiddette olmak üzere hemen her gebelikte izlenir. Genelde 
				eve özel kokular, özellikle mutfak 
				kokuları en fazla rahatsız edici olur. Gebelik bulantıları gibi 
				genelde ilk üç ayın sonunda geriler.</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">Tükrük 
				Salgısında Artış (Hipersalivasyon)</font><font face="Tahoma" color="#635B52" size="2">: 
				Gebelik bulantıları gibi ilk ayların şikayetidir.Bulantı ve 
				kusmalarla birlikte olduğunda sıvı kaybının artışına neden 
				olabilir.</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">Sık 
				İdrara Çıkma</font><font face="Tahoma" color="#635B52" size="2">: 
				İlk 3 ayda daha çok hormonların etkisi ile, son 3 ayda ise daha 
				çok rahimin büyüyerek mesaneye yaptığı basıdan 
				kaynaklanır.Normalden daha erken idrar hissi duyulur. Bu 
				durumdan kurtulmak için sıvı alımını kısıtlamak doğru 
				değildir.Gebelik boyunca yeterli sııvı alımına özen 
				gösterilmelidir. (günde en az 8 bardak) Sık idrara çıkmanın 
				yanında idrar yaparken yanma ve ağrı da varsa idrar yolu 
				enfeksiyonunun habercisi olabilir.bu durumda doktorunuza 
				başvurmanız doğru olacaktır.</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">İdrar 
				Kaçırma</font><font face="Tahoma" color="#635B52" size="2">: 
				Son aylarda daha belirgindir .Nedeni yine büyüyen bebeğin 
				yaptığı bası ve hormonlar olabilir ancak mutlaka bir idrar testi 
				ile enefksiyon olamdığı kanıtlanmalıdır. </font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#635B52" size="2">Kabızlık : Gebelikte değişen hormonların etkisi ile barsak 
				hareketleri yavaşlar. Gebelikte kullanılan demir preparatları da 
				bazen kabızlığa bazen de ishale neden olabilir.Lif içeren yeşil 
				sebzeler, meyveler, kepekli besinlere ağırlık verilmeli , bol 
				sıvı alınmalı ,düzenli olarak yürüyüş yapılmalıdır.Yine de 
				şikayetleriniz geçmezse doktorunuza başvurun. Bebeğiniz için 
				risk oluşturmayan ilaçlarla bu sorun çözülebilir.</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">
				Kramplar</font><font face="Tahoma" color="#635B52" size="2">: 
				Özellikle kol ve bacaklarda ve geceleri ortaya çıkar.Kalsiyum 
				eksikliği rol oynayabilir. Kramp anında masaj yapmak uygun olur. 
				Kalsiyum ve Magnezyum desteği sorunu çözebilir.</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">Mide 
				Yanması</font><font face="Tahoma" color="#635B52" size="2">: 
				Mide ve yemek borusu arasında gerçekten sfinkter adı verilen 
				yapı olmasa da buradaki kasların gevşeyerek mide içeriğinin 
				yemek borusuna geri kaçması yani reflü gebelikte hormonların 
				etkisi ile sık görülen bir sorundur. Ağızda acı-ekşi bir tada 
				neden olur. Reflünün şiddetli olduğu durumlarda yemek borusunda 
				hasara neden olabilir.Bu nedenle dikkate alınması gereken bir 
				şikayettir. Öğünlerinizi ufak tutun, besinleri iyi çiğnemeden 
				yutmayın.Baharatlı ve acılı gıdalardan uzak durun.Özellikle 
				akşam yemeklerini hafif yiyin ve yemekten sonra hemen yatmayın. 
				Bütün bunlara ek olarak bebeğe zarar vermeyecek ilaçlardan da 
				yardım alınabilir.</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">Kasık 
				ağrıları</font><font face="Tahoma" color="#635B52" size="2">: 
				Özellikle erken gebelikte oturup kalkarken ya yatar pozisyonda 
				dönerken, yukarı uzanırken kasıklarda çoğu kez tek taraflı 
				saniyeler süren şiddetli batıcı tarzda ağrılar 
				görülebilir.’Round ligaman ağrısı’ adı da verilen bu ağrının 
				herhangibir tehlikesi yoktur.Ancak ani hareketlerden kaçınmak 
				ağrının ortaya çıkmasını engelleyebilir.</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">
				Varisler</font><font face="Tahoma" color="#635B52" size="2">: 
				Kişisel yatkınlığı olanlarda ve ağır durumlarda hamileliğin 
				önemli sorunlarından biri olabilir ancak bacaklarda ve dış 
				genital bölgede toplar damar genişlemeleri sık karşılaşılan bir 
				problemdir. Hafif olgularda herhangibir sorun görülmez.ancak tüm 
				gebelere ayaklarını fırsat buldukça yukarı doğru kaldırarak 
				oturmalarını , mümkünse uzanırken bacaklarının altını bir 
				yastıkla desteklemelerini ve gereksiz yere ayakta çok 
				kalmamalarını öneririz. Baldırı veya uyluğu herhangibir bölgeden 
				dar bir şeritle sıkan lastikli çoraplardan sakınmak 
				gerekir.Ayrıca uzun süren yolculuklarda oturur pozisyonda uzun 
				süre hareketsiz kalmak da olumsuz sonuçlar doğurabilir. Uzun 
				yolculuklarda ayaklarınızı uzatabilecek bir pozisyon yaratmaya 
				çalışın.molalarda önce bir süre yürüyüp sonra ayaklarınızı 
				yukarı doğru kaldırarak oturun. Otobüs gibi araçlarda hareket 
				halindeyken de ayağa kalkıp kısa bir süre yürümek iyi olacaktır.</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">Ellerde 
				Uyuşma</font><font face="Tahoma" color="#635B52" size="2">: 
				Özellikle hamileliğin son aylarında ve sabah saatlerinde daha 
				belirgin olarak görülür. Nedeni vücuttaki ödem nedeniyle ele 
				giden sinirlerin bilek hizasında sıkışmasına bağlıdır.Sabah 
				kalktığınızda ellerinizi açıp kapatarak egzersiz yapın .Çok tuz 
				almamaya çalışın.Doğumdan sonra büyük bir kısmı 
				düzelir.Loğusalık döneminin sonunda hala şikayetiniz devam 
				ediyorsa ortopedi uzmanına başvurmanız uygun olacaktır.</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">Ciltte 
				Değişiklikler</font><font face="Tahoma" color="#635B52" size="2">: 
				Gebelik boyunca ciltte görülen en belirgin iki değişiklik bazı 
				bölgelerde oluşan pigmentasyon artışı (koyulaşma) ve kıllanma 
				dır. Her iki durum da geçizi özellik taşır ve doğumdan sonra bir 
				süre içinde normale döner.</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">* 
				Hiperpigmentasyon</font><font face="Tahoma" color="#635B52" size="2">: 
				Yüzde,meme uçlarında,karnın orta hattında genital bölgede 
				koyulaşma çok sık görülür.Tamamıyla hormonal aktiviteye 
				bağlıdır.Yüzde görülen ve gebelik maskesi olarak adlandırılan 
				koyulaşma sonraki gebeliklerde de daha şiddetli olarak 
				tekrarlama eğilimindedir.Bu hastalarda doğum kontrol haplarının 
				da kullanılması benzer şikayetler oluşmasına neden olur. 
				</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">* Kıllanma artışı</font><font face="Tahoma" color="#635B52" size="2">: Bazı hastalarda aşırı kıllanma ,daha az 
				oranda da kılların büyüme hızında azalma görülür.Gebelik 
				bitiminde büyük oranda eski haline döner.Doğumdan sonra 2-6. 
				aylar arasında saçlarda dökülme çok sıktır. 6. aydan sonra 
				normale döner.</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">Karın 
				Cildi Çatlakları</font><font face="Tahoma" color="#635B52" size="2">: 
				Kilo artışı ve karın cidinin gerilmesi sonucu hemen tüm 
				gebelerde farklı derecelerde görülür. Karın dışında kalçalarda 
				ve bacaklarda da görülebilir.Gebeliğin 4. ayından itibaren 
				çeşitli ürünlerin kullanılması önerilebilir. Ancak çok kilo 
				alırsanız ve cildiniz kuruysa ciltte çatlaklarını engellemek 
				mümkün olmayabilir.</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">
				Hemoroid</font><font face="Tahoma" color="#635B52" size="2">: 
				Gebelik öncesi varolan hemoroidlerle ilgili şikayetler artar 
				,çoğu hastada da ilk kez gebelik sırasında ortaya çıkar. 
				Kabızlık şikayetin artmasına neden olur. İlaç tedavisi yeterli 
				olmazsa cerrahi tedavi de uygulanabilir.</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">Nefes 
				Darlığı</font><font face="Tahoma" color="#635B52" size="2">: 
				Özellikle gebeliğin ikinci yarısında büyüyen rahimin karın içi 
				organları ve diaframı yukarıya doğru itmesiyle akciğer 
				kapasitesi daralır.Bu her nefeste aldığınız hava miktarının 
				azalması demektir. Ayrıca hormonların etkisi ile bebeğe daha 
				fazla oksijen sağlamak amacı ile nefes alışverişi sıklaşır-sık 
				nefes alma ihtiyacı hissedebilirsiniz.Kansızlık bu şikayetin 
				daha belirgin olarak ortaya çıkmasına neden olur. Çok kilo 
				almamak, yemekleri ufak öğünler halinde tüketmek ve özellikle 
				yemekten hemen sonra fazla hereketten kaçınmak uygun olacaktır.</font>
        </p>
        <p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

            <font face="Tahoma" color="#D80075" size="2">Burun 
				Kanamaları</font><font face="Tahoma" color="#635B52" size="2">: 
				Burun kanamaları özellikle kış aylarında ve sabahları sık 
				görülür.Çoğu kez önemli bir nedeni yoktur. Gebelikte hemen bütün 
				damarlarda genişleme olur.Burun boşluğunu örten dokuda(burun 
				mukozası) damarlar çok yüzeydedir.Bu nedenle dış etkenlere kolay 
				maruz kalırlar. Kış aylarında kaloriferli evlerin neminin 
				azalması nedeniyle her sabah hafif burun kanaması 
				yaşayabilirsiniz. Annelerinizin yaptığı gibi kaloriferler su 
				kaplarının ya da ıslak havluların koyulması faydalı olabilir. Burnunuzu serum fizyolojikle sık sık yıkamanın 
				da faydası olur. Yine de sık ve rahatsiız edici burun 
				kanamalarınız oluyorsa bir Kulak Burun Boğaz uzmanına 
				başvurmanızda faydası olabilir</font>
        </p>
    </div>
</div>