<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Düşük Tehdidi</font><font face="Tahoma" size="2"> 
				(abortus imminens)</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; line-height:110%" align="center">
    <img border="0" src="img/gebelikimages05.jpg">
</p>
<p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 12px; margin-bottom: 0" align="left">
    <font color="#635B52" face="Tahoma" size="2">Gebe kadınları 
					%20-30 u ilk 3 ayda kanama problemi yaşar. Çoğu olguda 
					implantasyon (bebeğin yerleşme dönemi) kanaması olduğu 
					düşünülür. Kramplarla birlikte tek başına rahim ağzının 
					açılmasına sebep olmayan hafif kanama olabilir. İstirahat ve 
					ilişki yasağına rağmen ağrıların devam etmesi, kanamanın 
					geçmemesi halinde ilaç tedavisi başlanabilir.<br>
					Gebelik ilerledikçe düşük ihtimali azalır. </font>
</p>