<p style="margin:0 0px; " align="left">
    <font face="Tahoma" size="2">
<font class="page-title">
				Erken gebelikte (ilk 20 hafta) kanamaya yol açan durumlar</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; line-height:110%; " align="center">
    <img border="0" src="img/gebelikimages14.jpg">
</p>
<ul style="text-align: left; margin-left: 16; margin-top: 0; margin-bottom: 0" type="square">
    <li>
        <p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">Düşük 
						tehdidi</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Düşükler
						</font>
        </p>
    </li>
</ul>
<ul style="text-align: left; margin-top: 0; margin-bottom: 0" type="circle">
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Önlenemez 
						düşük</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">İnkomplet / 
						komplet düşükler </font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Gecikmiş 
						düşük </font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Boş gebelik
						</font>
        </p>
    </li>
</ul>
<ul style="text-align: left; margin-left: 16; margin-top: 0; margin-bottom: 0" type="square">
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Tekrarlayan 
						düşükler </font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Düşük 
						sonrası komplikasyonlar </font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Rahim ağzı 
						problemleri</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Dış gebelik 
						– heterotopik gebelik</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Mol gebelik 
						(üzüm gebeliği)</font>
        </p>
    </li>
</ul>
