<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Gestasyonel Diabet (Gebelik Şekeri) Taraması</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Tüm gebelere gebeliğin belli haftalarında gestasyonel diabet 
				taraması yapılır. Özellikle 35 yaş üstü, kilosu fazla olanlar ve 
				ailede diabet hikayesi olanlara daha erken ve daha sık test 
				yapılır. </font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; line-height:110%" align="center">

    <img border="0" src="img/gebelikimages09.jpg">
</p>
<p style="margin-top: 14px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Gestasyonel diabet</font><font face="Tahoma" color="#635B52" size="2">; 
				gebelik sırasında salgılanan bir takım hormonların etkisiyle 
				ortaya çıkan vücudun şekerle ilgili yeterli miktarda insülin 
				üretmediği diabetin ( çoğu vakada ) geçici bir formudur. Glikoz 
				yada karbonhidrat intolerensi olarak da adlandırılabilir. </font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Bulgu ve Belirtileri ; </font>
</p>
<ul style="text-align: left; margin: 0 16" type="square">
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">İdrarda 
						şeker bulunması </font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Sık su 
						içme </font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Sık idrara 
						gitme </font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Halsizlik
						</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Bulantı
						</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Sık 
						mesane, vajina ve deri enfeksiyonları </font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Bulanık 
						görme </font>
        </p>
    </li>
</ul>
<p style="line-height:110%; margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Tüm gebelerin %2-5'i, risk faktörleri olan gebelerin ise 
				%7-9'unda gestasyonel diabet gelişecektir. Gebeliğin 24-28 
				haftalarında tarama testi yapılır. Bu haftada yapılmasının 
				sebebi plasentanın ürettiği bir hormon olan human plasental 
				laktojen'in (hPL) insülin reszistansına sebep olması ve bu 
				haftalarda üretiminin artmasıdır. Eğer tarama testi pozitif 
				olursa gestasyonel diabet tanısını koymak için ileri test 
				yapılması gerekir. (100 gr OGTT) </font>
</p>
<p style="line-height:110%; margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Önce sabah erken saatte açlık kan şekerine bakılır. Sonra 
				hastaya 50 gr glukoz içeren sıvı içirilir ve bir saat sonra 
				tokluk kan şekerine bakılır. Değer 140mg/dl üzerinde ise test 
				sonucu pozitifdir. Bu durumda 100 gr yükleme yeni tanı testi 
				yapılmalıdır. Burada da açlık kan şekerinden sonra 100 gr glukoz 
				içeren sıvı içirilir. Ve birer saat arayla 3 saatlik kan 
				şekerleri bakılır. 4 değerden ikisi sınırın üstünde ise tanı 
				gestasyonel diabettir. Vücut yeterli insülin üretemiyor 
				demektir. </font>
</p>
<p style="line-height:110%; margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Tedavi Gest DM tedavisinde en önemli bölüm kan şekerinin kontrol 
				edilmesidir. Bunun için kiloya göre hesaplanan belli miktarda 
				kalori içeren diet planlanır. Kan şekerleri takip edilir. Kan 
				şekerli regüle ise gebelik sonuna kadar diet devam edilir. Ancak 
				regüle edilemezse insülin tedavisine geçilir. </font>
</p>
<p style="line-height:110%; margin-left:0px; margin-right:0px; margin-top:16px; margin-bottom:0" align="left">

    <font face="Tahoma" size="2" class="title-color">
				Problemler (komplikasyonlar) <br>
				</font><font face="Tahoma" color="#635B52" size="2">
				Eğer gestasyonel DM tanısı konamaz ve etkin olarak tedavi 
				edilmezse anne ve bebekle ilgili bazı komplikasyonlar gelişme 
				riski vardır. </font>
</p>
<ul style="text-align: left; margin: 0 16" type="square">
    <li>
        <p style="line-height:110%; margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">
            <font face="Tahoma" color="#635B52" size="2">Haftasına göre büyük doğum ağırlığı
						</font>
        </p>
    </li>
    <li>
        <p style="line-height:110%; margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:0" align="left">
            <font face="Tahoma" color="#635B52" size="2">Erken doğum
						</font>
        </p>
    </li>
    <li>
        <p style="line-height:110%; margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:0" align="left">
            <font face="Tahoma" color="#635B52" size="2">Sezeryan doğum riskinin artması
						</font>
        </p>
    </li>
    <li>
        <p style="line-height:110%; margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:0" align="left">
            <font face="Tahoma" color="#635B52" size="2">Anne karnında veya yenidoğan bebek ölüm riskinin artması
						</font>
        </p>
    </li>
    <li>
        <p style="line-height:110%; margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:0" align="left">
            <font face="Tahoma" color="#635B52" size="2">Uygun takip ve tedavi ile gestasyonel diabetli kadınlar 
				sağlıklı bebeklere sahip olabilirler ve diabet doğumdan sonra 
				kaybolur. </font>
        </p>
    </li>
</ul>
<p style="line-height:110%; margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Aşağıdaki belirtilere devam eden kişilerde diabet hala devam 
				ediyor olabilir. </font>
</p>
<ul style="text-align: left; margin: 0 16" type="square">
    <li>
        <p style="line-height:110%; margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">
            <font face="Tahoma" color="#635B52" size="2">Sık idrara gitme
						</font>
        </p>
    </li>
    <li>
        <p style="line-height:110%; margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:0" align="left">
            <font face="Tahoma" color="#635B52" size="2">Kalıcı susuzluk
						</font>
        </p>
    </li>
    <li>
        <p style="line-height:110%; margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:0" align="left">
            <font face="Tahoma" color="#635B52" size="2">Kan ve idrarda yüksek şeker
						</font>
        </p>
    </li>
    <li>
        <p style="line-height:110%; margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:0" align="left">
            <font face="Tahoma" color="#635B52" size="2">Doğumdan 6 hafta sonra kan şeker seviyelerinin normale dönüp 
				dönmediği kontrol etmek için 75 gr OGTT önerilir.</font>
        </p>
    </li>
</ul>
