<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Dış Gebelik</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Döllenmiş yumurta hücresinin rahim içinden farklı bir yerde 
				yerleşmesidir . Heterotopik gebelikte ise hem rahim içinde, hem 
				rahim dışında yerleşmiş birden fazla gebelik vardır. <br>
				% 95 tüplerde görülür. %5 yumurtalıklar , rahim ağzı veya karın 
				boşluğunun herhangi bir yerinde oluşabilir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">
				1. Risk faktörleri:</font><font face="Tahoma" color="#635B52" size="2">
				Tüplerde enfeksiyon veya ameliyatlara bağlı yapışıklık, kromozam 
				anormallikleri, hormonal korunma yöntemleri, RIA ile oluşan 
				gebeliklerdir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">
				2. Bulgular:</font><font face="Tahoma" color="#635B52" size="2">
				Adet gecikmesi ile birlikte kasık ağrısı ve kanama, bazen ani 
				baygınlık hissi görülebilir. Bulguların şiddeti arttıkça ciddi 
				bir iç kanamaya işeret ediyor olabilir. Ultrasonda karın içinde 
				kanama veya yumurtalıklarda kitle, hatta bazen tüplerde kalp 
				atışı oluşmuş fetus bile görülebilir. Heterotopik gebelikte 
				rahim içinde ve dışında iki farklı gebelik görülebilir; 
				ikisinden biri veya her ikisi görülemeyeblir.</font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Heterotopik gebelik ise hem rahim içinde hem de farklı bir yerde 
				2 ayrı gebeliğin aynı anda oluşmasıdır. 15000-40000 gebelikte 
				bir görülür.</font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Tedavi ilaç tedavisi veya duruma göre ameliyat ile olmaktadır. 
				Heterotopik gebelikte rahim içindeki gebelik sağlıklı ise 
				dokunulmaz, dış gebelik komponenti ise ameliyat ile alınır.</font>
</p>
<p style="margin-top: 9px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <img border="0" src="img/gebelikimages07.jpg">
</p>