<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Gebelikte Beslenme ve Kilo Alımı</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; line-height:110%" align="center">
    <img border="0" src="img/gebelikimages17.jpg" >
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Beslenmenin gebeliğin seyrinde ve sonucunda çok büyük etkileri 
				vardır. Hamile olsun ya da olmasın kişinin sağlıklı bir yaşam 
				sürdürebilmesinin temelinde doğru ve yeterli beslenme yatar.</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Hamile kadınlarda beslenme ayrı bir öneme sahiptir. Gelişmekte 
				olan bebeğinizin gereksinimlerini karşılamak ve sorunsuz bir 
				hamilelik ve lohusalık dönemi geçirmek için de doğru beslenmeniz 
				gerekir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Ciddi beslenme bozukluğu olan kadınlardan doğan bebeklerin 
				sonraki yaşamlarında problemler yaşadığı bilinmektedir. 
				Hamilelik süreci temel besin kaynakları olan karbonhidrat, 
				protein, yağlar ile vitamin ve mineral gereksinimlerinin arttığı 
				bir dönemdir. Buna bağlı olarak gereksinim duyduğunuz kalori 
				miktarında da bir miktar artış söz konusudur. Ancak bu artış 
				hiçbir zaman aşırı yemenizi gerektirecek kadar değildir. Gebe 
				olan ile olmayan kadınlar arasındaki kalori gereksinimi farkı 
				sadece 300 kaloridir ve bu her öğünde 1-2 kaşık fazla yenilerek 
				karşılanabilecek bir farktır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Bir beslenme uzmanı tarafından ayarlanmış doğru ve dengeli 
				dietler her durumda gerekli olmamakla birlikte zaman zaman özel 
				şartlarda yararlı olabilir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Hamilelikte eskilerin deyimi ile iki canlı olduğun için fazla 
				yemelisin sözü doğru değildir. Önemli olan dengeli ve düzenli 
				beslenmektir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Gebeliğin erken dönemlerinde bulantı ve kusma sorunu yaşayan ve 
				bu nedenle yeterli şekilde beslenemeyen ve hatta kilo kaybeden 
				anne adaylarına sıklıkla rastlamaktayız. Daha önceden ciddi bir 
				beslenme bozukluğu ve gebeliğin erken dönemlerinde aşırı kilo 
				kaybı yoksa bu durum gelişmekte olan bebek tarafından kolaylıkla 
				tolere edilebilir. Ancak bulantı ve kusmalara bağlı ciddi 
				beslenme bozukluğu yaşayan ve nerdeyse hiçbirşey yiyip içemeyen 
				anne adaylarının hastaneye yatırılarak damar yolu ile beslenmesi 
				gerekli olabilir ancak bu son derece nadir karşılaşılan bir 
				durumdur.</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Öğün sayısı:</font><font face="Tahoma" color="#635B52" size="2">
				Hamilelikte beslenme söz konusu olduğunda ilk planda önerilen 
				günlük öğün sayısında değişikliğe gidilmesidir. Hamile olmayan 
				kişilerde önerilen günde 3 öğünün bu dönemde 5'e çıkarılması 
				yararlıdır. Bu hem erken dönemdeki bulantı ve kusmalar ile baş 
				etmeye yardımcı olur hem de son dönemlerde yaşanan yanma ve 
				şişkinliği azaltır. Üç temel ve iki hatta gerekirse üç ara öğün 
				hamilelikteki uygun öğün şeklidir.</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; line-height:110%; " align="center">

    <img border="0" src="img/gebelikimages08.jpg" >
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Fast food: </font><font face="Tahoma" color="#635B52" size="2">
				Fast food olarak tabir edilen diet şekli genel olarak besin 
				değeri fazla olmayan ancak kalorisi yüksek bir tarzıdır. Yüksek 
				oranda yağ ve katkı maddesi içerdiğinden hamilelikte önerilmez.</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Enerji ve Kilo Artışı:</font><font face="Tahoma" color="#635B52" size="2">
				Gebelikte kalori 3 nedenden dolayı gereklidir. Bunlar gebeliğe 
				bağlı yeni dokuların yapımı, bu dokuların idame ettirilmesi ve 
				gebe vücudun hareketi için gerekli olan enerjinin 
				sağlanmasıdır.Gebe bir kadın gebe olmayana göre günde yaklaşık 
				fazladan 300 kaloriye ihtiyaç duyar. Bu da yaklaşık %15'lik bir 
				artış yani 2300 kalori/gün'dür. </font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Gebelikteki kalori tüketimi ilk 3 ayda en az düzeydeyken bu 
				dönemden sonra hızlı bir artış gösterir. İkinci 3 ayda bu 
				kaloriler başlıca plasenta ve embryo gelişimini karşılarken son 
				3 ayda ise temel olarak bebeğin büyümesine harcanır. Normal 
				sağlıklı bir kadında tüm gebelik boyunca önerilen kilo artışı 
				11-13 kg'dır. Bu 11 kilonun 6 kilosu anneye, 5 kilosu ise bebeğe 
				ve ona ait oluşumlara (plasenta, amniyon sıvısı) aittir.</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Karbonhidratlar:</font><font face="Tahoma" color="#635B52" size="2">
				Vücudun kalori gereksinimi 3 temel enerji kaynağı olan 
				proteinler, yağlar ve karbonhidratlardan sağlanır. Eğer 
				karbonhidratlar yetersiz alınırsa vücudunuz enerji sağlamak için 
				proteinleri ve yağları yakmaya başlar. Bu nedenle hamilelikte 
				karbonhidrattan fakir diyet önerilmez.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Pirinç, un, bulgur biri kompleks karbonhidrat kaynakları anne 
				için enerji kaynağı olmanın yanısıra B grup vitaminleri ve 
				çinko, selenyum, krom, magnezyum gibi eser elementleri bol 
				miktarda ihtiva ederler.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Karbonhidratlar fazla miktarda tüketildiğinde ise bebek 
				açısından ekstra bir yarar sağlamadıkları gibi sadece anne 
				adayının aşırı kilo almasına neden olurlar.</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Protein:</font><font face="Tahoma" color="#635B52" size="2">
				Proteinleri saç telinden tırnağa kadar vücutta bulunan tüm 
				hücrelerin yapı taşı oldukları gibi beyin ve sinir sisteminin 
				gelişimi içinde yaşamsal öneme sahiptirler. Bu nedenle hamile 
				kadınarın günde 60-80 gram protein almaları önemlidir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Proteinin ana kaynağı hayvansal gıdalardır. Et, kümes hayvanları 
				ve balık komplet proteinler içerirler. Bunun yanısıra süt ve süt 
				ürünleri de hayvansa protein gereksiniminin karşılanması 
				açısından yeterli olabilir.</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Süt ve süt ürünleri:</font><font face="Tahoma" color="#635B52" size="2">
				Gebe bir kadın güçlü kemikler ve dişler için bebeğe gerekli olan 
				kalsiyum ve diğer elementleri sağlamak maksadıyla en az 1-2 
				bardak süt içmelidir. D vitamini takviyeli sütler varsa bu çok 
				daha iyi olur.Gaz ve hazımsızlık nedeni ile (laktoz intoleransı) 
				süt içilemeyen durumlarda bunun yerine peynir ya da yoğurt 
				yenebilir. Kalsiyum alımının yetersiz olmasi durumunda dışarıdan 
				verilecek ilaçlar ile destek sağlanabilir.</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Et, balık, kümes hayvanları, yumurta, kurubaklagiller:</font><font face="Tahoma" color="#635B52" size="2">
				Bu gıdalar vitamin ve mineral yanında protein de sağlarlar. Gebe 
				kadında ve bebeğinde doku gelişimi ve yeni doku oluşumu için 
				protein şarttır. Bu tür gıdalardan günde 3 öğün 
				alınmalıdır.Baklagiller öğünün protein değerini arttırmak için 
				peynir, süt ya da etle birlikte alınabilir.</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Yağlar ve tatlılar:</font><font face="Tahoma" color="#635B52" size="2">
				Bu grup gıdalar margarin, tereyağ, şekerlemeler, tatlılar, 
				salata sosları, bitkisel yağlar gibi besinleri içerir. Bu türden 
				gıdalar öğünlerde tek başına alınmamalı sadece kalori açığını 
				gidermek için yenmelidir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Vitamin ve mineral desteği, demir ve folik asitHamile kadınlara 
				pekçok vitamin ve minerali içeren ilaçları vermek rutin ancak 
				gerekliliği hala daha tartışılan bir uygulamadır. Dengeli ve 
				doğru beslenen hamile bir kadında dışarıdan vitamin desteği şart 
				değildir. Ancak demir ve folik asit bu durumun istisnasıdır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Folik asit bebeğin beyin ve sinir sistemi gelişimi için kilit 
				öneme sahip olduğundan hamile kalmadan önce alınmaya başlanması 
				gerekir. Gebelikteki artmış demir gereksinimi doğal yollardan 
				karşılanamaz. Bu nedenle özellikle gebeliğin 2. yarısından sonra 
				dışarıdan verilen demir ilaçları ile destek yapılır. Türk 
				toplumunda demir eksikliği anemisi çok sık görüldüğünden 
				gebeliğin başında yapılan kan sayımında anemi saptanması 
				durumunda gebeliğin en başından itibaren desteğe başlanabilir. 
				Gebelikte demir kullanımının bir başka önemi de kansızlık olmasa 
				dahi hem anne adayının hem de bebeğin demir depolarını yeterli 
				şekilde doldurmak için gerekli olmasıdır.</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Su:</font><font face="Tahoma" color="#635B52" size="2">
				Su hamilelikte alınmasına özel önem gösterilmesi gereken belki 
				de en önemli besin maddesidir. Günde 8-10 bardak kadar su ile 
				böbrekleriniz ve sindirim sisteminiz daha iyi çalışacak , erken 
				doğum riskiniz azalacaktır.</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Tuz:</font><font face="Tahoma" color="#635B52" size="2">
				Geçmişte gebelikde tuz tüketiminin kısıtlanmasının gerektiği 
				düşünülmekteydi. Günümüzde ise bunun gerekli olmadığı normal 
				miktarda gıdalar ile alınan tuzun yeterli olduğu ve kısıtlamaya 
				gidilmemesi gerektiği kabul edilmektedir.Hamile bir kadın günde 
				2 gram tuz almalıdır. Yetersiz ya da aşırı tuz alımı anne 
				adayının sıvı elektrolit dengesini olumsuz şekilde etkiler</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				Vejeteryan diet:</font><font face="Tahoma" color="#635B52" size="2">
				Sakıncalı olmakla birlikte belirli kurallara uyulmak kaydıyla 
				gebelik sırasında vejeteryan diete devam edilebilir.</font>
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="center">

    <img border="0" src="img/beslenme.gif" >
</p>
<p style="margin-top: 12px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#D80075" size="2">
				ÖNEMLİ İPUÇLARI</font>
</p>
<ul style="text-align: left; margin-left: 16; margin-top: 0; margin-bottom: 0" type="square">
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Beslenme 
						piramidini inceleyin. En altta bulunan besinlerden 
						önerilen miktarda tüketmeye dikkat edin. Bu bölümdeki 
						besinlerden fazla miktarda tüketmeniz bebeğinizden çok 
						sizin kilo almanıza neden olacaktır. Bu nedenle önerilen 
						miktarda karbonhidrat aldıktan sonra meyve ve sebzeleri 
						ekleyin. Aldığınız yağ miktarının az olmasına dikkat 
						edin. </font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Çeşitlilik 
						son derece önemlidir. Bu hem yemekleri monoton biçimde 
						algılamanızı engeller hem de yeterli miktarda vitamin ve 
						besin ögeleri almanıza destek olur. Önerilen gruplarda 
						hergün farklı şeyler tüketmeye gayret gösterin </font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Suyu asla 
						ihmal etmeyin. Yeteri kadar suya sahip olmak hamilelikte 
						pek çok yarar sağlar. Bunlardan en önemlileri erken 
						doğum riskini azaltmasıdır. Aynı zamanda cilt güzelliği 
						ve elastikiyeti için su son derece önemlidir. Yeteri 
						kadar su içmek hamileliğe bağlı kabızlık ya da ödem gibi 
						rahatsızlık verici sorunları da azaltır. Meyve suları da 
						yararlıdır ancak asla suyun yerini tutmaz. Hamilelikte 
						ana sıvı kaynağınız her zaman su olmalıdır. Soda, kahve 
						gibi içecekler günlük sıvı alım miktarınıza dahil 
						edilmemelidir. Günde en az 8 -10 bardak su içmelisiniz.
						</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Yiyecekleri 
						taze olarak tüketmeye özen gösterin. Konserveden ve 
						işlenmiş ürünlerden uzak durmaya çalışın. </font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Protein 
						gelişmekte olan bebeğiniizn her hücresinde yer alan en 
						önemli yapı taşıdır. Bazı çalışmalar günde en az 75 
						miligram protein alımının preeklempsi ve diğer tehlikeli 
						komplikasyonlara karşı koruyucu olduğunu göstermektedir.
						</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Eğer 
						bulantı ya da mide yanması yakınmanız varsa az ama sık 
						öğünler alın. Bu tür bir alışkanlık kan şeker 
						düzeyinizin belirli aralıkta tutulmasına da yardımcı 
						olur. </font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Hamilelikte 
						önerilen miktarda kilo alımı esastır. Doktorunuza 
						danışmadan asla ve asla perhiz yapmayın. Herhangi bir 
						besin maddesinin alımını kısıtlamayın. Buna tuz da 
						dahildir. Hamilelikte yeterli ve uygun beslenme sağlıklı 
						bir bebeğin önemli adımlarından biridir. </font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Vitamin 
						hapları almanız bazı besinleri yemeyebileceğiniz 
						anlamına gelmez. Haplar sadece yeterli ve önerilen 
						miktarda vitamin aldığınızdan emin olmak için verilir.
						</font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">
						Aburcuburdan uzak durmaya çalışın. Bunu başarmak kolay 
						değildir. Aburcubur yemeden durmak günümüz şartlarında 
						pek olası değil. Ancak miktarlara dikkat edebilirsiniz. 
						Hamilelik istediğiniz kadar kilo alabilmeniz için bir 
						fırsat değildir. Özellikle tatlı tüketiminize dikkat 
						edin. Haftada 1-2 defa yenilen tatlının bir zararı 
						yoktur. </font>
        </p>
    </li>
    <li>
        <p style="margin:0 0px; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Anemi, 
						çoğul gebelik, erken yaşta gebelik, şeker hastalığı gibi 
						sorunlarınız varsa bu sorunlar hamilelik süresince 
						beslenmenizle ilgili özel durumlar doğurabilir. 
						Doktorunuza kendi durumunuzla ilgili özel bir beslenme 
						programı uygulamanız gerekip gerekmediğini mutlaka 
						sorun.</font>
        </p>
    </li>
</ul>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    &nbsp;</p>
<p style="margin-top: 7px; margin-bottom: 0; line-height:110%; " align="center">

    &nbsp;</p>