<p style="margin:0 0px; " align="left">
    <font class="page-title">
        <i class="ion-egg"></i>
				İlk gebelik belirtileri</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Çok 
				fazla değişiklik olabilir, ya da hiçbir şey değişmeyebilir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Kişiler 
				arası çok belirgin farklılıklar olmasına karşın sık görülen 
				gebelik bulgularını kısaca ele alalım.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Beklenen adet tarihinde gecikme Her zaman gebeliği göstermese ya 
				da gebelik bulunmasına rağmen adet görülebilmesine karşın 
				binlerce yıldır olduğu gibi hala gebeliğin en erken bulgusudur.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">Bulantı:</font><font face="Tahoma" color="#635B52" size="2"> 
				Sabahları daha belirgin olan bulantılar genelde günün ilerleyen 
				saatlerinde hafifler ya da kaybolur.Bazı hastalarda beklenen 
				adet gününden bile önce ortaya çıkabilir.Gebeliğin 10. haftasına 
				kadar şiddeti artabilir.Büyük bölümünde daha sonra 
				kaybolur.Gebelik hormonunun (Chorionic gonodotropin) düzeyindeki 
				artışa bağlanmaktadır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">Kokulara karşı 
				duyarlılık:</font><font face="Tahoma" color="#635B52" size="2"> 
				Genel olarak kokulara karşı bir duyarlılık olsa da her anne 
				adayında farklı şekilde ortaya çıkabilir.Örneğin mutfağa 
				giremeyen,sabun kokusuna duyarlılık nedeniyle ellerini 
				yıkayamayan,dişlerini fırçalayamayan anne adaylarına sıklıkla 
				rastlarız.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">Fazla uyuma ihtiyacı:</font><font face="Tahoma" color="#635B52" size="2"> 
				Genelde hamileliğin erken dönemlerinde ortaya çıkar.Çalışan 
				hanımlar bunu daha iyi fark edebilir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">Tansiyon düşmesi:</font><font face="Tahoma" color="#635B52" size="2"> 
				Açlık durumunda ve yetersiz sıvıalındığında daha sık 
				görülür.Gebeliğin etkisiyle dolaşım sisteminde oluşan 
				değişikliklere bağlıdır.Birinci ve ikinci 3 aylık periodta 
				belirgindir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">Kasık ağrıları:</font><font face="Tahoma" color="#635B52" size="2"> 
				Ani yapılan hareketlerde , oturur pozisyondan ayaga kalkarken ya 
				da yatar pozisyonda sağa sola dönerken çoğu kez tek taraflı 
				,ancak bazen çift taraflı da olabilen kısa süreli keskin ağrılar 
				görülebilir. ‘Round ligament ağrısı’ olarak bilinen bu ağrı 
				rahimi yerinde tutan bağların gerilmesiyle ortaya çıkar.Keskin 
				bir ağrı olmasına karşın zararı yoktur. Ani hareketlerden 
				kaçınmak uygun olacaktır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">Sık idrara çıkma:</font><font face="Tahoma" color="#635B52" size="2"> 
				Erken dönemde başlar ve genelde hamilelik boyunca da devam eder.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">Göğüslerde 
				değişiklikler:</font><font face="Tahoma" color="#635B52" size="2"> 
				Şişkinlik,gerginlik ve ağrı görülebilir.bu bulgular adet öncesi 
				gerginlik sendromunde da ortaya çıkabilecek bulgulardır.Ayrıca 
				bazı gebelerde de görülmeyebilir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2"> 
				Hamilelik başlangıcında ilk kontrol genelde gebelik boyunca 
				yapılacak bütün kontrollerinizden daha ayrıntılı olacaktır. 
				Beklenen adet kanamasının 1hf 10 gün gecikmesinin ardından 
				doktorunuzla görüşmenizde fayda vardır.Bu dönemde yapılan 
				ultrasonografi ile dış gebelik ekarte edilebilir ve gebelikle 
				ilgili danışmanlık verilebilir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2"> 
				İlk 
				muayene genel olarak en uzun olanıdır. Doktorunuz sizi ilk kez 
				görüyorsa gebelik öncesi sağlık durumunuz,yaşadığınız bütün 
				sağlık sorunları,aileniz ve daha pek çok şey hakkında sorular 
				soracaktır.Ayrıca bütün sistemlerle ilgili kısa bir muayene 
				yapacak,gebelikte yaşamınızda değişen faktörler , beslenme 
				alışkanlıkları ve daha pek çok şey hakkında bilgi verecek ve 
				uygun görürse laboratuar tetkiklerinizi başlatacaktır. Bundan 
				sonraki kontroller özel durumlar dışında genelde daha kısa 
				sürer.</font>
</p>