<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Hamilelik döneminde anne haftalara göre nasıl gelişir?</font>
</p>
<p style="margin-top:12px; margin-bottom:0" align="center">
    <img border="0" src="img/what02.jpg" >
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#635B52" size="2">Hamilelik 
				yolculuğunuz yaklaşık 40 hafta sürecek ve her hafta bebeğiniz 
				için ayrı bir dönüm noktası olacak. Haftalara göre adım adım 
				değişim ve gelişiminiz şöyle sıralanıyor: </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">1. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Yumurtlama 
				sürecinin başlangıcı, adet döneminizin yaklaşık 14. gününe denk 
				gelir ve ‘birinci trimester’ (birinci 3 aylık dönem) başlar. <br>
				Ilk hafta sağ veya sol tüpler tarafından yakalanan yumurta 
				hücresi olgunlaşmaya başlar. İki hücrenin birleşmesi ile tek bir 
				hücre oluşarak çoğalır ve gebeliğin ilk aşamasına geçilir. <br>
				Alkol ve sigara gibi zararlı alışkanlıklarınızdan vazgeçmeniz 
				için en uygun dönem. Bu dönemde sağlıklı ve doğru beslenme 
				alışkanlığı kazanmalısınız. Stresten uzaklaşmalı ve pozitif 
				düşünmelisiniz. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">2. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Son adet 
				döneminizin belirtileri bu hafta kaybolur. <br>
				Yumurtalıklarda ise yumurta hücresi gelişmeye devam eder. <br>
				0.15 mm çapında olan rahim zarı, bebeğin gelişimi için 
				hazırlanır ve 18-20 mm çapına kadar kalınlaşır. (Rahim içi 
				kendini her ay tekrar hazırlar.) <br>
				İkinci haftanın sonunda spermle döllenmek için gelişen yumurta, 
				çatlayarak yumurtalıktan atılır. <br>
				Bu hafta kendinizde herhangi bir fiziksel ya da ruhsal 
				değişiklik hissetmezsiniz. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">3. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">
				Yumurtalıklardan salgılanan yumurta hücresi, Fallop tüplerinde 
				ilerlerken, ilk saatlerde spermle karşılaşmalı ki, bebeğinizin 
				yaşamı başlasın! <br>
				Yumurta etrafında pek çok sperm kümelenir ama sadece bir tanesi 
				yumurta zarından içeri girer. Spermin kromozomuyla, yumurtanın 
				kendi kromozomu birleşerek, döllenir. <br>
				Bazı annelerde yumurta hücresinin salınmasıyla birlikte kanama 
				gerçekleşir. <br>
				Bu hafta vücudunuz, bebeğinize uyum sağlamak için Erken 
				Hamilelik Faktörü (EPF) hormonu salgılar. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">4. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Normal 
				şartlarda adet görmeniz gerekirken, bu hafta adet görmezsiniz. 
				Ama adet öncesi belirtileri görebilirsiniz. <br>
				Bu arada yorgunluk, ruh halinizde ani değişimler, göğüslerde 
				hassasiyet, uyuma isteği, bel ağrısı gibi bazı fizyolojik ve 
				ruhsal değişiklikler yaşayabilirsiniz. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">5. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Hormon 
				değişimlerinin etkisiyle bu hafta uyuma isteğiniz ve tuvalete 
				gitme ihtiyacınız artar. <br>
				Belirtilerinizin çoğu geçen haftayla aynı olur ama artı olarak 
				baş ağrısı yaşayabilirsiniz.</font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">6. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Salgılanan 
				hormonlar arttıkça, gün boyunca da sürebilecek sabah 
				bulantılarınız başlar. <br>
				Kokulara karşı hassasiyetiniz artar hatta parfüm, sigara gibi 
				kokulara dayanamayabilirsiniz. Ama unutmayın ki, bu belirtiler 
				normal ve geçici. <br>
				Bulantı dışında uyuma isteğiniz ve baş ağrılarınız da artabilir. 
				Mümkün olduğunca uyumak, vücudunuzun hamilelik döneminden önceki 
				açığı kapatması ve bu belirtilerin azalması için önemli! <br>
				İştahınız açılır, göğüs uçlarınız koyulaşır, göğüsleriniz 
				dolgunlaşır ve dolayısıyla ağrıyabilir. <br>
				Bu haftadan itibaren düşük belirtilerine dikkat etmelisiniz. Her 
				kanama ve ağrı düşük belirtisi değildir ama aynı zamanda düşük 
				tehdidinin en önemli belirtileridir. Böyle durumlarda mutlaka 
				doktorunuza başvurmalısınız. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">7. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">
				Hamileliğinizin erken belirtileri yavaş yavaş azalmasına rağmen 
				bulantı ve kusmalarınız özellikle erken saatlerde artabilir. 
				(Belirtiler şiddetliyse, biraz kilo kaybedebilirsiniz.) <br>
				Hormonlarla ilgili olarak bunalım yaşayabilirsiniz. Böyle 
				durumlarda eşinizle beraber hamilelik derslerine katılmanız, 
				rahatlamanıza yardımcı olabilir. <br>
				Ayrıca çeşitli şikayetlerden dolayı sıklıkla dinlenmeniz 
				gerekeceğinden, günlük hayatınızı yeniden düzenlemelisiniz. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">8. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Artık 
				portakal büyüklüğündeki rahminiz, idrar kesenize baskı yapmaya 
				başlar ve tuvalete gitme ihtiyacınız artar. <br>
				Bu dönemde hormonların etkisiyle cildiniz fazla yağ salgılar ve 
				sivilce gibi cilt problemlerine sebep olur. Bu belirtiler 
				genellikle ilk üç aydan sonra kaybolur. <br>
				Bu hafta, ilk detaylı check-up’ınızı yaptırma zamanı! Çünkü 
				“yalancı hamilelik” ihtimali artık ortadan kalktı. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">9. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Artan 
				hormonların etkisiyle kendinizi yorgun ve uykulu hissetmeye 
				devam edersiniz. <br>
				Göğüslerinizdeki dolgunluk ve hassasiyet biraz daha artabilir. 
				(Bu dönemde alttan destekli sütyenler kullanmalısınız.) <br>
				Mide yanması ve hazımsızlık gibi şikayetler yaşayabilirsiniz. 
				(Mideniz hiçbir zaman aşırı dolu olmamalı!) Ayrıca kişiden 
				kişiye değişen ve mide yanmasına sebep olan yiyecekler 
				yememelisiniz. <br>
				Burun kanamaları da hamilelikte sıklıkla görülür ama her ne 
				olursa olsun artık gebeliğe alışmaya başlıyorsunuz. <br>
				Bu haftalarda günlük kalori ihtiyacınız yaklaşık 300 kalori 
				artar. Yeterli kalsiyumu alabilmek için bol bol süt ürünleri 
				tüketmelisiniz. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">10. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Uzun süreli 
				oturmak ya da ayakta durmak dolaşım sistemini yavaşlatır. Bu da 
				varis, basur ya da ayak şişmelerine neden olur. Bu yüzden iki 
				saatte bir, en az 10 dakika dolaşmalısınız ki bacak kasları 
				arasındaki toplar damarlar harekete geçsin. <br>
				Bu hafta içinde genellikle bulantı şikayetiniz azalır. Ama bazen 
				şiddetli olarak, birkaç hafta daha devam edebilir. <br>
				Hormonların etkisiyle kısa süreli huzursuzluk, keyifsizlik, ani 
				sinirlenme gibi belirtiler yaşayabilirsiniz. <br>
				Hamileyken kan hacmi %40-50 oranında arttığından, özellikle 
				göğüs ve bacak bölgelerinizde toplar damar belirginleşmesi 
				yaşayabilirsiniz. (Bu varis olacağı anlamına gelmez.) <br>
				Kilo alımı, anneden anneye ve hamilelikten hamileliğe göre 
				değişir. Eğer gereğinden fazla kilo alıyorsanız bu çok su 
				tutmanıza bağlıdır ve doğumdan sonra kolaylıkla verebilirsiniz. 
				Ya da kilo almamış hatta vermiş olsanız bile, bir sonraki 
				haftadan itibaren yaklaşık 450 gr almaya hazır olun. • 
				Hamileyken asla diyet yapmayın! </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">11. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Rahim 
				büyüdükçe ağırlık merkezi öne doğru gelir. Eğer belinizi yanlış 
				kullanıyorsanız bel ağrısı şikayetleriniz artar. Genellikle 20. 
				haftadan sonra ortaya çıkan bel ağrıları için önceden önlem 
				almak gerekir. (Mesela belinizin arkasında ve koltuğun arasında 
				hiç boşluk olmasın, yerden birşey alırken belinizden değil 
				dizlerinizi bükerek eğilin ya da ortopedik özellikte olan bir 
				yatak tercih edin.) <br>
				Ayrıca hormonların etkisiyle saç ve tırnaklarınız daha hızlı 
				uzamaya başlar. <br>
				Besleyiciliği yüksek ve kalorisi düşük gıdalarla beslendiğiniz 
				sürece vücudunuzun yağ depolanmasından korkmayın. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">12. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Artık 
				rahminiz büyüdüğü için idrar kesenizdeki baskı kalkar ve 
				sıklıkla tuvalete gitme ihtiyacınız azalır. (Son 3 aya kadar 
				böyle devam eder.) <br>
				Bulantılar geçer ve yorgunluk hissi de azalır. <br>
				Kan hacminin artmasından dolayı baş ağrısı ve baş dönmesi 
				şikayetleri artar. (İlerki dönemlerde azalır.) <br>
				Hormonlar yüzünden, cildinizde çeşitli değişiklikler meydana 
				gelir. Bazı annelerin cildi gerginleşip güzelleşirken, 
				kimilerinde sivilcelenme olur. (Böyle durumlar genellikle ‘kız 
				çocuğunun, annesinin güzelliğini ödünç alması’ olarak 
				yorumlanır.) <br>
				Ayrıca bu haftalar diş kontrolünüz için uygun bir dönem çünkü 
				diş etleri hamilelikten olumsuz yönde etkilenir. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">13. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Karnınızda 
				ve sağ kasığınızda ağrılar olabilir. Çünkü rahim, kendini tutan 
				bağlara göre daha hızlı büyür. (Bağların gevşemesiyle bu ağrılar 
				ortadan kalkar.) </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">14. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bu hafta, 
				hamileliğinizin en rahat dönemi olan ikinci trimester (İkinci 3 
				aylık dönem) başlar. Çünkü artık vücudunuz hamileliğe uyum 
				sağlar. Hatta dışarıdan bakanlar, dikkat ederlerse hamile 
				olduğunuzu anlayabilirler. <br>
				Bu dönemde hormonlar en üst seviyeye çıkar ve dolayısıyla 
				bulantı yorgunluk hissiniz azalır. (Yorgunluğunuz devam ediyorsa 
				dinlenmeye devam etmelisiniz. ) <br>
				Progesteron hormonunun etkisiyle tüm düz kaslarda oluşan 
				gevşeme, bağırsak kaslarında da gerçekleşir ve kabızlığa neden 
				olabilir. ( Lifi zengin besinler yemeli ve tuvalet ihtiyacınızı 
				ertelememelisiniz.) <br>
				Bu dönemde göğüs ve karnınızdaki toplardamarlar genişler ve 
				emzirmeye uygun şekilde meme uçlarınız büyüyerek koyulaşır. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">15. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bu hafta 
				elinizi karnınıza götürdüğünüzde, rahminizi dışarıdan top gibi 
				hissedebilirsiniz. <br>
				Kalbiniz hamilelik öncesine göre %20 daha fazla kan pompalar. 
				(Bu oran hamileliğiniz boyunca %30-50’lere kadar yükselir.) <br>
				Ayrıca göğüslerinizden ‘klostrum’ adı verilen normal bir sıvı 
				gelebilir. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">16. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Cildinizde 
				güneşten kaynaklanan lekeler oluşabilir. (Sebebi kandaki 
				östrojen hormonunun pigment hücreleri üzerindeki etkisi.) Bu 
				lekeler kalıcı olmaz ama güneşe karşı koruyucu krem kullanmanız 
				gerekir. <br>
				Bu dönemde burun kanamanız olabilir. <br>
				Allerjik bir bünyeniz varsa allerjiniz azalır ama bazen de 
				artabilir. (Hatta bünyenizde yeni bir allerji de çıkabilir.) <br>
				Bacaklarınızın arkasındaki kılcal damarlarda belirginleşmeler 
				olur. (Varis tehlikesini önlemeniz gerekir.) <br>
				Eğer bebeğinizin ‘Down Sendromu’nu belirleyici 11. ve 14. hafta 
				testlerini yaptırmadıysanız, 16. ve 18. hafta testlerini 
				yaptırmanızı öneriyoruz. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">17. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Rahminiz 
				göbek deliğinize ulaşır. (Annelerin karın büyüklüğü, karın 
				çevresindeki derinin gerginliği ya da gaz yüzünden karnının ne 
				kadar şiş olduğuyla ilgili olarak, farklı olabilir.) <br>
				Bebeğiniz bu hafta daha fazla kilo alacağı için, siz de 2 – 2.5 
				kilo daha alabilirsiniz. <br>
				Eğer 11 – 14 testlerini yaptırmadıysanız, en geç bu hafta içinde 
				16 – 18 hafta testlerini yaptırmanızı öneriyoruz. (Bazı 
				durumlarda amniyosentez önerilir. Yani bebeğin içinde bulunduğu 
				sıvıdan enjektör yardımıyla biraz alınır ve ‘Down Sendromu’ 
				ihtimali kesin olarak belirlenir.) <br>
				Ayrıca bu dönemde terleme ve vajinal akıntınızda artış olabilir. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">18. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bebeğinizin 
				aldığı kan miktarının çoğalması ve kan damarlarındaki gevşeme, 
				tansiyonunuzun düşmesine neden olabilir. <br>
				Kalbinizin ani pozisyon değişikliklerine cevabı yavaşlar. ( 
				Mesela aniden ayağa kalktığınızda tansiyonunuz düşebilir.) <br>
				Eğer baş dönmesi ve bayılma hissi yaşıyorsanız, normaldir. Ama 
				bu durum sık tekrarlanıyor ve bilinç kaybına kadar gidiyorsa 
				doktorunuzla görüşmenizi öneriyoruz. <br>
				Dijital tansiyon aletleri hamilelik döneminizde doğru sonuç 
				vermez. Bu yüzden mutlaka tansiyonunuzu bir doktor ya da 
				hemşireye ölçtürün. <br>
				Tansiyonunuz düştüğünde bacaklarınızı kaldırıp, duvara dayanın 
				ve bu şekilde birkaç dakika yatın. <br>
				Geceleri uyumak zor olabilir çünkü bebeğiniz büyüyor. ( Yatarken 
				destekleyici yastıklar koymayı deneyin. ) <br>
				Ayrıca yatmadan önce tuvalete gitmeyi ihmal etmeyin. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">19. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Artık eski 
				kıyafetlerinizin üzerinize olmadığını fark edersiniz ve hamile 
				kıyafetlerinin mutluluğunu yaşamaya başlarsınız. <br>
				Göğüs halkalarınız genişler. ( Doğumdan sonraki 12. aya kadar 
				devam edebilir.) <br>
				Hormonların etkisiyle yanak, burun ve çene bölgenizde yanma 
				hissiyle birlikte ‘kloazma’ adı verilen kızarıklıklar ortaya 
				çıkar. Bu lekeler genellikle kalıcı olmaz ama güneşte daha fazla 
				belirginleşir ve giderilmesi zorlaşır. <br>
				Genetik yapınıza bağlı olarak karın, kalça ve meme 
				bölgelerinizde çatlaklar oluşabilir ve kaşıntıya sebep olabilir. 
				(Nemlendirici krem ve badem yağı kullanabilirsiniz. Ayrıca bol 
				sıvı almak ve sağlıklı beslenmek çatlakların şiddetini 
				azaltabilir.) </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">20. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bebeğiniz 
				gelişiminin yarısını bu haftada tamamlar ve artık rahminiz her 
				hafta 1 cm daha yukarı çıkar. <br>
				Göbek deliğinizle kasıklarınız arasındaki çizgi koyulaşmaya 
				başlar. (Bu çizgi doğumdan bir kaç ay sonra tamamen kaybolur.)
				<br>
				Demir ve vitamin desteği almayı unutmayın. Özellikle 
				kansızlığınız varsa, bebeğinizin ihtiyacı olan demiri hiçbir 
				gıdayla sağlayamazsınız. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">21. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bu haftadan 
				itibaren bebeğinizin hareketleri artacak ve siz de daha çok 
				hissedeceksiniz. Bu hareketler, beyin dokusu geliştikçe daha 
				istikrarlı ve anlamlı olacak. <br>
				İlerleyen haftalarda konuşmanıza ve hatta yediklerinize tepki 
				verdiğini göreceksiniz. <br>
				Bazen burnunuz kanayabilir. (Vücudunuzdaki kan miktarının 
				artması yüzünden burnunuzdaki kılcal damarlar daha kolay 
				çatlar.) Bu kanamalar normaldir ama kanama, her zaman bu duruma 
				bağlanamaz. Bu yüzden doktorunuza başvurmalısınız. <br>
				Artık en azından haftada bir kez tansiyonunuzu ölçtürmelisiniz.
				<br>
				Vücudunuzdaki kan miktarının artmasıyla, özellikle de tüm gün 
				ayaktaysanız, akşamları ayaklarınız ve ayak bilekleriniz 
				şişebilir. (Gün içinde bol bol su içmelisiniz.) </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">22. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Rahminizi 
				artık göbeğinizin iki parmak üstünde hissedebilirsiniz. <br>
				Hamilelik döneminde vücudunuzun ağırlık merkezi sürekli 
				değiştiği için kemikleriniz zorlanır ve bu sizde ağrı 
				yaratabilir. <br>
				Karnınız büyüdükçe, bel kavisiniz de içeriye doğru genişler ve 
				vücudunuzun denge merkezi yer değiştirir. Bu yüzden zaman zaman 
				denge sağlamakta güçlük çekebilirsiniz. (Evde yanlız banyo 
				yapmayın, spor yapıyorsanız bir süre ara verin.) <br>
				Hormonların etkisiyle tüm eklemlerinizde gevşemeler olabilir ve 
				bu size bel ağrısı yaratabilir. (Bu dönemde denge sorunları ve 
				bel ağrıları yüzünden topuklu ayakkabılardan uzak durmalı ve 
				ortopedik ayakkabılar giymelisiniz.) <br>
				Ayrıca çatınızı oluşturan kemikler bu haftadan itibaren doğuma 
				hazırlanmaya başlar ve çeşitli ağrılar hissedersiniz. (Günlük 
				yürüyüşler yapmalı ve otururken dizlerinizin kalça seviyesinden 
				yüksekte olmasına dikkat etmelisiniz.) </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">23. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bu 
				haftalarda rahminizde bebeğinizin hareket etmesi için çok geniş 
				bir alan olur. Tekmeler, omuz atar ve yumruklar… Özgürce hareket 
				eder ve siz de hissedersiniz. Bilmelisiniz ki bu hareketler 
				O’nun kas güçlenmesi için çok önemli! <br>
				Bu dönemde ruhsal dalgalanmalar yaşamanız olağandır. (Üzerinde 
				fazla durmamaya çalışın.) <br>
				Sancılar halinde gelen, kısa süreli ve sebepsiz karın ağrıları 
				yaşarsınız. Çünkü rahim bağları, rahimden daha yavaş büyür. Yine 
				de ağrı başka sebeplerden de gelişebilir. Emin olmak için 
				doktorunuza danışmalısınız. <br>
				Döl yatağı kasınız doğuma hazırlanmaya başladığı için karnınızda 
				gerilme hissedebilirsiniz. <br>
				Bu dönemde ‘aşerme’ denilen hamilelik belirtisi başlar. <br>
				Yirmili haftalarda bacak krampları yaşanır. ( Kramp girdiğinde 
				bacağınızı düz uzatın ve masaj yaptırın.) Krampların azalması 
				için vücudunuzu kalsiyum ve magnezyumla destekleyin. <br>
				Yavaş ve sürekli kilo alırsınız. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">24. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">24. haftada 
				‘getasyonel diyabet’ (gebelikte görülen şeker hastalığı) hiç bir 
				belirti göstermeden ortaya çıkabilir. Doktorunuz sizden bu hafta 
				‘şeker tarama’ testi ister. Bu test 28. haftaya kadar 
				ertelenebilir. Bu konuda doktorunuza danışmalısınız. <br>
				Artık erken doğumla ilgili bilgi sahibi olmalı ve belirtilerine 
				dikkat etmelisiniz. Erken doğumlar su kaybına bağlı olarak 
				özellikle yaz aylarında daha çok yaşanır. (Bol su içmeye devam 
				edin.) <br>
				Belirtilerden birinin bile varlığı durumunda mutlaka doktorunuza 
				danışın : <br>
				Saatte 5 kezden fazla kramp ve kasılma oluyorsa, <br>
				Vajinanızdan kan geliyorsa, <br>
				Yüzünüz ve elleriniz şişiyorsa, <br>
				İdrar yollarında ağrı varsa, <br>
				Keskin veya uzun karın ağrısı yaşıyorsanız, <br>
				Devamlı kusuyorsanız, <br>
				Vajinanızdan sulu ve berrak bir sıvı gelirse, <br>
				Sırt ağrılarınız ya da şiddetli pelvik basınç varsa… </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">25. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Rahminiz bu 
				hafta futbol topu büyüklüğünde! <br>
				Karnınızdaki ağırlık belinizdeki sinirlere baskı yaparak bel ve 
				bacaklarınızda ağrılara yol açabilir. (Sık sık pozisyon 
				değiştirin, ılık duş alın ve ağrıyan bölgelere buz tutun.) Eğer 
				ağrılarınız çok şiddetliyse doktorunuzun önerdiği ağrı 
				kesicileri kullanın. <br>
				Bu dönemde yorgunluk hissedebilirsiniz. Normal olduğunu 
				unutmayın. <br>
				Aynı zamanda hamileliğinize bağlı olarak gözleriniz ışığa karşı 
				aşırı duyarlı hale gelebilir ve kuruyabilir. (Yapay gözyaşı 
				damlası kullanın.) </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">26. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bu 
				haftalarda durup dururken karnınızda kasılma ve gevşemeler 
				olabilir. Adet krampları gibi, ağrısız ve düzensiz aralıklarla 
				gelen bu kasılmalara ‘Braxton-Hicks’ denilir. Normal karşılanır 
				çünkü rahminiz doğum sancıları için antreman yapar. Genellikle 
				30. haftadan sonra başlar ama bu haftalarda da görülebilir. Eğer 
				bu kasılmalar günlük yaşamınızı etkileyecek kadar sık oluyorsa, 
				erken doğum belirtisi olabilir. Bu durumda doktorunuza 
				başvurmalısınız. (Saatte dört kez ya da daha çok ortaya çıkan 
				kasılmalar erken doğum belirtisi olabilir. Böyle durumlarda 
				doktorunuza danışmanızı öneriyoruz.) <br>
				Bu hafta dışarıdan da bebeğin hareketleri hissedilir. <br>
				Rahat bir uyku pozisyonu almalı (birkaç yastıktan destek 
				alabilirsiniz) ve uyumak için fırsatları değerlendirmelisiniz. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">27. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">İkinci 
				trimesterin sonu olan bu hafta, solunum ve uyku problemleriniz 
				olabilir. Özellikle yattığınızda; uykuya dalma konusunda 
				problem, sebepsiz sıkıntı ve nefes darlığı yaşayabilirsiniz. Ya 
				da bilinç altınızdaki endişeler uykuda kabusa dönüşebilir. 
				(Yatmadan önce yarım saat yürüyün ve yatarken kullandığınız 
				yastık sayısını arttırın.) <br>
				Rahminiz göğüs kafesinize yaklaştıkça diyaframınıza baskı yapar 
				ve akciğerleriniz tam olarak şişemediğinden, derin nefes almakta 
				zorlanabilirsiniz. Ama hormonlarınız dakikalık nefes almanızı 
				sağlar ve bebeğinize yeteri kadar oksijen gider. <br>
				Göbek çevrenizdeki kaslar zayıflar ve rahminiz büyüdükçe göbek 
				deliğiniz dışarı doğru çıkar. (Doğumdan sonra kaybolur.) <br>
				Göbek deliğinizden aşağı doğru inen çizgi belirginleşir ve 
				indikçe kalınlaşır. (Doğumdan sonra kaybolur.) <br>
				Bu hafta kilo almaya devam edersiniz. Ama bu durum sağlıklı bir 
				hamilelik için gerekli! (Bu dönemde diyet yapmanız bebeğinizin 
				tam olarak beslenmesini engelleyeceğinden, kesinlikle tavsiye 
				edilmez.) </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">28. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bu hafta 
				hamileliğinizin en zor dönemlerinden biri olan üçüncü trimester 
				yani son üç aya girersiniz. Bacak krampları, basur, varisler, 
				kaşıntılı cilt çatlakları, bel ağrıları, ayağınızda şişmeler, 
				mide yanması, hazımsızlık gibi şikayetler bu dönemde artacaktır. 
				(Geçici ve tedavi edilebilir durumlardır. Çözümü için 
				doktorunuza danışın.) <br>
				Soğuk algınlığı riskine karşı C Vitamini içeren çilek, portakal, 
				kivi, brokoli gibi meyve ve sebzeleri bol tüketmelisiniz. <br>
				Bu haftada memelerinizde sızıntı başlayabilir. Ama başlamaması 
				daha sonra süt veremeyeceğiniz anlamına da gelmez. <br>
				Rahim büyüklüğünüz neredeyse kaburgalarınızın seviyesine ulaşır.
				<br>
				28. haftada doktorunuz sizden glukoz yükleme testi ister. Ayrıca 
				eğer kan uyuşmazlığınız varsa doktorunuza bunu 
				hatırlatmalısınız. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">29. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bu haftadan 
				itibaren ellerinizdeki şişlikler artabilir hatta yüzükleriniz 
				dar gelebilir. ( Parmağınızı sıkan yüzüğünüz varsa çıkarmakta 
				fayda var.) El ve yüzünüzdeki şişmeler çok oluyorsa doktorunuza 
				başvurun. <br>
				Bacaklarınızda kramp ve kasılmalar hissederseniz bu kalsiyum 
				eksikliğinden değil, magnezyum ve kalsiyum dengesizliğinden 
				kaynaklanır. ( Doktorunuza danışarak magnezyum takviyesi 
				alabilirsiniz.) <br>
				Sizi yoracak egzersizlerden uzak durun. Yürümek, jogging ve 
				yüzmek gebelik için en iyi egzersizler! Yüzmeye bir sorun 
				çıkmadığı sürece, doğuma kadar devam edebilirsiniz. (Girdiğiniz 
				havuz ya da denizin temiz olduğundan emin olun.)</font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">30. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">
				Hamileliğinizin bu döneminde uykusuzluk yaşayabilirsiniz. Sizin 
				için en iyi yatış pozisyonu sol tarafınıza ve yan olarak yatmak 
				olur. Çünkü kanı kalbe geri taşıyan ana toplardamarlar 
				karnınızın sağ tarafında. Sol yanınıza yatmanız, bu damarların 
				basıncını düşürür. Bu da kanın organlardan kalbe dönüşünün en 
				iyi şekilde olmasını sağlar. ( Bu şekilde uyumaya özen gösterin 
				ve karnınızın altına bir yastık koyun.) <br>
				Eğer mide yanması (reflü) yaşıyorsanız yemekten hemen sonra 
				uzanmamanız gerekir. Simit, poğaça türü yiyecekler veya asitli 
				yiyecekler ya da midenin aşırı dolması reflüyü tetikler. 
				Yatarken vücuduzun üst kısmını, alt kısmından daha yüksekte 
				tutarsanız, midenizden gelen asit yemek borunuza kaçmaz. Yeterli 
				olmazsa doktorunuza başvurun. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">31. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bu haftada 
				sık sık rüya görebilirsiniz. Sebebi hamileliğinizin biyokimyanız 
				üzerinde yaptığı değişimler. (Uyandığınızda hemen rüyanızı not 
				edin, yoksa saniyeler içinde unutursunuz!) <br>
				Sırt ağrılarınız devam edebilir. Egzersiz ve gerilme hareketleri 
				yapabilir, eşinizden masaj isteyebilirsiniz. <br>
				Gebelikte vücudunuz ‘relaksin’ hormonu salgılar. Bu şekilde 
				bebeğinizin doğması için gerekli pelvis rahatlığını ve hareket 
				kabiliyetini sağlar. <br>
				Bebeğiniz büyüdükçe göğsünüz sıkışabilir ve göğüs ağrısı 
				yaşayabilirsiniz. Bebeğiniz ve içinde yüzdüğü sıvı arasındaki 
				oran daraldıkça, daha önce fark etmediğiniz küçük hareketler 
				bile rahatsızlık verebilir. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">32. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bu hafta 
				sonunda yasal olarak doğum izniniz başlar. Bu haftadan itibaren 
				doktorunuza iki haftada bir gitmelisiniz. <br>
				Doğumun ne kadar sancılı olacağını bilemezsiniz ama 
				araştırmalara göre doğumdan önce eğitim alan anneler daha hafif 
				doğumlar yaşıyor. Bu haftalarda doğumun nasıl olacağı konusunda 
				sorular sormaya başlayabilirsiniz. <br>
				Ayrıca erken doğumun belirtilerini öğrenip, takip etmelisiniz.
				<br>
				Bol sıvı içerek, az ve sık yiyerek sindirim sistemiyle ilgili 
				sorunlarınızı azaltabilirsiniz. ( Özellikle yüksek lifli 
				yiyecekler tüketin.) <br>
				Bacaklarınıza çok sık kramp giriyorsa kalsiyuma ihtiyacınız 
				olabilir. <br>
				Vitamin destekli beslenmeye doğuma kadar devam edin. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">33. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bebeğiniz 
				son dönemlerde hızlı kilo alır. Doğuma yaklaştıkça siz de daha 
				hızlı kilo aldığınız fark edebilirsiniz. <br>
				Hamileliğinizin ilerlemesine rağmen karnınız fazla büyümemiş 
				olabilir. Eğer doktorunuz normal buluyorsa, bu sizin yapısal 
				özelliklerinize bağlı bir durumdur. <br>
				El ve ayak bileklerinizdeki şişmeler normal ama bu şişmeler 2 – 
				3 gün içinde aniden artarsa, şiddetli baş ağrılarınız, sinek 
				uçuşması ve şimşek çakması gibi belirtiler, karın ağrısı, 
				bulantı veya kusma gibi rahatsız durumlar yaşarsanız 
				‘preeklampsi’ (gebelik zehirlenmesi) söz konusu olabilir. Zaman 
				kaybetmeden doktorunuza danışmalısınız. <br>
				Vücut dokularınız sıvı tuttuğu için bu dönem elleriniz 
				uyuşabilir. <br>
				Artık bebeğinizin diz ve dirsek vurmalarını ayırt edebilirsiniz.
				<br>
				Bazen de küçük ve ritmik vuruşlar hissedebilirsiniz. Paniğe 
				gerek yok çünkü bu bebeğinizin hıçkırıkları! </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">34. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">
				Braxton-Hicks kasılmaları bu haftadan itibaren sıklaşmaya 
				başlayabilir. ( Gerçek doğum sancılarının aksine kısa süreli, 
				düzensiz ve ağrısızdırlar. ) Bu kasılmaları yaşamak iyidir çünkü 
				bu vücudunuzun doğuma hazırlandığını gösterir. <br>
				Bu haftalarda fiziksel ve ruhsal durumunuz sebebiyle cinsel 
				isteğiniz azalmış hatta yok olmuş olabilir. ( Kendinizi 
				zorlamayın çünkü eşiniz bunu anlayışla karşılayacaktır. ) <br>
				Ama genel olarak doktorunuz yasaklamadığı sürece cinsel ilişkiye 
				girebilirsiniz. Kendiniz için (karnınıza baskı olmayacak 
				şekilde) en rahat pozisyonu belirlemelisiniz. Orgazm sırasında 
				rahminizde kısa süreli kasılmalar olabilir ama bu bebeğinize 
				zarar vermez. <br>
				Dinlenmek için kendinize biraz daha zaman ayırın. Fazla 
				enerjinizi almayacak ama sizi mutlu edecek aktiviteler yapın.
				<br>
				Bebeğinizin böbrek üstü bezlerinden salgılanan hormonlar 
				yüzünden süt üretmeye başlayabilirsiniz. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">35. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Dikkat 
				etmeniz gereken en önemli şey bebeğinizin hareketleri çünkü bu 
				hareketler bebeğinizin kas gelişimi için çok önemli! Eğer aç, 
				yorgun ya da uykusuzsanız, nispeten daha az hareket eder. 
				Hareketleri aniden kesilirse problem olması gerekmez ama ileri 
				inceleme amacıyla NST (nonstres testi) yaptırmanız gerekebilir.
				<br>
				Bu haftalarda; halsizlik ve yorgunluk, uykusuzluk ve kilo artışı 
				yaşayabilirsiniz. Dolayısıyla hareket yeteneğiniz de kısıtlanır. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">36. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Artık doktor 
				ziyaretleriniz haftada bir olacak! <br>
				Aklınızda ‘doğum nasıl olacak’ düşüncesi olabilir. Doğum 
				yapacağınız yeri ve odayı önceden görmek sizi rahatlatabilir. 
				Artık tüm gelişmiş ülkelerde ve ülkemizde hem normal doğumda hem 
				de sezeryanda ‘epiduralli’ doğum yaygın. Bu yöntem %90 ağrısız 
				ve konforlu bir doğum sağlıyor. ( Epidural hakkında bilgi sahibi 
				olmak ve uygulanma ihtimali için doktorunuza danışın.) <br>
				Bu hafta karnınızın aşağı doğru indiğini görebilirsiniz. Mide 
				yanması, nefes darlığı ve kaburga ağrısı gibi şikayetleriniz 
				azalır. Bu durum aynı zamanda bebeğinizin doğum kanalına 
				girdiğini ve doğumun yaklaştığını da gösterir.</font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">37. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bebeğiniz bu 
				dönemde her gün 25-30 gram daha ağırlaşır ve yeri giderek 
				daralır. ( Özellikle göğüs kafesinizin alt bölgesindeki 
				hareketleri daha farklı hissedersiniz. ) <br>
				Doktorunuz sizden ‘çatı’ ya da ‘pelvis’ muayenesi isteyebilir. 
				(Doğuma engel olabilecek bir çatı darlığını önceden tespit etmek 
				için.) <br>
				Tuvalet ihtiyacınız hamileliğinizin ilk zamanlarındaki gibi 
				artar. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">38. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bu hafta 
				bebeğiniz ve hamileliğiniz gelişimi tamamlanmış olarak kabul 
				edilir! <br>
				Doğumların %75’i, 38. ve 42. haftalar arasında gerçekleşir. 
				Artık doğum sancıları her an başlayabileceğinden, nasıl olacağı 
				hakkında bilgi sahibi olmalısınız. ( Gerçek doğum eyleminin en 
				önemli özelliği kasılmaların düzenli aralıklarla olmaları! Önce 
				daha az sıklıkta ve düzenli gelen doğum sancıları, bir evreden 
				sonra 10 dakikada üç kez ortaya çıkmaya başlar ve her bir 
				kasılma 50 saniye sürer. Ayrıca gerçek doğum kasılmaları 
				dinlenerek geçmez! Şiddeti zamanla artıyor, ağrılar geçmiyor ve 
				düzenli geliyorsa hastaneye gitme zamanı! ) <br>
				‘Nişan’ denilen hafif kanlı ve sümüksü akıntı, bebeğinizin 
				koruyucu tıkacını attığı anlamına gelir. Nişanın atılmasından 
				iki gün sonra doğum genellikle başlar. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">39. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bu hafta 
				içinde doğum yapma olasılığınız oldukça yüksek! Her annede 
				doğum, kasılmalarla başlamayabilir. Kanamanız olduğunda, 
				bebeğinizin hareketlerinde azalma hissettiğinizde, suyunuz 
				geldiğinde veya herhangi bir anormallik hissettiğinizde hemen 
				hastaneye gidin! <br>
				Zaman zaman bacaklarınızda elektrik çarpması gibi bir his 
				olabilir. (Sebebi bebeğiniz hareket ederken rahminizin 
				etrafındaki sinirlere dokunması.) </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#D80075" size="2">40. Hafta <br>
				</font><font face="Tahoma" color="#635B52" size="2">Bu hafta 
				içinde ya da en geç haftasonunda, sabırla beklediğiniz doğumun 
				gerçekleşme olasılığı çok yüksek! <br>
				Hastaneye en kısa sürede ulaşmak için gerekli tüm hazırlıkları 
				yapın. </font>
</p>