<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Düşükler</font><font face="Tahoma" size="2"></font>
</p>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" size="2" class="title-color">
												Önlenemez düşük (abortus 
												inscipiens):</font><font face="Tahoma" color="#635B52" size="2">
												Rahim ağzında açılma ile 
												birlikte bele ve kasıklara vuran 
												ağrı ve kanama ile kendini belli 
												eder. Rahim ağzı ve/veya bebeğin 
												içinde bulunduğu kese açılmışsa 
												düşük kaçınılmazdır. Ya 
												kendiliğinden kısa süre içinde 
												düşükle sonuçlanır, ya da kanama 
												ve enfeksiyon riski nedeni ile 
												doktorunuz tarafından gebelik 
												tahliye edilir.</font>
</p>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" size="2" class="title-color">
												Gecikmiş düşük (missed abortus):</font><font face="Tahoma" color="#635B52" size="2">
												Fetusun ölümünden sonra gebelik 
												ürünlerinin uterusta kalmasına 
												verilen isimdir. Çok sık 
												görülmese de kanda bir takım 
												pıhtılaşma sorunlarına yol 
												açabilir. Doktorunuz tarafından 
												gebelik tahliye edilmelidir.</font>
</p>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" size="2" class="title-color">
												Boş gebelik (anembrionik 
												gebelik):</font><font face="Tahoma" color="#635B52" size="2">
												Gebelik kesesi içinde, yolc sac 
												(yumurta kesesi) varlığı veya 
												yokluğunda embrio gelişmemesine 
												veya çok erken dönemde gelişmesi 
												durarak kaybolmasına verilen 
												isimdir. Doktorunuz tarafından 
												gebelik tehliye edilmelidir.</font><font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">.</font>
</p>



<br>
<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Düşük Sonrası Komplikasyonlar</font>
</p>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 16px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2">
					Düşük sırasında veya sonrasında kanama hayatı tehdit edici 
					boyutlara ulaşabilir. Gebelik büyüdükçe kan kaybı ihtimali 
					artar. Enfeksiyon, rahim içinde yapışıklıklar ve kısırlık 
					diğer oluşabilecek sorunlardır. </font>
</p>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2">
					Kürtaj işlemi sırasında gebelikte uterus duvarı yumuşak 
					olduğu için perforasyon (delinme) olabilir. </font>
</p>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2">
					Çoğul gebeliklerde birinin kaybı sonrasında diğerinin 
					canlılığını devam ettirmesi sık görülür. Bazen yeterli anne 
					bakımı ile düşükler önlenebilir. Diyabet, hipertansiyon gibi 
					anne hastalıkları kontrol altına alındığında bile bu ihtimal 
					azalmaktadır. </font>
</p>


<br>

<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Rahim Ağzı Problemleri</font>
</p>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 16px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2" >
					Polip, erozyon gibi rahim ağzında kanamaya neden olabilecek 
					durumlarda erken doğum veya düşük riski olmaksızın kanamalar 
					olmaktadır. Bu gibi durumlar ancak vajinal muayene ile 
					tespit edilebilir. </font>
</p>

<br>

<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Tekrarlayan Düşükler</font>
</p>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 9px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2">
					20. gebelik haftasından önce, 500 gr'dan az, 2 veya daha 
					fazla birbirini takip eden gebelik kaybına verilen isimdir. 
					%1 kadın tekrarlayan gebelik yaybı yaşar. Bie kez düşük 
					yapmışsa , %15, tekrarlayan kayıplarda bunun yaklaşık 2 katı 
					yeniden düşük yapma ihtimali vardır. </font>
</p>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2">
					Diğer faktörler anne yaşı ve düşüğün karyotip denilen 
					genetik özelliğidir. Karyotip anormal olduğunda tekrarlama 
					ihtimali daha fazladır. Tekrarlayan gebelik kaybı yaşayan 
					çiftlerin eve canlı bebek götürebilme ihtimali yaklaşık %60 
					dır. </font>
</p>
<ul style="text-align: left; margin-left: 23; margin-top: 0; margin-bottom: 0" type="circle">
    <li>
        <p style="margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" size="2">
                <i class="ion-female"></i>
                Kromozom 
						bozuklukları </font>
        </p>
    </li>
    <li>
        <p style="margin: 0 0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">
                <i class="ion-female"></i>Uterus 
						anormallikleri </font>
        </p>
    </li>
    <li>
        <p style="margin: 0 0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">
                <i class="ion-female"></i>
						Antifosfolipid sendrom</font>
        </p>
    </li>
    <li>
        <p style="margin: 0 0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">
                <i class="ion-female"></i>Trombofili</font>
        </p>
    </li>
</ul>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2">
					tekrarlayan gebelik kayıplarının başlıca sebepleridir. </font>
</p>
<ul style="text-align: left; margin-left: 16; margin-top: 0; margin-bottom: 0" type="square">
    <li>
        <p style="margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" size="2">Her iki 
						ebeveynin de soyağacı ve karyotip analizi yapılmalıdır.
						</font>
        </p>
    </li>
    <li>
        <p style="margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" size="2">Uterus 
						anormallikleri doğuştan rahimde şekil bozuklukları, 
						Ascherman sendromu veya servikal yetersizlik gibi 
						edinilmiş bozukluklar olabilir. Anatomik bozukluklara 
						bağlı kayıplar genellikle 2. 3 ayda meydana 
						gelir.Histeroskopi denilen kamera ile rahim içinin 
						gözlenmesi ile veya histerosalpingografi dediğimiz rahim 
						içini gösteren ilaçlı film ile anlaşılabilir.Düzeltmeden 
						sonra %75-80 başarı oranları mevcuttur. </font>
        </p>
    </li>
    <li>
        <p style="margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" size="2">
						Antifosfolipid sendrom, bir tür kollajen doku 
						hastalığıdır. Mevcut hastalık tedavi edilmelidir. </font>
        </p>
    </li>
    <li>
        <p style="margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" size="2">Hormonal 
						sebepler tiroid bozuklukları, kontrol altında olmayan 
						diyabet'dir. Polikistik over hastalığı, progesteron 
						yetmezliği diğer tartışmalı hormonal sebeplerdir.</font>
        </p>
    </li>
    <li>
        <p style="margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" size="2">
						Enfeksiyonlarla tekrarlayan düşükler arasında bir neden 
						sonuç ilişkisi oluşturulamamıştır. </font>
        </p>
    </li>
</ul>
