<p style="margin:0 0px; " align="left">


    <font class="page-title">
				Antenatal (Doğum Öncesi) Bakım</font>
    </span><font face="Tahoma" size="2"></font>
</p>
<p style="line-height: 110%; margin-top: 12px; margin-bottom: 0" align="center">
    <img border="0" src="img/gebelikimages02.jpg">
</p>
<p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 10px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												Gebelik sırasında yapılan 
												kontroller ve testlerin amacı 
												sağlıklı bir gebelik süreci ve 
												problemsiz bir doğum sürecidir. 
												Gebelik öncesi değerlendirme 
												yapılmamışsa ayrıntılı öykü, 
												fizik muayene ve testler ilk 
												muayene sırasında yapılır. Genel 
												sağlık durumu, varsa önceki 
												gebelikler sırasında yaşanan 
												problemler, ilaç ve madde 
												kullanımı (sigara, alkol vb) 
												anne yaşı gibi faktörler 
												değerlendirilerek riskler 
												belirlenir. </font>
</p>
<p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 10px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												İlk 3 ayda 11+0-13+6 haftalar 
												arasında down sendromu ve 
												trisomi 18 için ikili tarama 
												testi, ense kalınlığı ölçümü, 
												burun kemiğinin varlığı ile 
												doppler USG ve genel anatomik 
												değerlendirme yapılarak risk 
												hesaplaması yapılır. Bu yanlızca 
												bir tarama testi olup şüpheli 
												sonuçlar çıkması halinde daha 
												ileri değerlendirme için yol 
												gösterici olmaktadır.<br>
												16-18 haftalar arasında ikili 
												test yapılamamış ile üçlü veya 
												dörtlü test yine aynı amaçlarla 
												yapılabilir. Eğer ikili test 
												yapıldı ve sonuçları normalse 
												yalnızca MSAFP bakılarak nöral 
												tüp defekti için tarama 
												yapılabilir. </font>
</p>
<p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 10px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												Erken doğum riskini belirlemek 
												için 18-24. haftalar arasında 
												servikal uzunluk ölçülür. 30 mm 
												ve üzeri servikal uzunluk riskin 
												az olduğunu gösterir. Erken 
												doğum belirtileri başladığında 
												risk tayini için ek olarak 
												servikavajinal fetal fibronektin 
												ölçümü de bakılabilir ve negatif 
												olduğunda 2 hafta içinde erken 
												doğum olma ihtimalinin çok az 
												olduğunu gösterir ( %94-99)</font>
</p>
<p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 10px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												24.-28.haftalarda gestasyonel 
												diyabet taraması yapılmalı, aile 
												öyküsü veya önceki gebelikte 
												diyabet varlığı durumunda daha 
												erkene alınmalıdır.Açlık kan 
												şekeri tespiti sonrasında 50 gr 
												oral glukoz içirilerek 1 saat 
												sonra tekrar kan şekerine 
												bakılır. Açlık değeri &lt; 95mg/dl 
												, 1. saat değeri &lt; 140 mg/dl 
												olmalıdır. Daha yüksek 
												değerlerde 100 gr OGTT ile açlık 
												ve 1.-2.-3. saat değerlerine 
												bakılır. Bu dört değerden 
												ikisinin yüksek olması durumunda 
												gestasyonel diyabet tanısı 
												konulur. </font>
</p>
<p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 10px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												Bu tarama testleri ve takiplerle 
												gebe 7. aya kadar her ay takip 
												edilmiş olur. Her ay bunların 
												yanı sıra kan sayımı ve idrar 
												tetkiki, diyabet tespit 
												edildiyse yakın kan şekeri 
												takipleri yapılmalıdır. 34. 
												haftadan itibaren önce 2 hafta, 
												daha sonra 1 hafta ara ile 
												doğuma kadar kontroller yapılır. 
												35. haftadan itibaren , riskli 
												gebeliklerde daha erken 
												başlanarak ve daha yakın Non 
												Stres Test ( NST ) takibi 
												yapılır. </font>
</p>
<p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 10px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												37. hafta dolduğunda doktorunuz 
												tarafından yapılan muayene ile 
												normal doğum için bir engel olup 
												olmadığına bakılmaktadır.</font>
</p>