<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Mol Gebelik (Üzüm Gebeliği)</font>
</p>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 9px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2">
					4 ayrı formu vardır. </font>
</p>
<ul style="text-align: left; margin-left: 16; margin-right: 0; margin-top: 0; margin-bottom: 0" type="square">
    <li>
        <p style="margin: 0 0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">Hidatiform 
						mol (komplet mol, inkomplet mol) </font>
        </p>
    </li>
    <li>
        <p style="margin: 0 0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">İnvaziv Mol
						</font>
        </p>
    </li>
    <li>
        <p style="margin: 0 0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">
						Koryokarsinom </font>
        </p>
    </li>
    <li>
        <p style="margin: 0 0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">Plasental 
						site sitotrofoblastik (Plasental yatak kaynaklı) tümör</font>
        </p>
    </li>
</ul>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 12px; margin-bottom: 0" align="left">
    <font face="Tahoma" size="2" class="title-color">HİDATİFORM MOL</font>
</p>
<p style="margin: 0 0px" align="left">
    <font face="Tahoma" size="2" color="#635B52">Rahim içini 
					dolduran çok sayıda üzüm benzeri vezikülden oluşan sıklıkla 
					sağlam bir fetusun olmadığı anormal gebelikle 
					karakterizedir. Bazen de sıradan bir düşükle ayırımı güç 
					olabilir. Gebeliğin ilk yarısında kanaması olan, vezikül 
					düşüren, hiperemezis gravidarum'u (aşırı gebelik bulantısı) 
					olan, veya 24. haftadan önce preeklampsi gelişen her hastada 
					akla gelmelidir. Fetal kalp seslerinin olmayışı, uterusun 
					beklenenden büyük olması durumunda akla gelmelidir. Kesin 
					tanı ultrasonografi ve Bhcg takipleri ile ve küretaj 
					materyalinin patolojik incelenmesi ile konur.</font>
</p>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
    <font face="Tahoma" size="2" class="title-color">
					Klasik semptomlar: </font>
</p>
<ul style="text-align: left; margin-left: 16; margin-top: 0; margin-bottom: 0" type="square">
    <li>
        <p style="margin: 0 0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">-Aşırı 
						bulantı,</font>
        </p>
    </li>
    <li>
        <p style="margin: 0 0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">
						-Hipertiroidi,</font>
        </p>
    </li>
    <li>
        <p style="margin: 0 0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">-Anormal 
						Uterin büyüme </font>
        </p>
    </li>
    <li>
        <p style="margin: 0 0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">
						-Preeklampsi'dir.</font>
        </p>
    </li>
</ul>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
    <font face="Tahoma" size="2" class="title-color">
					Komplet mol:</font><font face="Tahoma" color="#635B52" size="2">
					46+ XX veya XY kromozom sayısına sahiptir. Paternal (baba) 
					kaynaklı kromozomlar içerir. Boş bir yumurtanın bir( duplike 
					olmuş ) veya iki adet sperm tarafından döllenmesi ile 
					oluşur. Fetus gelişmez. Klasik mol gebelik belirtileri daha 
					sık görülür. % 20-30 persiste mol'e dönüşür. Yüksek riskli 
					hastalarda kemoterapi tedaviye eklenebilir.</font>
</p>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
    <font face="Tahoma" size="2" class="title-color">
					Parsiyel mol:</font><font face="Tahoma" color="#635B52" size="2">
					69 XXX veya XXY kromozom yapısına sahiptir. Çekirdeği olan 
					bir yumurtanın bir( duplike olmuş ) veya iki sperm 
					tarafından döllenmesi ile olur. Embryo vardır. Klasik 
					semptomlar nadir görülür. Bir düşükten ayırt edilmesi, 
					materyalin patolojik incelemesi olmazsa oldukça zordur. &lt;%5 
					persite mol' e dönüşür. </font>
</p>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 12px; margin-bottom: 0" align="left">
    <font face="Tahoma" size="2" class="title-color">
					İNVAZİV MOL</font>
</p>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2">
					Mol gebelik nedeni ile küretaj yapılan hastaların %20sinde 
					görülür. Rahim duvarının kas tabakasına ( myometrium ) 
					yerleşmiştir.</font>
</p>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 12px; margin-bottom: 0" align="left">
    <font face="Tahoma" size="2" class="title-color">
					KORYOKARSİNOM</font>
</p>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 0" align="left">
    <font face="Tahoma" size="2" color="#635B52">Her tür 
					gebeliğe eşlik edebilir veya takiben oluşabilirSıklıkla 
					doğum sonrası geç başlayan kanama olarak kendini gösterir 
					.büyümüş rahim, yumurtalıklar ve vajende kitleler olabilir. 
					Histolojik tanı konduktan sonra acilen tedaviye 
					başlanmalıdır.</font>
</p>
<p style="margin-left: 0px; margin-right: 0px; margin-top: 12px; margin-bottom: 0" align="left">
    <font face="Tahoma" size="2" class="title-color">
					PLASENTAL YATAK KAYNAKLI TROFOBLASTİK TÜMÖR (PSST) :</font><font face="Tahoma" color="#635B52" size="2">
					Her tür gebelik sırası ve sonrasında görülebilir.</font>
</p>