<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
-->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->

    <!-- factory  js-->
    <script src="js/factory/menufactory.js"></script>
    <script src="js/controllers/question.js"></script>
    <script src="js/directives/backImg.js"></script>
    <script src="js/directives/scroll_render.js"></script>

    <script src="js/app.js"></script>
</head>

<body ng-app="starter" ng-controller="MainCtrl" class="platform-ios platform-cordova platform-webview">

    <!-- The nav bar that will be updated as we navigate -->
    <ion-nav-bar class="bar-positive" animation="nav-title-slide-ios7">
    </ion-nav-bar>

    <ion-side-menus>

        <!-- Left menu -->
        <ion-side-menu side="left">
            <ion-content scroll="true" class="slide-menu-content">
                <img src="img/emineozelbanner.png" style="width:100%;margin-bottom:-5px" ng-click="setPage('partials/main.html', 'Ana Sayfa')">
                <div class="list">
                    <div ng-repeat="mainMenuItem in menuItems">
                        <ion-item class="item-stable" ng-click="toggleGroup(mainMenuItem)" ng-class="{active: isGroupShown(mainMenuItem)}">
                            <i class="icon" ng-class="mainMenuItem.icon"></i>
                            <!-- <i class="icon" ng-class="isGroupShown(mainMenuItem) ? 'ion-minus' : 'ion-plus'"></i> -->
                            {{mainMenuItem.title}}
                        </ion-item>
                        <div back-img="img/bgcenter467x472px.png">
                            <!-- Sub Menu Item-->
                            <ion-item class="item-accordion sub-menu-item" ng-repeat="subMenuItem in mainMenuItem.subMenuList" ng-show="isGroupShown(mainMenuItem)" ng-click="setPage(subMenuItem.page, subMenuItem.title)">
                                <i class="icon " ng-class="subMenuItem.icon"></i>
                                {{subMenuItem.title}}
                            </ion-item>
                        </div>
                    </div>
                    <div style="margin-left:-2px">
                        <ion-slide-box does-continue="true" auto-play="true" slide-interval="4000" show-pager="false">
                            <ion-slide>
                                <img border="0" style="width:100%" src="img/bgcenter173x234px07.png">
                            </ion-slide>
                            <ion-slide>
                                <img border="0" style="width:100%" src="img/bgcenter173x234px.png">
                            </ion-slide>
                            <ion-slide>
                                <img border="0" style="width:100%" src="img/bgcenter173x234px12.png">
                            </ion-slide>
                            <ion-slide>
                                <img border="0" style="width:100%" src="img/bgcenter173x234px16.png">
                            </ion-slide>
                            <ion-slide>
                                <img border="0" style="width:100%" src="img/bgcenter173x234px27.png">
                            </ion-slide>
                            <ion-slide>
                                <img border="0" style="width:100%" src="img/bgcenter173x234px4.png">
                            </ion-slide>
                            <ion-slide>
                                <img border="0" style="width:100%" src="img/bgcenter173x234px69.png">
                            </ion-slide>
                        </ion-slide-box>
                    </div>
                </div>
            </ion-content>
        </ion-side-menu>

        <!-- Center content -->
        <ion-side-menu-content>
            <ion-header-bar class="bar-dark">
                <button class="button button-icon" ng-click="toggleProjects()" ng-init="initApp()">
                    <i class="icon ion-navicon"></i>
                </button>
                <h1 class="title">{{page.title}}</h1> 
            </ion-header-bar>
            <ion-content back-img="img/bgcenter467x472px.png">
                <div class="slide-animate-container content-margin">
                    <div class="slide-animate" animation="slide-left-right" ng-include src="page.link" autoscroll style="padding-top:5px;"></div>


                    <br/>
                    <button class="button button-clear button-block button-assertive ion-ios7-cloud" ng-click="openLeftMenu()">&nbsp;&nbsp; Daha Fazla</button>
                    <br/>
                </div>
            </ion-content>
        </ion-side-menu-content>

    </ion-side-menus>
</body>

</html>
