<div ng-controller="BirthCtrl" align="center">
    <center>
        <table class="normal" bordercolor="#C1C6D9" cellpadding="5" width="90%" border="0" style="border-collapse: collapse">
            <tbody>
                <tr>
                    <td align="left" colspan="2" valign="bottom">
                        <font color="#D80075" face="Tahoma" style="font-size: 14px; font-weight:700">Bebeğiniz ne zaman doğacak, bilmek istemez misiniz?
                      </font> 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2" valign="top">
                        <p style="margin-top: 0; margin-bottom: 0">
                            <font color="#635B52" face="Tahoma" style="font-size: 14px">Aşağıdaki bölüme son adet 
                        tarihinizi girerek "Hesapla" butonuna basınız.</font>
                        </p>
                    </td>
                </tr>                
                <tr>
                    <td colspan="2">
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font color="#635B52" face="Tahoma" style="font-size: 14px">Gün :</font>
                    </td>
                    <td>
                        <select ng-model="selectedDay" style="width:100%">
                            <option ng-repeat="day in days">{{day}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font color="#635B52" face="Tahoma" style="font-size: 14px">Ay :</font>
                    </td>
                    <td>
                        <select ng-model="selectedMonth" style="width:100%;">
                            <option ng-repeat="month in months" value="{{month}}">{{monthNames[month]}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <font color="#635B52" face="Tahoma" style="font-size: 14px">Yıl :</font>
                    </td>
                    <td width="50%">
                        <select ng-model="selectedYear" style="width:100%;">
                            <option ng-repeat="year in years">{{year}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <button class="button button-block button-assertive ion-calculator"
                                ng-click="culatebirthdate()">&nbsp;&nbsp;HESAPLA</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br/>
                    </td>
                </tr>
                <tr ng-show="calculated">
                    <td colspan="2">
                        <i class="ion-ios7-information color-assertive"></i>
                        <font color="#635B52" face="Tahoma" style="font-size: 14px">Bebeğiniz yaklaşık
                            <b class="color-assertive">{{estimatedbirthdate | date : 'dd.MM.yyyy'}}</b> tarihinde doğacak.                            
                        </font> 
                    </td>
                </tr>
                <tr ng-show="calculated">
                    <td colspan="2" >
                        <i class="ion-ios7-information color-assertive"></i>
                        <font color="#635B52" face="Tahoma" style="font-size: 14px">Büyük olasılıkla                             
                            <b class="color-assertive">{{estimatedpregnancydate | date : 'dd.MM.yyyy'}}</b> tarihinde gebe kaldınız.
                        </font>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>