<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Kısırlık nedir?</font><font face="Tahoma" size="2"></font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Kısırlık düzenli cinsel ilişkiye rağmen 1 yıl içinde gebelik 
				olmaması olarak tanımlanır. Genç çiftlerde bekleme süresi daha 
				uzun olabilir. Kadın yaşı 35’in üzerinde ise veya öykü ve fizik 
				muayenesinde kısırlık ile ilişkisi olabilecek herhangi bir bulgu 
				varsa araştırmalar daha erken başlatılmalıdır. </font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Gebelik olabilmesi için haftada en az bir defa cinsel birleşme 
				olmalıdır. Cinsel birleşmenin daha seyrek olduğu durumlarda 
				gebelik şansı azalır. Gebelik olabilmesi için ideal cinsel 
				birleşme sıklığı haftada 2-3 defadır.</font>
</p>