<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Aşılama </font>
    <font face="Tahoma" color="#D80075" size="2">
				(inseminasyon)</font><font face="Tahoma" color="#D80075" style="font-weight:700" size="2"> 
				nedir?</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Aşılama 
				aslında spermle yumurtanın buluşma şansını arttırmak üzere 
				fizyolojiyi desteklemek amacıyla yapılan bir işlemdir. Kadına 
				verilen hap ya da iğnelerle her ay kendiliğinden oluşan bir adet 
				yumurtanın sayısı iki ya da üçe çıkarılırken, erkeğin spermleri 
				de özel bazı yöntemlerle yıkanıp hazırlanır. Böylelikle 
				spermlerin hareketli olanları küçük bir hacimde yoğunlaştırılmış 
				olur. Verilecek çatlama iğneleri ile yumurtaların çatlama zamanı 
				da ayarlanarak hazırlanmış olan spermler rahim içersine özel bir 
				plastik borucuk vasıtasıyla bırakılır ve böylelikle gidecekleri 
				yol da kısaltılarak yumurta ya da yumurtalara kolayca ulaşmaları 
				sağlanır. İyice bilinmelidir ki her çocuğu olmayan kişiye 
				aşılama yapılamaz.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">Aşılama öncesi 
				değerlendirme </font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Kısırlık nedeni ile başvuran çiftlerde kısırlığın nedenini 
				saptamaya yönelik tetkikler:</font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Erkekte: Semen analizi ( spermiyogram )<br>
				Kadında: Jinekolojik muayene, Rahim ve tüplerin 
				değerlendirilmesi için rahim filmi (HSG) <br>
				Yumurtalıkların kapasitesini değerlendirmek amacıyla hormon 
				testleri, <br>
				Bazı özel durumlarda tanısal laparoskopi veya histeroskopi 
				yapılabilir.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2"  class="title-color">Aşılama (IUI) Hangi 
				Durumlarda Uygulanır?</font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Aşılama 
				pek çok infertilite durumlarında uygulaması kolay, pratik, 
				nispeten ekonomik ve risksiz bir işlem olduğu için pek çok 
				durumda ilk tercih edilen yöntemdir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">En 
				sıklıkla:<br>
				</font>

    <font face="Tahoma" size="1">1.</font><font face="Tahoma" color="#635B52" size="2"> Düşük sperm sayı veya hareketlilik oranı (Erkek faktörü).<br>
				</font>

    <font face="Tahoma" size="1">2.</font><font face="Tahoma" color="#635B52" size="2"> Endometriosis.<br>
				</font>

    <font face="Tahoma" size="1">3.</font><font face="Tahoma" color="#635B52" size="2"> Açıklanamayan İnfertilite<br>
				</font>

    <font face="Tahoma" size="1">4.</font><font face="Tahoma" color="#635B52" size="2"> Rahim Ağzına ait problemler.<br>
				</font>

    <font face="Tahoma" size="1">5.</font><font face="Tahoma" color="#635B52" size="2"> Sperme karşı antikor varlığı (İmmünolojik İnfertilite).<br>
				</font>

    <font face="Tahoma" size="1">6.</font><font face="Tahoma" color="#635B52" size="2"> Kadında yumurtlamanın olmaması veya yetersiz olması ( 
				Ovulatuar Faktör ).<br>
				</font>

    <font face="Tahoma" size="1">7.</font><font face="Tahoma" color="#635B52" size="2"> Cinsel işlev bozuklukları</font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Aşılama 
				tüm bu durumlarda tercih edilen bir yöntemdir. Ejakülasyon 
				(boşalma) sorunu olan erkeklerde de aşılama zaman zaman 
				başvurulan bir yöntemdir. Boşalma problemlerine şeker hastalığı, 
				multiple sclerosis, travma, retrograd ejakülasyon dediğimiz 
				idrar torbasına spermlerin boşaldığı hastalık, mesane boynu 
				operasyonları, kullanılan bazı ilaçlar sebep olabilir.Aşılama 
				her ne kadar basit bir işlem gibi görülse de mutlaka bu konuda 
				tecrübeli bir jinekolog tarafından yapılmasında fayda vardır.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">Aşılamanın başarı oranı 
				nedir?</font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Aşılama 
				işleminin başarısı her bir deneme için % 10-15’ler civarındadır. 
				Bu oranın daha fazla olmadığı aşılamaya başlayan her çift 
				tarafından bilinmeli ve gebelik oluşmadığında hayal kırıklığı 
				yaşanmamalıdır.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">Aşılama en fazla kaç 
				kere yapılabilir?</font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Deneme 
				sayısı uygulama nedenine, çiftin ihtiyaçlarına ve ekonomik 
				durumuna göre ayarlanır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Elbette 
				bu işlemin yapılabilmesi için en az bir kanalın ya da tüpün açık 
				olması şarttır. Dolayısıyla aşılama işleminden önce rahim filmi 
				çekilmesi de gereklidir.Günümüzde kabul edilen görüş 2 en fazla 
				3 kez aşılama yapılmasıdır. Aşılamadan fayda göreceği 
				düşünülmeyen ya da 2-3 kez aşılama yapılmasına rağmen gebelik 
				oluşmayan kişilerde mutlaka tüp bebek tedavisine geçilmelidir.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">Aşılamada sperm 
				kalitesi ne kadar önemlidir?</font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Eğer 
				erkeğin spermlerinin sayı ve hareketi çok düşük ise aşılamadan 
				beklenecek fayda çok azdır..! Bu sayı ve hareket konusunda tam 
				bir fikir birliği olmasa da genellikle kabul gören görüş erkeğin 
				spermlerine yıkama işlemi uygulandıktan sonra ileri doğru 
				hareketli sperm oranının en az ml'de 1 milyonun üstünde olması 
				gerektiğidir. Diğer önemli bir konu da spermlerin şekil 
				bozukluklarıdır. Aşılama öncesinde sperm şekilleri de boyanmış 
				örneklerde bu konuda tecrübeli kişilerce detaylı olarak 
				değerlendirilmeli ve normal görünümlü sperm sayısının en az% 4-5 
				olması gerekmektedir. Normal şekilli olmayan spermlerin sayı ve 
				hareketleri iyi olsa bile yumurtanın kabuğunu delip içersine 
				girmelerinde problem olabilir.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">Spermlerin Yıkanması 
				(Hazırlama)</font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Aşılama 
				için erkekten alınan semen, laboratuarda yüzdürme ya da gradient 
				adı verilen yıkama işlemlerine tabi tutularak sperm dışındaki 
				tüm salgılardan arındırılır. Böylece şiddetli rahim 
				kasılmalarına sebep olabilen maddeler ve rahimde enfeksiyona 
				sebep olabilecek bakterilerden de temizlenmiş olur.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Ayrıca 
				hareketli olanları daha küçük bir hacimde toplanarak hareket 
				oranları da arttırılmış olur. Sperm yıkama uygulaması spermin 
				yumurtayı dölleme kabiliyetini arttırır. Yıkanmış olan spermler, 
				çok az bir miktarda (0,5 cc) kültür sıvısı içine konularak hem 
				sayı hem de hareketliliği artırılmış olarak aşılamaya hazır hale 
				gelmiş olur.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">Aşılama (İntra Uterin 
				İnseminasyon - IUI) nasıl yapılır?</font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Aşılama 
				basit bir uygulamadır ve sadece bir kaç dakika sürer. Kadın 
				muayene masasına uzandıktan sonra doktor, vajinaya spekülümü 
				yerleştirir, özel olarak hazırlanmış (yıkanmış) olan spermi bir 
				katater (borucuk) aracılığıyla direkt olarak rahmin içine 
				enjekte eder. Böylece spermlerin döllenmenin oluştuğu tüplere 
				daha kolay ulaşması sağlanır. </font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Kadında düzensiz ovülasyon 
				(yumurtlama) görülüyorsa, doktor ovülasyonu (yumurtlama) uyaran 
				ilaçlar verebilir. Eğer açıklanamayan türde bir problem varsa 
				yine aşılamadan gelecek faydayı arttırmak amacıyla kadının 
				normalde bir tane gelişecek yumurtası verilecek ilaçlarla (hap 
				veya iğne) 2 veya 3'e çıkarılabilir. Daha fazla yumurta 
				gelişmesi halinde ise aşılama yapılması uygun olmaz. Çünkü çoğul 
				gebelik olasılığı artacaktır. Merkezimizde yumurtalıkları 
				uyarmak amacıyla normal adet gören kadınlarda iğne ile 
				yumurtallık uyarımı yapılmaktadır. Döllenme olasılığını 
				yükseltmek için IUI (aşılama), bu ilaçların kullanımıyla beraber 
				uygulanırsa kısırlık sebebi bulunmamış çiftlerde gebelik 
				oranlarının yükseldiği görülmektedir.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">Asılama ile ilgili 
				ortaya çıkabilecek sorunlar nelerdir?</font>
</p>
<p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Eğer 
				kontrol edilmesine rağmen 3'den fazla yumurta gelişimi 
				gerçekleşir ise o zaman ya tedavi iptal edilerek o ay ilişki 
				yasaklanmalı, ya da tedavi tüp bebek tedavisine döndürülmelidir. 
				Aksi taktirde çoğul gebelik oluşumu söz konusu olabilir. Son bir 
				seçenek de fazla yumurtaların aspirasyonu (yok edilmesi) yoluyla 
				kalan yumurtalar için aşılama yapılması olabilir. Tüm bu 
				seçenekler normalde son derece az başvurulan nadir durumlardır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Bir 
				diğer istenmeye durum da aşırı uyarılma sendromu (OHSS) 
				dediğimiz yumurtalıkların fazla büyümesi, hormon düzeylerinin 
				çok artması ve karında sıvı toplanması ile giden "Aşırı Uyarılma 
				Tablosu"dur. Bu durumda çok nadiren hastaneye yatırılma ve özel 
				bir tedavi gerekebilir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Aşılama 
				sonrasında gelişme olasılığı çok az olan bir diğer sorun ise 
				iltahaplanma (enfeksiyon) dur. Aşılama yapılırken vajinanın ve 
				rahim ağzının temizliğine yeterince dikkat edilmez ise ve 
				mikrobik bir ortamda aşılama yapılırsa böyle bir promlemle 
				nadiren karşılaşılabilir. Dolayısıyla bu konuda da hekimin 
				dikkatli davranması ve hijyenik kurallara kesinlikle uyması 
				gerekir. </font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">Gebelik testi ne zaman 
				yapılmalıdır?</font><font face="Tahoma" color="#635B52" size="2"><br>
				Aşılamadan 2 hafta sonra kanda gebelik testi ile sonuç 
				araştırılır. Bu 2 haftalık sürede genellikle progesteron vaginal 
				tablet ya da jel kullanılması önerilmektedir. Gebelik olması 
				durumunda 3 hafta sonra fetusu ve kalp atımını görmek için 
				ultrason yapılmalıdır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Son söz olarak yine hatırlatmak isterim ki aşılamadan beklenilen 
				fayda yani gebelik oluşması olasılığı, yumurtlama promlemi olan 
				bayanlar için % 15-20, açıklanamayan tür problemi olan bayanlar 
				için ise % 10-15'dir. Bu oranların çifte aşılamanın başında 
				mutlaka net olarak belirtilmesi ve olması gerekenden daha fazla 
				bir beklentiye girmemeleri sağlanmalıdır.</font>
</p>