<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Korunma Yöntemleri ve Etkinlikleri</font><font face="Tahoma" size="2"></font>
</p>
<ul style="text-align: left; margin-left: 23; margin-right: 23" dynamicoutline="" initcollapsed="">
    <li>
        <p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
													Prezervatif – condom (erkek 
													ve kadın prezervatifleri)</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 3px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
													Takvim yöntemi</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 3px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
													Doğum kontrol hapları</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 3px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
													Rahim içi araçlar (spiral)</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 3px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
													Cilt altı implantlar</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 3px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
													Depo enjeksiyonlar (aylık ve 
													üç aylık iğneler)</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 3px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
													Tüplerin bağlanması </font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 3px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
													Vazektomi (erkeğe uygulanan 
													sterilizasyın işlemi)</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 3px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
													Servikal diafram</font>
        </p>
    </li>
    <li>
        <p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 3px; margin-bottom: 0" align="left">
            <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
													Acil Kontrasepsiyon (ertesi 
													gün hapları).</font>
        </p>
    </li>
</ul>