<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Tüp Ligasyonu (Tüplerin Bağlanması)</font>
</p>
<p style="line-height: 110%; margin-top: 16px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												Aile yapısını tamamlamış, iki 
												veya daha fazla çocuğu olan, 
												otuz yaş üstü hanımlarda % 100 
												'e yakın korumayı sağlayabilen, 
												sürekli doğum kontrol hapı 
												kullanımı, rahim içi araç 
												uygulamalarından kurtulmak ve 
												korunma problemini ortadan 
												kaldırmak amacı ile hanımlarda 
												tüpler in bağlanması uygun bir 
												korunma seçeneğidir.</font>
</p>
<p style="line-height: 110%; margin-top: 10px; margin-bottom: 0" align="center">
    <img border="0" src="img/fallop.jpg" >
</p>
<p style="line-height: 110%; margin-top: 7px; margin-bottom: 0; margin-left:0px; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" style="letter-spacing: 0px" size="2">
												Tüplerin bağlanması klasik açık 
												ameliyat (minilaparotomi ile tüp 
												ligasyonu), göbek deliğinden bir 
												teleskop yarıdımıyla yani 
												laparoskopi yöntemi ile, rahim 
												içerisini görüntülemede 
												kullanılan histereskopi yöntemi 
												ile yapılabilir. Hastanın 
												geçirilmiş ameliyatlara bağlı 
												karın içi yağışıklıkları, 
												laparoskopi yapmaya engel bir 
												rahatsızlığı veya hastalığı yok 
												ise genellikle Laparoskopik Tüp 
												Ligasyonu uygulanır.
												Laparoskopi yöntemi ile yapılan 
												ameliyat sonrası hasta aynı gün 
												veya en geç ertesi gün taburcu 
												edilir.</font>
</p>
