<p style="margin:0 0px; " align="left">

    <font class="page-title">
				Tüp Bebek nedir?</font><font face="Tahoma" size="2"></font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				IVF (Tüp Bebek) basitçe, yumurtaların sperm tarafından vücut 
				dışında, laboratuar koşullarında döllenmesidir. IVF yani In 
				Vitro Fertilizasyon, tüp bebek yönteminin bilimsel adı olup 
				vücut dışında döllenme anlamına gelmektedir. Kadından alınan 
				yumurta erkekten alınan sperm ile aynı tüpe konur ve döllenme 
				gerçekleşir. Normalde her ay 1 yumurta üretilir ve sperm ile 
				buluşma olur. Sperm yumurta buluşması (döllenme) için zamanlama 
				önemlidir. Diğer önemli faktör buluşma güzergahının yani rahim 
				ve tüplerin açık olmasıdır. Uygun kalitede sperm ve yumurta 
				doğru zamanda ve doğru yerde buluşmalıdır. Bu sürecin herhangi 
				bir aşamasında sorun olduğunda gebeliğe ulaşılamaz.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" size="2">Tüp bebek tedavisi, 
					<br></font><font face="Tahoma" size="2">1-</font><font face="Tahoma" color="#635B52" size="2">
				Spermin yumurtaya ulaşmasında problem olan durumlarda; </font>
</p>
<ul style="text-align: left; margin-left: 30; margin-top: 0; margin-bottom: 0" type="square">
    <li>
        <p style="margin-top: 0px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">Tüplerin tıkalı olması,</font>
        </p>
    </li>
    <li>
        <p style="margin-top: 0px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">endometriozis,</font>
        </p>
    </li>
    <li>
        <p style="margin-top: 0px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">anti-sperm antikorların varlığı vb
						</font>
        </p>
    </li>
</ul>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2">
				2-</font><font face="Tahoma" color="#635B52" size="2">
				Sperm fonksiyonlarının bozuk olduğu durumlarda; </font>
</p>
<ul style="text-align: left; margin-left: 30; margin-top: 0; margin-bottom: 0" type="square">
    <li>
        <p style="margin-top: 0px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">azalmış sperm sayısı
						</font>
        </p>
    </li>
    <li>
        <p style="margin-top: 0px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">sperm hareketlerinin normalden az olması vb
						</font>
        </p>
    </li>
</ul>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2">
				3-</font><font face="Tahoma" color="#635B52" size="2">
				Yumurtlama sorunu olanlarda, </font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2">
				4-</font><font face="Tahoma" color="#635B52" size="2">
				Açıklanamayan infertilite problemi olan çiftlerin bebek sahibi 
				olmalarına yardımcı olan bir yöntemdir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Doğal bir siklusta, bir sonraki adet kanamasından 2 hafta önce 
				olgunlaşmış follikülün içerisinden genellikle tek bir yumurta 
				atılır. Follikül, yumurtanın atılmasından önce 16-22 mm'ye kadar 
				büyüyen içi sıvı dolu bir kist, bir keseciktir. Genellikle bir 
				follikül içerisinde tek bir yumurta vardır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Tüp Bebek sikluslarında, amaç birden fazla follikül geliştirip 
				birkaç yumurta birden toplama şansını maksimuma çıkartmaktır. 
				Döllenme gerçekleştikten sonra, en iyi embriyolar seçilip, rahim 
				içerisine konur. Rahim içerisine uygun sayıda embriyo transfer 
				edildikten sonra geri kalan iyi kalitedeki embriyolar daha ileri 
				bir tarihte kullanılmak üzere dondurulabilir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Yumurtlama uyarıcı ilaçlarla yumurtalıklar uyarıldığında 
				genellikle birkaç follikül büyür. Ne var ki, her follikülün 
				büyüme hızı değişken olabildiği için yumurta toplama işlemi 
				yeterli sayıda yumurta olgunlaştığı zaman uygulanır. Bunu 
				sağlamak için, vücudun normal hormonal döngüsünü kontrol altına 
				alan birtakım ilaçlar kombine olarak kullanılır.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">
				Yumurtalıkları uyaran FSH ve LH denen hormonlar beynin içindeki 
				hipofiz bezi tarafından salgılanır. FSH ve LH, yumurtlamadan 
				önce östrojen (E2) ve yumurtlama gerçekleştikten sonra 
				progesteron salgılayan folliküllerin büyümesini sağlar. Östrojen 
				rahim iç duvarı olan endometriumu kalınlaştırır, progesteron ise 
				endometriumu embriyoların yuvalanıp tutunmalarına hazır hale 
				getirir.</font>
</p>