<div ng-controller="MailCtrl">
    
    
    email uygun mu? --> {{emailAvaible}}
    <hr>
    
    Mesaj gönderin!!
    
    <hr>
    
    <button class="button button-assertive" ng-click="sendEmail()">Gönder</button>
    
    <hr>
    
    {{result}}
    
</div>