<p style="margin:0 0px; " align="left">
    <font class="page-title">
				Gebelikte Anne Vücudundaki Değişiklikler</font>
</p>
<p style="line-height: 110%; margin-top: 11px; margin-bottom: 0" align="center">
    <img border="0" src="img/gebelikimages03.jpg" >
</p>
<p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 11px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2">
												Gebelik sırasında annenin vücudu 
												adeta baştan aşağıya tam bir 
												değişime uğrar. Uterus (rahim) 
												kanlanması artar ve büyümeye 
												başlar. Vücutta hormonal 
												değişimlere bağlı olarak düz 
												kaslar gevşer ve bunun sayesinde 
												rahim kasılmalarının doğumdan 
												önce başlaması engellenir. Ancak 
												bunun yanısıra yemek borusundaki 
												gevşemeye bağlı olarak reflü, 
												bağırsaklardaki hareket azlığı 
												sonucu olarak da kabızlık 
												görülmeye başlar. Tansiyon 
												gebelik öncesi döneme göre düşme 
												eğilimindedir. Normal seyreden 
												bir gebelikte tansiyon gebelik 
												öncesine göre yükselmez, eğer 
												yükselme var ise gebeliğin 
												yüksek tansiyon ile seyreden 
												hastalıkları açısından 
												araştırmak gereklidir.</font>
</p>
<p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2">
												5. aydan itibaren Barxton Hicks 
												kasılmaları dediğimiz, düzensiz 
												rahim kasılmaları görülebilir. 
												Doğumun başladığını işaret eden 
												kasılmalar 10 dakikada 2-3 kez , 
												30 saniyeden uzun süren şiddetli 
												kasılmalardır. </font>
</p>
<p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2">
												Gebelikte kan miktarı, kalp atış 
												hızı, kalp debisi artacak, 
												böylece bebeğin oksijen ve 
												beslenme ihtiyacı 
												karşılanacaktır. Solunum hızında 
												artış gebeliğin ilerleyen 
												haftalarında görülebilir. 
												Gebeliğin fizyolojik seyri 
												içinde genellikle ilk ve son üç 
												aylarda sık idrara gitme 
												doğaldır, ancak idrar yaparken 
												yanma ve sızlama gibi 
												semptomların varlığı enfeksiyonu 
												düşündürmelidir.</font>
</p>
<p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2">
												Mide ve barsak sisteminde de; 
												bulantı, hafif mide yanmaları, 
												reflü, kabızlık görülebilecek 
												sindirim sistemi 
												değişiklikleridir. Ancak bu 
												şikayetlerin boyutları arttığı 
												zaman tedavileri gerekir.Meme 
												büyümesi , emzirme dönemine bir 
												hazırlık olduğundan doğal 
												karşılanır ancak herhengi bir 
												kitle farkedilirse mutlaka 
												araştırılmalıdır. </font>
</p>
<p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2">
												Gebelik sırasında vücudundaki 
												değişikliklere adapte olmaya 
												çalışırken bir kadını en çok 
												etkileyen iki durum kilo artışı 
												ve cilt değişiklikleridir. </font>
</p>
<p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2">
												Ortalama ideal kilo artışı 8-12 
												kg arasındadır. çok zayıf 
												kadınlarda daha fazla , 
												obesitede ise daha az kilo 
												alınması hedeflenebilir. Bu 
												durum kesinlikle gebelik 
												sırasında diyet yapmak, kilo 
												vermek olarak algılanmamalı, 
												doktorunuza danışmadan kalori 
												kısıtlamasına gidilmemelidir.</font>
</p>
<p style="line-height: 110%; margin-left: 0px; margin-right: 0px; margin-top: 7px; margin-bottom: 0" align="left">
    <font face="Tahoma" color="#635B52" size="2">
												Kişiden kişiye değişmekle 
												birlikte , gebelik sırasında 
												ciltte hormonlardaki değişime 
												bağlı olarak bir takım 
												değişiklikler olmaktadır. </font>
</p>
<p style="margin-top: 10px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" size="2">Östrojen düzeyinin artmasına bağlı olarak, genellikle 16. 
					haftadan itibaren vücudun çeşitli bölgelerinde ciltte 
					koyulaşma görülmektedir. Başlıcaları; </font>
</p>
<ul style="text-align: left; margin: 0 16">
    <li>
        <p style="margin-top: 10px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
            <font face="Tahoma" size="2" class="title-color">Gebelik Maskesi (Melasma, 
						Kloasma):</font><font face="Tahoma" color="#635B52" size="2"> 
						cillte gebelik sırasında ortaya çıkan; yanaklar, alın, 
						üst dudak ve çenede düzensiz pigment artışıdır.%70-90 
						oarnında görülür ve genellikle gebelik sonrasında 
						ortadan kalkar.Nadiren kalıcı olabilmekte ve bir cildiye 
						uzmanından yardım almayı gerektirmektedir. Ultraviyole 
						ışınlarına maruz kalmakla artabileceğinden, kış 
						aylarında bile en az 15 koruma faktörlü bir nemlendirici 
						tercih etmek faydalı olacaktır. </font>
        </p>
    </li>
    <li>
        <p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
            <font face="Tahoma" size="2" class="title-color">Linea Nigra:</font><font face="Tahoma" color="#635B52" size="2"> 
						Göbek hizasından aşağıya doğru uzanan , orta hatta 
						kalemle çizilmiş gibi düzgün bir çizgi şeklinde görülen 
						pigment artışıdır. Gebelik sırasında hormonlardaki 
						değişime bağlı olarak ortaya çıkar ve daha sonra 
						genellikle kaybolur.</font>
        </p>
    </li>
    <li>
        <p style="margin-top: 3px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
            <font face="Tahoma" color="#635B52" size="2">Meme uçları 
						, genital bölge ve koltuk altlarında , göbek deliğinde 
						koyulaşma , diğer bölgelerde olduğu gibi gebelik 
						sorasında genellikle azalır ve cilt eski rengine 
						kavuşur. </font>
        </p>
    </li>
</ul>
<p style="margin-top: 10px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" size="2">Yine östrojen düzeyinin artışına bağlı olarak 4. aydan 
					itibaren belirginleşen, gebelik dışında görüldüğünde 
					karaciğer hastalığına işaret edebilecek, ancak gebelikte 
					geçici olarak ortaya çıkan damar değişiklikleri olabilir. 
					Bunlardan başlıcaları;</font>
</p>
<ul>
    <li>
        <p style="margin-top: 0; margin-bottom: 0; line-height:110%; " align="left">
            <font face="Tahoma" size="2" class="title-color">Avuç içleri ve ayak tabanlarında kızarıklık:</font><font face="Tahoma" color="#635B52" size="2"> Palmar eritem 
					adı verilir. Östrojen düzeyinin artmasına bağlı olarak 
					görülür. Gebelik dışında ise karaciğerde östrojenin 
					yıkılmasını engelleyen bir sorun olduğuna işaret edebilir. 
					Kaşıntı ve yanmaya sebep olursa nemlendirici ürünlerden, 
					daha inatçı durumlarda doktorunuzun önerisi ile ilaçlardan 
					yararlanılabilir.</font>
        </p>
    </li>
    <li>
        <p style="margin-top: 3px; margin-bottom: 0; line-height:110%; " align="left">
            <font face="Tahoma" size="2" class="title-color">Spider Anjioma:</font><font face="Tahoma" color="#635B52" size="2"> 
						Yine bu sorun da östrojen düzeyindeki artışa bağlıdır. 
						Kılcal damarlarda genişleme ile ortaya 
						çıkmaktadır.Herhangi bir tedaviye gerek yoktur; doğumdan 
						sonra genellikle kaybolur.</font>
        </p>
    </li>
    <li>
        <p style="margin-top: 3px; margin-bottom: 0; line-height:110%; " align="left">
            <font face="Tahoma" size="2" class="title-color">Varisler:</font><font face="Tahoma" color="#635B52" size="2"> Cilt değişikliği olarak tanımlanmasa bile 
					özellikle bacaklarda koyu renk, kalınlaşmış toplardamarların 
					görüntüsü can sıkıcı olabilir. Görünümün yanı sıra ciddi 
					sağlık sorunlarına da işaret ediyor alabilir. Beraberinde 
					bacaklarda ödem ve ağrı uyarıcı olmalıdır. Uzun süre 
					hareketsiz kalmak, sürekli oturmak varisleri ve hemoroid 
					sorununu artırabilir. Bol su içilmeli ve her saat başı 10 
					dakikalığına ayağa kalkıp yürüyüş yapılmalıdır. Doğumdan 
					sonra genellikle azalır ancak kalıcı olduğunda varisler ve 
					hemoroid operasyon gerektirebilir. </font>
        </p>
    </li>
</ul>
<p style="margin-top: 10px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" size="2" class="title-color">Benler:</font><font face="Tahoma" color="#635B52" size="2"> Benlerin kansere dönüşümü çok nadir bir 
					durumdur. Gebelik sırasında yeni oluşan veya büyüyen 
					benler genellikle normal kaul edilir. Ancak şüphe edilen 
					benler için bir cildiye uzmanına danışmakta fayda vardır.</font>
</p>
<p style="margin-top: 10px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" size="2" class="title-color">Akne (Sivilce):</font><font face="Tahoma" color="#635B52" size="2"> 2. aydan itibaren ,gebelikle birlikte 
					hormon düzeylerinin de artması ile önceden var olan akne 
					sorunu artabilir veya hiç yokken bu dönemde ortaya 
					çıkabilir.Ciltte yağlanma sorunu baş gösterir. Cilt tipinize 
					uygun ürünler ile cilt temiz tutulmalıdır. Genellikle ilk üç 
					ayın sonunda bu problem düzelir, nadiren gebelik boyunca 
					devam edebilir. Kozmetik bir sorun olmasına rağmen rastgele 
					ürün seçmemeli, kullanılan ilaçların ciltten emilerek 
					gelişmekte olan fetusa etki edebileceğini unutmamalı; 
					mutlaka doktorunuza danışılarak seçilmelisiniz.Özellikle 
					izoretinoin içeren ilaçların fetusa kanıtanmış zararlı 
					etkileri olduğu bilinmektedir. </font>
</p>
<p style="margin-top: 10px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" size="2" class="title-color">Çatlaklar (Stria Gravidarum):</font><font face="Tahoma" color="#635B52" size="2"> Gebelikte oluşan bütün 
					cilt değişikliklerinin içinde en çok endişe edilen ve kalıcı 
					olan cilt problemi çatlaklardır. Ergenlik döneminde de 
					görülebilen çataklar cildin elastikiyetinin yetersiz kalması 
					sonucu özellikle gebelikte 5. aydan itibaren büyüyen karın 
					cildinde, memeler ve kalçalarda can sıkıcı bir görüntü 
					oluşturmaktadır. Zaman zaman kaşıntı ve rahatsızlık hissi 
					verebilir. İlk oluştuğunda rengi daha çok pembemsi olup 
					doğumdan sonra sedef benzeri parlak beyaz bir renk alır. 
					Koyu renk ciltte daha belirgin bir görüntü oluşturur. İlk üç 
					ayın bitiminden itibaren badem yağı medikal ve kozmetik 
					ürünler kullanılabilr.Ancak hiçbir ürün bunların oluşmasını 
					engelleme veya oluştuğunda iyileştirme iddiasında 
					olmamalıdır. Cilt yapısına bağlı olup bazı hanımlarda hiçbir 
					ürün kullanmamasına rağmen çatlak oluşmamaktadır. </font>
</p>
<p style="margin-top: 10px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" size="2" class="title-color">Saç ve Tırnak Değişiklikleri:</font><font face="Tahoma" color="#635B52" size="2"> Genel olarak vücutta 
					özellikle karın bölgesi ve basenlerde tüylenme artışı 
					görülürken, saçlar gürleşecektir.Bu tüyler genellikle 
					doğumdan birkaç ay sonra dökülür ancak kalıcı olursa 
					epilasyona başvurulabilir. </font>
</p>
<ul>
    <li>
        <p style="margin-top: 0; margin-bottom: 0; line-height:110%; " align="left">
            <font face="Tahoma" size="2" class="title-color">Saç dökülmesi (Telogen affluvium):</font><font face="Tahoma" color="#635B52" size="2"> Genellikle doğum 
					sonrası dönemde görülmektedir. Hormon düzeylerinin gebeliğin 
					sonlanması ile tamamen değişmesi sonucu görülür. 3-6 ay 
					içinde genellikle kendiliğinden düzelir.</font>
        </p>
    </li>
    <li>
        <p style="margin-top: 3px; margin-bottom: 0; line-height:110%; " align="left">
            <font face="Tahoma" color="#635B52" size="2">Tırnak şeklinde değişiklikler olabilir ancak tırnak 
					yapısında ciddi değişiklikler varsa bir cildiye uzmanı 
					tarafından değerlendirilmesi gerekebilir. </font>
        </p>
    </li>
</ul>
<p style="margin-top: 10px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" size="2" class="title-color">Yaygın kaşıntı:</font><font face="Tahoma" color="#635B52" size="2"> Çatlakların oluştuğu bölgede, el ve ayak 
					tabanında görülmesi normal kabul edilir.Ancak tüm vücutta 
					görülen yaygın kaşıntı gebeliğe bağlı karaciğer 
					problemlerinden kaynaklanabilir.Doktorunuz tarafından 
					değerlendirildikten sonra tedavi planlanmalıdır.Sonraki 
					gebeliklerde de tekrarlayabilir.</font>
</p>
<p style="margin-top: 10px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" size="2" class="title-color">Cilt döküntüleri:</font><font face="Tahoma" color="#635B52" size="2"> Döküntülü viral enfeksiyon 
					hastalıklarına veya alerjik durumlara bağlı olabilir. 
					Mutlaka doktorunuza başvurmalısınız. </font>
</p>
<p style="margin-top: 10px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" size="2">Sağlıklı ve mutlu bir hamilelik dönemi geçirmenizi dilerim.
					</font>
</p>
<p style="margin-top: 10px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">
    <font face="Tahoma" color="#635B52" size="2">Op.Dr. Emine ÖZEL</font>
</p>