<p style="margin:0 0px; " align="left">

    <font class="page-title">
				İleri Gebelik Haftalarında (20. haftadan sonra) Kanamaya Yol 
				Açan Durumlar</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">
				Erken Doğum Tehlikesi:</font><font face="Tahoma" color="#635B52" size="2">
				37. gebelik haftasından önce düzenli rahim kasılmaları ile 
				birlikte rahim ağzında kısalma ve açılmanın başlamasıdır. Rahim 
				ağzında açılmaya bağlı olarak kanama görülebilir. </font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">
				Plasenta Previa:</font><font face="Tahoma" color="#635B52" size="2">
				Plasentanın rahim ağzını tam veya kısmi olarak kapatacak şekilde 
				rahimin alt kısmında yerleşmesidir. Rahim kasılmaları 
				başladığında rahim ağzının açılmaya başlaması ve bebeğin doğum 
				kanalına yerleşmesi ile birlikte plasentadan hem anne hem bebeği 
				etkileyecek kanamalar başlar. Ancak kanama her zaman rahim 
				kasılmaları ile birlikte olmaz .Genellikle kırmızı renkli taze 
				kanama şeklindedir. Hayatı tehdit eden, rahimin alınmasını 
				gerektirecek kadar ciddi kanamalar olabilir. Doğum şekli 
				sezeryan olmalıdır.</font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">
				Plasenta dekolmanı:</font><font face="Tahoma" color="#635B52" size="2">
				Normal şartlar altında bebek doğduktan sonra rehimden ayrılıp 
				dışarı atılan plasentanın , gebelik hala devam ederken yerinden 
				ayrılmasıdır. Anne ve bebek hayatını tehdit eden çok ciddi bir 
				sağlık sorunudur. Plasenta yerinden ayrıldığında bebeğe giden 
				kan akışı bozulur ve bebek anne karnında kaybedilebilir. Doğum 
				sonrasında rahimin kasları arasına giren kanama ile de kasılma 
				özelliği bozulacağından anne hayatını tehdit eden, rahimin 
				alınmasını gerektirebilecek kanamalar olabilir. <br>
				Genellikle vişne çürüğü renginde, sulu bir kanama görülür. Bazen 
				kanama bebeğin doğum yolunu kapatması ile kanama olmayabilir. 
				Geçmeyen, uzun süreli kasılmalar mevcuttur. </font>
</p>
<p style="margin-top: 16px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" size="2" class="title-color">
				Rahim ağzı problemleri:</font><font face="Tahoma" color="#635B52" size="2">
				polip, erozyon gibi rahim ağzında kanamaya neden olabilecek 
				durumlarda erken doğum veya düşük riski olmaksızın kanamalar 
				olmaktadır. Bu gibi durumlar ancak vajinal muayene ile tespit 
				edilebilir.</font>
</p>