/* Empty. Add your own CSS if you like */

img {
    width: 100%;
}
.background-green {
    background: #00ff00;
}
.slide-menu-content {} .main-menu-item {
    padding-left: 5px;
}
.sub-menu-item {
    padding-left: 30px;
    background-color: rgba(255, 242, 242, 0);
}
.page-title {
    color: #D80075;
    font-weight: 700;
    font-size: 2;
}
.title-color {
    color: #D80075;
}
.color-assertive {
    color:#ef4e3a;
}

.center {
    text-align: center;
}

.content-margin {
    margin-top: 50px;
    margin: 30px;
}
.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}