<p style="margin:0 0px; " align="left">

    <font class="page-title">
        Doğum normal mi, sezeryan mi?
    </font>
</p>
<p style="margin-top:12px; margin-bottom:0" align="center">
    <img border="0" src="img/what01.jpg" width="375" height="143">
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:14px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#635B52" size="2">Doğumun şekline; eğer 
				önceden bilinen belirli bir sebep yok ise, doğumun işaretleri 
				geldiği zaman karar verilir. Doğum sancılarının başlaması, su 
				gelmesi, nişan (hafif kanama, lekelenme) gelmesi ile doğumun 
				başladığı anlaşılır. Aksi bir durum olmadıkça doğum normal 
				olarak takip edilmeli, takip sırasında gelişecek problemlere 
				göre, gerekli görülürse sezaryen ameliyatı ile doğuma karar 
				verilmelidir. </font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#635B52" size="2">Sezaryen gereksinimi 
				olan durumlar, doğumun takibi sırasında bebek kalp seslerinde 
				zayıflama, anne–bebek ölçülerinin uyumsuzluğu sonucu normal 
				doğumun mümkün olmayacağı durumlardır.</font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#635B52" size="2">Doğum başlamadan 
				sezaryen olacağı bilinen vakalar ise, önceki doğumu sezaryen ile 
				gerçekleştirilmiş gebeler, ultrasonografide bebeğin yan veya 
				ters durması, anatomik olarak şekil bozukluğu (pelvis darlığı), 
				plasentanın (bebeğin eşinin) yerleşim bozukluğu (plasenta 
				previa) gibi durumların olduğu gebeliklerdir.</font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#635B52" size="2">Normal doğum sonrası 
				lohusaların, normal hayatlarına ve aktivitelerine dönmeleri her 
				zaman daha kolay olacaktır. Gelişen teknoloji, kısa ameliyat 
				süreleri söz konusu olsa dahi sezaryen sonuç olarak bir 
				ameliyattır.Mümkün olduğu kadar doğumun şekli "normal doğum" 
				olmalıdır.</font>
</p>
<p style="margin-left:0px; margin-right:0px; margin-top:7px; margin-bottom:0" align="left">

    <font face="Tahoma" color="#635B52" size="2">Normal doğum; gelişen 
				anestezi yöntemleri ile artık hanımların korkulu kabusu olmaktan 
				çıkmıştır. Spinal-epidural anestezi yöntemlerinin gelişmesi ile 
				"ağrısız normal doğum" gerçekleştirilebilmektedir. Spinal 
				anestezi ile de, genel anestezi ile hastayı uyutmaya gerek 
				olmadan sezaryen ameliyatları yapılabilmektedir. </font>
</p>