<p style="margin:0 0px; " align="left">
    <font class="page-title">
				PAP Smear Testi Nedir?</font>

</p>
<p>
    <font face="Tahoma" color="#635B52" size="2">1941 
				yılında Papanicolau tarafından yapılmaya başlanan, rahim 
				ağzından alınan sürüntü ile bu bölgenin kanserlerini erken 
				teşhis etmeyi amaçlayan bir testtir.</font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Cinsel 
				birliktelik başladıktan 3 yıl kadar sonra alınmaya başlanmalı , 
				her yıl düzenli olarak tekrarlanmalıdır. Riskli bir durum 
				saptandığında bu süre 3 ile altı ayda bir olmak üzere 
				kısaltılmaktadır. Hayat boyu düzenli smear aldıran kadınların 
				herhangi bir risk saptanmamışsa 70 yaşından sonra yaptırması 
				gerekmemektedir. </font>
</p>
<p style="margin-top: 7px; margin-bottom: 0; margin-left:0px; line-height:110%; margin-right:0px" align="left">

    <font face="Tahoma" color="#635B52" size="2">Rahim 
				ağzı kanseri , bir takım öncü lezyonlar şeklinde ortaya 
				çıkmakta, yıllar içinde farkedilmediği taktirde kanser olarak 
				karşımıza çıkmaktadır. Erken safhada yakalandığında her kanserde 
				olduğu gibi tedavisi daha kolay olmaktadır. Bu yüzden taramanın 
				önemi büyüktür. </font>
</p>